<main>
    <div class="first-container">
        <div class="head-card-content">
            <div class="child-card" (click)="toggle_student()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="{{urlAsset}}study-group-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Les Etudiants Inscrit</p>
                        <h1>{{studentNumber_inscrit}}</h1>
                    </div>
                    
                </div>
                
            </div>
            <div class="child-card" (click)="toggle_student()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img  src="{{urlAsset}}study-group-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text">
                        <p>Les Etudiants non Inscrit</p>
                        <h1>{{studentNumber_noInscrit}}</h1>
                    </div>
                    
                </div>
                
                
            </div>
            <div class="child-card" (click)="toggle_class()" >
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="{{urlAsset}}school-admission-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Nombres des mentions</p>
                        <h1>{{class_Number}}</h1>
                    </div>
                    
                </div>
                
                
            </div>
            

            <div class="child-card" (click)="toggle_toEmploi()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="{{urlAsset}}booking-confirmed-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Les emplois du temps actif</p>
                        <h1>{{emploiCount}}</h1>
                    </div>
                    
                </div>
                
                
            </div>
           
        </div>
        <!-- -------------------------------------------------------------- -->
        
    </div>
</main>