
<main>
  <div (click)="goBack()" class="back-button">
    <fa-icon [icon]="icons.back"></fa-icon>
  </div>  

   <div class="table-container">
    <table  class="table table-striped table-hover">
      <thead>
          <tr>
            <th>Date</th>
            <!-- <th>Photo</th> -->
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Status</th>
            <th>Actions</th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="filterTeachers().length ; else noResults">
            <ng-container  *ngFor="let enseign of filterTeachers()" >
              <tr >

                <td>{{enseign.date}}</td>
                <!-- <td><div class="img" style="background-image: url({{enseign.idSeance.idTeacher.urlPhoto}})"></div></td> -->
                <!-- <td><img class="image" [src]="enseign.idSeance.idTeacher.urlPhoto" alt=""></td> -->
                <td>{{enseign.idSeance.idTeacher.nom}}</td>
                <td >{{enseign.idSeance.idTeacher.prenom}}</td>
                <td>{{enseign.idSeance.idTeacher.email}}</td>
                
                <td>{{enseign.idSeance.idTeacher.telephone}}</td>
                <td>{{enseign.idSeance.idTeacher.status}}</td>
                <td><div (click)="toggle_toPaie(enseign.idSeance.id!)" class="goto-next"  >Payer</div></td>
              </tr>

              <!-- modal add paie -->
              
          </ng-container>
        </ng-container>
        <ng-template #noResults>
          <tr>
              <td colspan="9" class="text-center">Aucun résultat trouvé</td>
          </tr>
      </ng-template>
          
        </tbody>
  </table>
   </div>
   
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="page === 0"><fa-icon [icon]="icons.previous"></fa-icon></button>
      <button *ngFor="let p of pages" (click)="setPage(p)" [class.active]="p === page">
        {{ p + 1 }}
      </button>
      <button (click)="nextPage()" [disabled]="page === teachers_presence_pqge.totalPages! - 1"><fa-icon [icon]="icons.nexte"></fa-icon></button>
    </div>
  </main>
  