<div class="grid-container">
    <div class="grid-item">
        <div class="section-folder">
            <div class="class-folder">
                <div class="icon-folder">
                    <!-- <fa-icon></fa-icon> -->
                    <!-- <fa-icon [icon]="icons.folder" class="icons-style"></fa-icon> -->
                </div>

                <div class="info-folder">
                    <h2 class="title"></h2>
                    <p class="title"></p>
                    <p></p>
                    <a ></a>
                </div>
            </div>
            
        </div>
        <!-- ----------------------------- -->

    </div>
</div>