main{
    padding: 0 15px;
    height: 85vh;
    width: 100%;
}

/* table{
    width: 100%;
} */

button {

    margin-top: 10px;
    background-color: var(--primary); 
    color: var(--secondary); 
    padding: 4px; 
    width: 150px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 14px; 
    &:hover {
        background-color: var(--secondary);
        color: var(--primary);
    }
}

.head-content{
    color: var(--primary);
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.file-check{
    display: flex;
    width: 100px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
   
}
td{
    width: 100px;
    text-align: center;
    text-wrap: word-wrap;

}

.table-container{
    height: 80%;
    /* width: 97%; */
    overflow-x: auto;
    /* position: relative; */
    overflow-y: auto;
    /* border: 1px solid red; */
}

.empty-td{
    height: 30px;
}
/* Personnalisation de la barre de défilement */
.table-container::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
  }
  
  .table-container::-webkit-scrollbar-track {
    background: white; /* Couleur de l'arrière-plan de la piste */
    border-radius: 10px; /* Coins arrondis de la piste */
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: var(--tertiary); /* Couleur de la barre de défilement */
    border-radius: 10px; /* Coins arrondis de la barre */
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary); /* Couleur de la barre au survol */
  }
.table thead {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}