<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header ">
        <img  [src]="school?.urlPhoto" alt="">
        <!-- <h1>UAM</h1> -->
        <strong>{{school?.nomSchool}}</strong>
      </div>
      <div class="side-child">
        <ul class="list-unstyled components">
         <div>
          <li class="menu-link">
            <a routerLink="/secretaire">
              <span><fa-icon [icon]="icons.home"></fa-icon>Acceuil</span>
            </a>
          </li>
         </div>
         <!-- ---------------- -->
         <li class="menu-link">
            <a routerLink="/secretaire/etudiant" routerLinkActive="active">
              <span><fa-icon [icon]="icons.grade"></fa-icon>Liste Etudiants</span>
            </a>
          </li>
         <li class="menu-link">
            <a routerLink="/secretaire/emplois-du-temps" routerLinkActive="active">
              <span><fa-icon [icon]="icons.user_surveillance"></fa-icon>Surveillence</span>
            </a>
          </li>
          
        </ul>
        <ul id="components" >
          <li class="menu-link">
            <a (click)="singAout()">
              <span><fa-icon [icon]="icons.aout"></fa-icon>Déconnexion</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  
    <!-- Page Content -->
    <div id="content">
      <div class="navDiv">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid nav-element">
                <div class="btn-contenair">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
                    <fa-icon [icon]="icons.menu"></fa-icon>
                    
                    </button>
                     <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <fa-icon [icon]="icons.menu"></fa-icon>
                    </button>
                    
                </div>
                <div class="input-search" *ngIf="showSearchInput">
                    <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" placeholder="Recherche..."  class="search-input">
                 </div>
                <div class="title-page" *ngIf="showTitle">
                  <h6>{{title}}</h6></div>
                  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                  <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown"  (click)="show_adminSetting()">
                      <img src="{{dataAdmin.urlPhoto}}" alt=""><fa-icon [icon]="show_admin ? icons.sortUp : icons.sortDown" class="my-custom-style"></fa-icon>
                    </a>
                    <ul class="" *ngIf="show_admin">
                     
                      <div class="dropdawn-setting" > 
                        <app-admin-setting-widget [admin]="dataAdmin" (closeModal)="close()"  ></app-admin-setting-widget>
                         
                      </div>
                     
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-1">
           
            <!--  -->
            <router-outlet />
          </div>
        </main>
      </div>
    </div>
  </div>
  