<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>

    <section class="section-head">
        <h5>Relever de notes

        </h5>
        <div class="info">
            <div class="coll">
                <div class="img">
                    <img src="/assets/logounivsegou.png" alt="">
                </div>
                <p>Anneé universitaire : 2024 - 2025</p>
                <p>Nom: {{students.nom}}</p>
                <p>Prenom : {{students.prenom}}</p>
            </div>
            <div class="coll">
                <p>Semestre :
                    <select (change)="onSelect($event)">
                        <option selected disabled value="">Semestre</option>
                        <option *ngFor="let sem of semestres" [value]="sem.id">{{sem.nomSemetre}}</option>
                    </select>
                </p>
                <p>Date de naissance : {{students.dateNaissance}}</p>
                <p>Lieu de naissance : {{students.lieuNaissance}}</p>

            </div>
            <div class="coll">
                <p>Université de Ségou</p>
                <p>Institut universitaire de Formation Professionnel </p>
                <p>Mention : {{students.idClasse.idFiliere?.idNiveau?.nom}}
                    {{students.idClasse.idFiliere?.idFiliere?.nomFiliere}}</p>
            </div>
        </div>

    </section>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th >UE</th>
                <th>ECUE</th>

                <th class="coef">Coefficient</th>
                <th>Session</th>
                <th>Moyenne</th>
                <th>PJ <br>ECUE</th>
                <th>Moyenne <br> UE</th>
                <th>PJ<br> UE</th>
                <!-- <th>Mensions</th> -->
            </tr>
        </thead>
        <tbody>
            @if (notes.length > 0 ) {
            <tr *ngFor="let ue of notes">
                <td>{{ ue.nomUE }}</td>
                <td>
                    @for (item of ue.modules; track $index) {

                    {{item.nomModule}} <br>
                    }
                </td>
                <td class="coef">


                    {{ue.coefficientUe}} <br>

                </td>
                <td>{{ue.session}}</td>
                <td>
                    @for (item of ue.modules; track $index) {

                    {{item.noteModule}} <br>
                    }
                </td>
                <td></td>
                <td>{{ue.noteUE}}</td>
                <td></td>

            </tr>
            }@else {
            <tr>
                <td colspan="9">Aucune note pour trouver</td>
            </tr>
            }

        </tbody>
    </table>
    <div class="info-footer">
        <p> Moyenne du semestre : </p>
        <p> Point Jury : </p>
        <p> Validation du semestre  : </p>
    </div>
<div class="footer">
     <div class="signature">
        <p>Ségou le, {{getCurrentDate()}}<br>
          Le chéf de Département
        </p>
        <p>Dr  {{admin.nom.charAt(0).toLocaleUpperCase()}} {{admin.prenom.toLocaleUpperCase()}}<br>
          Maître assistant
        </p>
      </div>

</div>
<div class="btn-content">
    <button (click)="imprimer()" type="button"><fa-icon [icon]="icons.pdf" class="pdf-icon"></fa-icon> Imprimer</button>

</div>

   
</main>