.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-head{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.img img{
    width: 100px;
    height: auto;
}
.section-head h5{
    display: flex;
    justify-content: center;
}
p{
    margin: 0;
}
select{
    border: none;
    margin-left: 10px;
}
select:focus{
    outline: none;
    border: none;
}
.signature{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.signature p{
    font-size: 14px;
}

.footer{
    display: flex;
    
    justify-content: flex-end;
}

.back-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    margin: 10px 0;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}

.info-footer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
.btn-content button{
    margin: 10px 0;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    text-align: center;
    font-weight: 500;
    /* background-color: var(--primary); */
    /* color: var(--primary); */
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
        
       
    }
}