<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon  [icon]="icons.back"></fa-icon>
    </div>
    <div class="div-head-content">
        <button (click)="show_grade()"><fa-icon
                [icon]="icons.grade"></fa-icon><span>{{!enseignant?.active  ? "Activer" : "Desactiver"}}</span></button>

            <button   (click)="toggle_toChageEdit()" > <fa-icon [icon]="!isEdit ? icons.edit : icons.circle_xmark"></fa-icon>{{!isEdit ? 'Editer' : 'Annuler'}}</button>
    </div>
    


    <form id="formProf" [formGroup]="teacher_form" (ngSubmit)="sunmit()">
        <div class="form-add">
            <div class="column-f">
                <div class="input">
                    <label for="validationDefault01" class="label form-label">Nom : </label>
                    <input [attr.readonly]="!isEdit ? true : null" type="text" class="input-with form-control" formControlName="nom" id="nom" [class.is-invalid]="teacher_form.get('nom')!.invalid && teacher_form.get('nom')!.touched"  placeholder="Nom....">
                    <span *ngIf="teacher_form.controls['nom'].invalid && teacher_form.controls['nom'].touched" [ngStyle]="{color: 'red'}">
                    Champ obligatoire*
                    </span>
                </div>
        
                <div class="input">
                    <label for="validationDefault02" class="label form-label">Prenom :</label>
                    <input [attr.readonly]="!isEdit ? true : null" type="text" formControlName="prenom" class="input-with form-control" id="prenom" [class.is-invalid]="teacher_form.get('prenom')!.invalid && teacher_form.get('prenom')!.touched"   placeholder="Prenom....">
                    <span *ngIf="teacher_form.controls['prenom'].invalid && teacher_form.controls['prenom'].touched" [ngStyle]="{color: 'red'}">
                    Champ  obligatoire*
                    </span>
                </div>
        
                <div class="input">
                    <label  class="label form-label">Email : </label>
                    <input [attr.readonly]="!isEdit ? true : null" type="email" formControlName="email" class=" input-with form-control" [class.is-invalid]="teacher_form.get('email')!.invalid && teacher_form.get('email')!.touched" placeholder="Email...">
                    <span *ngIf="teacher_form.controls['email'].invalid && teacher_form.controls['email'].touched" [ngStyle]="{color: 'red'}">
                    Champ bligatoire*
                    </span>
                    
                </div>
        
                
                
            </div>
            <div class="column-f">
                
                <div class="input">
                    <label for="telephone" class="label form-label">Téléphone : </label>
                    <!-- [class.is-invalid]="teacher_form.get('telephone')!.invalid && teacher_form.get('telephone')!.touched" pattern="[0-9]{1,8}" -->
                    <input [attr.readonly]="!isEdit ? true : null" type="text" formControlName="telephone" class="form-control"  placeholder="Numero de telephone....">
                    <span *ngIf="teacher_form.controls['telephone'].hasError('required') && teacher_form.controls['telephone'].touched"
                        [ngStyle]="{color: 'red'}">
                        Champ obligatoire*
                    </span>
                    <span *ngIf="teacher_form.controls['telephone'].hasError('pattern') && !teacher_form.controls['telephone'].hasError('required')"
                        [ngStyle]="{color: 'red'}">
                        Maximum 8 chiffres autorisés*
                    </span>
                </div>

                <!-- button radio sexe start -->
                

                <div class="form form-group">
                    <label class="label form-label">Status : </label> 
                    <select  [attr.readonly]="!isEdit ? true : null" class="form-select" formControlName="status"   placeholder="Status"  required>
                        <option  disabled value="">{{enseignant?.status}}</option>
                        <option [ngStyle]="{ 'display': !isEdit ? 'none' : 'block' }" *ngFor="let status of teacherStatusOptions" [value]="status" >{{status}}</option>
                    </select>
                    <!-- <span *ngIf="teacher_form.controls['status'].invalid && teacher_form.controls['status'].touched" [ngStyle]="{color: 'red'}">
                        Champ obligatoire*
                    </span>  -->
                </div>

                <div class="radio">
                    <label for="">Sexe : </label>
                    <div class="radio-content" >
                        <div class="form-check form-check-inline">
                            <input [attr.readonly]="!isEdit ? true : null" class="form-check-input" type="radio" formControlName="sexe" id="inlineRadio1" value="Homme" required>
                            <label class="form-check-label" for="inlineRadio1">Homme</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input [attr.readonly]="!isEdit ? true : null" class="form-check-input" type="radio" formControlName="sexe" id="inlineRadio2" value="Femme" required>
                            <label class="form-check-label" for="inlineRadio2">Femme</label>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
            <div class="views" *ngIf="isAddGrade">
                <h3 class="span">Confirmation</h3>
                    <div class="container-views">
        
                        <p>Vous ete sur de vouloire désactiver cet enseignant {{enseignant?.nom?.toUpperCase()}} {{enseignant?.prenom?.toUpperCase()}}</p>
                        <div class="button-cash">
                            <a type="button" (click)="exitConfirm()">Annuler</a>
                            <button type="button" (click)="confirmer(enseignant?.idEnseignant!)">Confirmer</button>
                          </div>
                    </div>

                    
            </div>
            <div class="column-f">
                <div class="form form-group">
                    <label class="label form-label">Diplomes : </label> 
                    <select [attr.readonly]="!isEdit ? true : null" class="form-select" formControlName="diplome"  [class.is-invalid]="teacher_form.get('diplome')!.invalid && teacher_form.get('diplome')!.touched">
                        <option  selected disabled value="">{{enseignant?.diplome}}</option>
                        <option [ngStyle]="{ 'display': !isEdit ? 'none' : 'block' }" *ngFor="let diplome of teacherDiplomOptions" [value]="diplome.key" >{{diplome.value}}</option>
                    </select>
                    <span *ngIf="teacher_form.controls['diplome'].invalid && teacher_form.controls['diplome'].touched" [ngStyle]="{color: 'red'}">
                        Champ obligatoire*
                    </span> 
                </div>

                <div class="form form-group">
                    <label class="label form-label">Grades : </label> 
                    <select [attr.readonly]="!isEdit ? true : null" class="form-select" formControlName="grade"   [class.is-invalid]="teacher_form.get('grade')!.invalid && teacher_form.get('grade')!.touched">
                        <option  selected disabled value="">{{enseignant?.grade}}</option>
                        <option [ngStyle]="{ 'display': !isEdit ? 'none' : 'block' }" *ngFor="let grade of gradesOptions" [value]="grade.value" >{{grade.value}}</option>
                    </select>
                    <span *ngIf="teacher_form.controls['grade'].invalid && teacher_form.controls['grade'].touched" [ngStyle]="{color: 'red'}">
                        Champ obligatoire*
                    </span> 
                </div>

                <div class="input">
                    <label  class="label form-label">Date de Naissance : </label>
                    <input [attr.readonly]="!isEdit ? true : null" type="text" formControlName="dateNaissance" class="input-with form-control" [class.is-invalid]="teacher_form.get('dateNaissance')!.invalid && teacher_form.get('dateNaissance')!.touched"   placeholder="Date de Naissance....">
                    <span *ngIf="teacher_form.controls['dateNaissance'].invalid && teacher_form.controls['dateNaissance'].touched" [ngStyle]="{color: 'red'}">
                    Champ  obligatoire*
                    </span>
                </div>
               

            </div>

        </div>
        
        <!-- <div class="overlay" *ngIf="overlay"></div> -->
        <div class="col-12">
                <button *ngIf="isEdit" (click)="sunmit()" >Enregistrer</button>
           
          
        </div>
    </form>
</main>