
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    padding-top: 20px;
}
a button{
    margin-bottom: 30px;
}

/* Styler l'en-tête du tableau */
th {
    background-color: var(--primary-light);
}

tr td{
    font-size: 16px;
    text-overflow: ellipsis;
}
.search-icon {
    position: absolute;
    transform: translateY(50%);
    color: var(--secondary);
    pointer-events: none;
    right: 544px;
    background-color: var(--primary-light);
    bottom: 25px;
    border-radius: 3px;
    padding: 8px;
    font-size: 1.2rem;
}
span{
    margin-left: 5px;
    font-size: 10px;
    color: var(--primary);
}
.class-name{
    cursor: pointer;
}
img{
    border-radius: 100%;
    border: 1px solid #ccc;
    height: 50px;
    width: auto;
}
.input-search {
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* margin: 20px 0; */
}

.search-input {
    width: 50%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
    border-color: var(--primary-light);
    /* box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3); */
    outline: none;
}
.back-button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    margin: 10px 0;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}
.table-container{
    height: 400px;
    position: relative;
    overflow-y: auto;
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.table-container::-webkit-scrollbar{
    display: none;
}
/* -----------------------------------------------pagination style */
.pagination {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    width: 100%;
  }
  
  .pagination button {
    margin: 0 5px;
    font-size: 10px;
    padding: 2px 5px;
    /* background-color: #007bff; */
    color: var(--secondary);
    cursor: pointer;
    border: none;
    border-radius: 20px;
  }
  
  .pagination button.disabled, .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: var(--primary);
  }
  
  .pagination button:hover:not(.disabled):not(.active) {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
  }