<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
      </div>

    <!-- <div class="input-search">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..."  class="search-input">
    <fa-icon [icon]="icons.recherche" class="search-icon"></fa-icon>
    </div> -->
    <div class="table-container">
        <table  class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Photo</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Classe</th>
                    <th>Filiere</th>
                    <th>Telephone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="filterStudents().length; else noResults">
                    <tr *ngFor="let student of filterStudents()">
                        <td>{{ student.idEtudiant }}</td>
                        <td><img src="{{ student.urlPhoto }}" alt=""></td>
                        <td>{{ student.nom }}</td>
                        <td>{{ student.prenom }}</td>
                        <td>{{ student.email }}</td>
                        <td class="class-name" title="{{ student.idClasse.idFiliere?.idFiliere?.nomFiliere }}">
                            {{ student.idClasse.idFiliere?.idNiveau?.nom }}
                        </td>
                        <td class="class-name" title="{{ student.idClasse.idFiliere?.idFiliere?.nomFiliere }}">
                            {{ student.idClasse.idFiliere?.idFiliere?.nomFiliere }}
                        </td>
                        <td>{{ student.telephone }}</td>
                        <td>
                            <div class="btn-contenaire">
                                <a>
                                    <fa-icon [icon]="student.active ? icons.active : icons.desactive" [ngStyle]="{ color: student.active ? 'green' : 'red' }"></fa-icon>
                                    <span>{{ student.active ? 'Present(e)' : 'Absent(e)' }}</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #noResults>
                    <tr>
                        <td colspan="9" class="text-center">Aucun résultat trouvé</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
    
    <div class="pagination">
        <button (click)="previousPage()" [disabled]="page === 0"><fa-icon [icon]="icons.previous"></fa-icon></button>
        <button *ngFor="let p of pages" (click)="setPage(p)" [class.active]="p === page">
          {{ p + 1 }}
        </button>
        <button (click)="nextPage()" [disabled]="page === studentspage!.totalPages! - 1"><fa-icon [icon]="icons.nexte"></fa-icon></button>
      </div>
</main>