main{
    width: 100%;
    display: flex;
    flex-direction: column;
    
   align-items: center;
   
}

/*  */
.one-column{
   width: 70%;
   display: flex;
   flex-direction: column;
   
}
.form-group{
    padding: 10px;
}
.submit-button{
    padding: 10px;
    width: 100%;
}

p{
    text-align: left;
    font-size: 18px;
}
.input-cont{
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
}
.btn-con{
    margin-top: 40px;
}
.date{
    width: 50%;
}
button{
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--secondary);
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
    /* margin-top: 20px; */
}
.btn-contenair{
    width: 100%;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

  .back-button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    margin: 10px 0;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}
input:focus, select:focus{
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px var(--primary);
}

.input-click{
    cursor: pointer;
    text-align: left;
    &:hover{
        background-color: var(--tertiary);
    }
}
.tab-head p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.tab-head{
    width: 57%;
    display: flex;
    justify-content: end;
}
.input-date{
    width: 100%;
    display: flex;
    gap: 20px;
}
