
main{width: 100%;

    padding-top: 20px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary);
    font-weight: 700;
    &:hover{
       color: var(--secondary);
    }
}
tr td{
    font-size: 16px;
    text-overflow: ellipsis;
}

span{
    font-size: 10px;
    color: var(--primary);
}
.class-name{
    cursor: pointer;
}
strong{
    font-size: 12px;
}
.image{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon-paie{
    /* height: 40px; */
    width: auto;
    cursor: pointer;
    font-size: 25px;
}
.icon-paie:hover{
    padding: 5px;
    color: orange;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid orange;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


  .btn-content{
    margin-top: 10px;
    width: 100%;
  }
  #button{
    display: flex;
    justify-content: end;
    margin-top: 15px;
   
  }
  .nbrHeure{
    font-size: 16px;
  }
  #input-none{
    display: none;
  }
  .tresultat input{
    border: none;
  }
  
  /* ------------------------------------------------- */
  .table-container{
    height: 400px;
    position: relative;
    overflow-y: auto;
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.table-container::-webkit-scrollbar{
    display: none;
}
/* ----------------------------------pagination  buttons style */
.pagination {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
    font-size: 10px;
    padding: 2px 5px;
    /* background-color: #007bff; */
    color: var(--secondary);
    cursor: pointer;
    border: none;
    border-radius: 20px;
  }
  
  .pagination button.disabled, .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: var(--primary);
  }
  
  .pagination button:hover:not(.disabled):not(.active) {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
  }
  

/* Styler l'en-tête du tableau */
th {
    background-color: var(--primary-light);
}

tr td{
    font-size: 16px;
    text-overflow: ellipsis;
}