<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>
    <div class="head-content">
        <div class="head-left">
          <div class="semestre" >
            <p *ngFor="let item of semestres"><span (click)="onSelect(item.id!)" [ngClass]="{'active': idSemestre && item.id === idSemestre}">{{item.nomSemetre}}</span></p>
          </div>
           
            <button (click)="addUe()"><fa-icon [icon]="icons.plus"></fa-icon> Ajouter</button>
        </div>
        <h6 *ngIf="semestre">{{classe.idFiliere?.idNiveau?.nom}} {{classe.idFiliere?.idFiliere?.nomFiliere?.toUpperCase()}}-{{semestre.nomSemetre}} {{classShared.extractAnnee(classe.idAnneeScolaire!)}}-{{classShared.extractAnnee(classe.idAnneeScolaire!) + 1}}</h6>

        <div class="input-search">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..." class="search-input">
          </div>
       
    </div>
    
    <section class="content">
        <div class="ue-table">
            <!-- Ligne d'entête -->
            <div class="table-header">
              <div class="header-cell">UE</div>
              <div class="header-cell">ECUE</div>
              <div class="header-cell">CREDITS</div>
              <div class="header-cell">OBJECTIF</div>
              <div class="header-cell">Enseignements encadrés</div>
            </div>
          
            <!-- Ligne de données -->
             @if (filterUes().length) {

             
            <div class="table-row" *ngFor="let ue of filterUes()">
              <!-- Chaque module est une ligne -->
              
              <div  *ngFor="let module of ue.modules let i = index" class="module-row">
                
                <div class="table-cell">
                  
                    <div class="cell-content">
                        <strong>{{ ue.idUe.nomUE }}</strong> ({{ ue.idUe.codeUE }})
                        
                    </div>
                    <div class="action">
                        <div class="second-child">
                            <a *ngIf="der" (click)="updated(ue)" ><fa-icon [icon]="icons.edit"></fa-icon> </a>
                            <a *ngIf="der" (click)="deleteted(module)" ><fa-icon [icon]="icons.delete" class="delete"></fa-icon> </a>
                            <a *ngIf="!der" (click)="addNote(module, ue.idUe.codeUE!)" ><fa-icon [icon]="icons.edit" ></fa-icon>Noter</a>
                            <a *ngIf="der" (click)="addModule(ue.idUe)" ><fa-icon [icon]="icons.squarePlus" ></fa-icon></a>
                           
                        </div>
                        

                    </div>
                </div>
                <div class="table-cell">
                    <div class="cell-content">
                        {{ module.nomModule }}
                    </div>
                  
                </div>
                <div class="table-cell">
                    <div class="cell-content">
                         {{ module.coefficient }}
                    </div>
                 
                </div>
                <div class="table-cell description-cell">
                    <div class="cell-content">
                        {{ module.description }}
                   </div>
                  
                </div>
                <div class="table-cell">
                    <div class="last-child-head">
                      <form *ngIf="ueForms[module.id!]" [formGroup]="ueForms[module.id!]">
                        <div class="volume-grid">
                          <div class="volume-item">
                            <strong>CM</strong>
                            <input
                              (change)="onSubmit(module.id!, 'volHCM', ueForms[module.id!].get('volHCM')?.value)"
                              type="number"
                              [class.is-invalid]="ueForms[module.id!].get('volHCM')?.invalid"
                              formControlName="volHCM" />
                            <span
                              *ngIf="ueForms[module.id!].get('volHCM')?.errors?.['min'] || ueForms[module.id!].get('volHCM')?.errors?.['max']"
                              style="color: red;">
                              0 à 120.
                            </span>
                          </div>
                          <div class="volume-item">
                            <strong>TD</strong>
                            <input
                              (change)="onSubmit(module.id!, 'volHTD', ueForms[module.id!].get('volHTD')?.value)"
                              type="number"
                              [class.is-invalid]="ueForms[module.id!].get('volHTD')?.invalid"
                              formControlName="volHTD" />
                            <span
                              *ngIf="ueForms[module.id!].get('volHTD')?.errors?.['min'] || ueForms[module.id!].get('volHTD')?.errors?.['max']"
                              style="color: red;">
                              0 à 80.
                            </span>
                          </div>
                          <div class="volume-item">
                            <strong>TP</strong>
                            <p>0</p>
                          </div>
                          <div class="volume-item">
                            <strong>VHT</strong>
                            <p>{{module.volHCM! + module.volHTD!}}</p>
                          </div>
                        </div>
                      </form>
                      
                    </div>
                  </div>
                  
              </div>
              
              
            </div>
            <p></p>
        }@else {
            <p class="empty">Veillez choisir le semestre</p>
         }
          </div>
        
          
        <div class="app">
            <app-ue-widget *ngIf="showUpdate || showDelete" [ue]="idUeSelect!" [show_update]="showUpdate" [module]="moduleSelect" [show_deleted]="showDelete" (closeModale)="closeModalToAddUe()"></app-ue-widget>
            <app-module-widget *ngIf="showAddModule" [Ue]="ueChecked" (closeModale)="closeModalToAddUe()"></app-module-widget>
            </div>
           
    </section>
    <ng-container *ngIf="isShow_add_module">
        <div class="views-add-ues">
            <div class="nom-class">
                <h5>Ajouter unite d'enseignement</h5>
            </div>
            <app-add-ue (closeModale)="closeModalToAddUe()" [classe]="classe!"></app-add-ue>
        </div>
    </ng-container>

    <div class="overlay" *ngIf="overlay" ></div>
</main>