<main>
    <div class="first-container">
        <div class="head-card-content">
            <div class="child-card" (click)="toggle_student()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="assets/study-group-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Les Etudiants Inscrit</p>
                        <h1>{{studentNumber_inscrit}}</h1>
                    </div>
                    
                </div>
                
            </div>
            <div class="child-card" (click)="toggle_student()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img  src="assets/study-group-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text">
                        <p>Les Etudiants non Inscrit</p>
                        <h1>{{studentNumber_noInscrit}}</h1>
                    </div>
                    
                </div>
                
                
            </div>
            <div class="child-card" (click)="toggle_class()" >
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="assets/school-admission-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Nombres des mentions</p>
                        <h1>{{class_Number}}</h1>
                    </div>
                    
                </div>
                
                
            </div>
            

            <!-- <div class="child-card" (click)="toggle_toEmploi()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="assets/booking-confirmed-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Les emplois du temps actif</p>
                        <h1>{{emploiCount}}</h1>
                    </div>
                    
                </div>
                
                
            </div> -->
           
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- <div class="body-content">
            <div class="child-cards">
                    <div  id="card-img">
                        <img id="calendar" src="assets/booking-confirmed-icon.svg" alt="Logo">
                    </div>
                    <div id="cart-text" class="card-text">
                        <h5>Emplois Actifs</h5>
                        <h1></h1>
                    </div>
            </div> -->
                <!-- <div class="class-scrol">
                    <ng-container *ngFor="let classe of emplois">
                        <div class="calendar-classes-content">
                        <p>{{classe.idClasse.idFiliere?.idNiveau?.nom}} ({{classe.idClasse.idFiliere?.idFiliere?.nomFiliere}})</p>
                        <div class="date-content">
                            <p> Debuté le : {{classe.dateDebut}}</p>
                            <p> Prend fin le : <span id="span">{{classe.dateFin}}</span></p>
                        </div>
                    </div>
                    </ng-container>
                </div> -->
            
            <!-- <h2>Body Content</h2>
            <p>Here you can add more detailed information, graphs, tables, etc.</p> -->
        <!-- </div> -->
    </div>
</main>