<main>
    <select id="promo-seclect" (change)="onChange($event)">
        <option selected disabled value="">Pro {{currentYear -1}} {{currentYear}}</option>
        <option *ngFor="let annee of annees" [value]="annee.id">Pro {{annee.ans}} {{annee.ans! + 1}}</option>
    </select>
    <div class="first-container">
        <div class="head-card-content">
            <div class="child-card" (click)="toggle_studentInscrit()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="assets/study-group-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Les Etudiants Inscrit</p>
                        <h1>{{statistics.inscrit}}</h1>
                    </div>
                    
                </div>
                
            </div>
            <div class="child-card" (click)="toggle_studentNotInscrit()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img  src="assets/study-group-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text">
                        <p>Les Etudiants non Inscrit</p>
                        <h1>{{statistics.nonInscrit}}</h1>
                    </div>
                    
                </div>
                
                
            </div>
            <div class="child-card" (click)="toggle_class()" >
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="assets/school-admission-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Nombres des mentions</p>
                        <h1>{{class_Number}}</h1>
                    </div>
                    
                </div>
                
                
            </div>
        
        </div>
        <!-- -------------------------------------------------------------- -->
         <div class="body-content">
            
          <app-student-statistique  [statistics]="statistics"  [idAnnee]="idAnnee"></app-student-statistique>
         </div> 
    </div>
</main>