
<main>
<div (click)="goBack()" class="back-button">
    <fa-icon  [icon]="icons.back"></fa-icon>
</div>
    <form>
       
        <input *ngIf="false" type="number" formControlName="idEtudiant">
                   
        <div class="contenaires">
            <div class="chil">
                <div class="image-column">
                    <div class="pop-img">
                        <img 
                        [src]="imageUrl" 
                        (error)="onError()" 
                        alt="Profile Image">
                        <!-- <img [src]="student?.urlPhoto ? student?.urlPhoto : 'assets/business-professional-icon.svg'" alt="Profile Image"> -->

                      </div>
                    <div class="inputs-box">
                        <div class="input">
                            <label for="validationDefault01" class="label-nom-prenom">Nom :</label>
                            <input type="text" value="{{student?.nom}}" class="form-control" readonly>
                        </div>

                        <div class="input">
                            <label for="validationDefault02" class="label-nom-prenom">Prenom :</label>
                            <input type="text"  value="{{student?.prenom}}" class="form-control" readonly>
                        </div>
                    </div>
                    
                </div>
                

                <div class="input">
                    <label for="validationDefault02" class="label form-label">Matricule :</label>
                    <input type="text" value="{{student?.matricule}}"  class="form-control" readonly>
                </div>

                <div class="input">
                    <label  class="label form-label">Email :</label>
                    <input type="text" value="{{student?.email}}"  class="form-control" readonly>
                </div>
            </div>
        <!-- ----------------------secon column----------- -->
            <div class="chil">

                <div class="input">
                    <label for="validationDefault03" class="label form-label">Date de Naissance :</label>
                    <input type="text" value="{{student?.dateNaissance}}"  class="form-control" readonly>
                </div>
                <div class="input">
                    <label for="validationDefault0" class="label form-label">Lieu de Naissance :</label>
                    <input type="text" value="{{student?.lieuNaissance}}" class="form-control" readonly>
                   
                </div>

                <div class="input">
                    <label for="telephone" class="label form-label">Téléphone :</label>
                    <input type="text" value="{{student?.telephone}}"  class="form-control" readonly>
                    
                </div>
                <div class="input">
                    <label  class="label form-label">Statut :</label>
                    <input type="text" value="{{student?.status}}"  class="form-control" readonly>
                    
                </div>
            </div>
            <!-- ------------------------------------third column------------ -->
            <div class="chil">
               
                <div class="input">
                    <div class="is-scolarite">
                        <label for="validationDefault03" class="label form-label">{{getLabel()}} : <span>(Montant en FCFA)</span> </label>
                        <input type="text" value="{{student?.scolarite}} FCFA"  class="input-with form-control" readonly>
                    
                    </div>
                    
                </div>
            
            
            
                <div class="input">
                    <label for="validationDefault03" class="label form-label">Classe :</label>
                    <input  type="text" value="{{student?.idClasse?.idFiliere?.idNiveau?.nom}} {{student?.idClasse?.idFiliere?.idFiliere?.nomFiliere}}" class="form-control" readonly>
                                    
                </div>

                <!-- button radio sexe start -->
                 <div class="input">
                    <label  class="label form-label">Sexe :</label>
                    <input type="text" value="{{student?.sexe}}" class="form-control" readonly>
                 </div>

                 <div class="input">
                    <label  class="label form-label">Date inscription :</label>
                    <input type="text" value="{{student?.date}}" class="form-control" readonly>
                 </div>
             

                
            </div>
        </div>
        <div class="footer" *ngIf="permission">
            
            <div>
                <ng-container *ngIf="montantRestant <= 0">
                    <p>La totalité a été payée</p>
                </ng-container>
              <ng-container *ngIf="montantRestant > 0">
                <p>Le montant restant à payer est <span>{{ montantRestant }} FCFA</span></p>
              </ng-container>
                <div class="float-end"><p *ngIf="montantRestant > 0" (click)="payer()">Payer</p>
                    <div class="views" *ngIf="isShow">
                        <form  [formGroup]="update_paie_student_form" (ngSubmit)="update_paie_student(student!)">
                           <input type="number" formControlName="idEtudiant" *ngIf="false">
                            <div class="input">
                                <label for="validationDefault03" class="label form-label">Scolarité : <span>(Montant en FCFA)</span> </label>
                                <input type="text" formControlName="scolarite" class="scolarite-input form-control" placeholder="La scolarite...."   [class.is-invalid]="update_paie_student_form.get('scolarite')!.invalid && update_paie_student_form.get('scolarite')!.touched" pattern="[0-9]{1,7}">
                                <span *ngIf="update_paie_student_form.controls['scolarite'].invalid && update_paie_student_form.controls['scolarite'].touched" [ngStyle]="{color: 'red'}">
                                Champ obligatoire*
                                </span>
                                <span *ngIf="update_paie_student_form.controls['scolarite'].hasError('pattern') && !update_paie_student_form.controls['scolarite'].hasError('required')"
                                [ngStyle]="{color: 'red'}">
                                Maximum 7 chiffres autorisés*
                            </span>
                            </div>
                            
                           
                            <div class="button-cash">
                                   <button class="submit" type="submit" ><span>Suivant</span><fa-icon [icon]="icons.nexte_circle"></fa-icon></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       
    </form>
</main>