<main>
    <div class="contente" *ngIf="show_modal">
        <div class="cont-head"></div>
        <form [formGroup]="form_paie" (ngSubmit)="add_paie(presence)">
            
            
            <table class="table table-bordered">
                <thead>
                        <tr>
                            <th>Date</th>
                            <th>Nom des classes</th>
                            <th>Nombre d'heures effectuées</th>
                            <th>Prix/heure</th>
                            <th>Montant</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{presence.date}}</td>
                            <td>
                                {{presence.idSeance.idEmplois.idClasse.idFiliere?.idNiveau?.nom}} ({{presence.idSeance.idEmplois.idClasse.idFiliere?.idFiliere?.nomFiliere}})
                            </td>
                            <td>{{presence.heure}} Heure(s)</td>
                            
                                <td>
                                    <input type="number"  formControlName="nbreHeures" *ngIf="false">
                                    <input type="number" formControlName="idPresenceTeachers" *ngIf="false">
                                    <input  type="number"class="form-control" formControlName="coutHeure" placeholder="Cout unitaire..." [class.is-invalid]="form_paie.get('coutHeure')!.invalid && form_paie.get('coutHeure')!.touched" (input)="loadInputValue($event, presence)">
                                    <div *ngIf="form_paie.get('coutHeure')!.invalid && form_paie.get('coutHeure')!.touched" class="invalid-feedback">
                                        <span class="label-error">Le montant doit être supérieur ou égal à 1000 FCFA.</span> 
                                     </div>
                                </td>
                                <td>
                                    <input readonly type="text" class="form-control" formControlName="montant" placeholder="Mont calculer..." [class.is-invalid]="form_paie.get('montant')!.invalid && form_paie.get('montant')!.touched">
                                    <div *ngIf="form_paie.get('montant')!.invalid && form_paie.get('montant')!.touched" class="invalid-feedback">
                                        <span class="label-error">Montant trop volumuneux.</span> 
                                     </div>
                                </td>
                            
                        </tr>
                </tbody>
            </table>
            <div class="button-cash">
                <a (click)="close_modal()">Annuler</a>
                <button type="submit">Valider</button>
            </div>
            
        </form>
        
    </div>
    <div class="overlay" *ngIf="show_modal"></div>
</main>