
<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon  [icon]="icons.back"></fa-icon>
    </div>
    <form  [formGroup]="studentForm" (ngSubmit)="update()" enctype="multipart/form-data">
       
        <input *ngIf="false" type="number" formControlName="idEtudiant">
                   
        <div class="contenaires">
            <div class="chil">
                <div class="image-column">
                    <div class="pop-img">
                        <img  [src]="student?.urlPhoto" alt="">
                      </div>
                    <div class="inputs-box">
                        <div class="input">
                            <label for="validationDefault01" class="label-nom-prenom">Nom :</label>
                            <input type="text" class="input-nom-prenom" formControlName="nom" id="nom" [class.is-invalid]="studentForm.get('nom')!.invalid && studentForm.get('nom')!.touched"  placeholder="Nom de l'etudiant....">
                            <span *ngIf="studentForm.controls['nom'].invalid && studentForm.controls['nom'].touched" [ngStyle]="{color: 'red'}">
                            Champ obligatoire*
                            </span>
                        </div>

                        <div class="input">
                            <label for="validationDefault02" class="label-nom-prenom">Prenom :</label>
                            <input type="text" formControlName="prenom" class="input-nom-prenom" id="prenom" [class.is-invalid]="studentForm.get('prenom')!.invalid && studentForm.get('prenom')!.touched"   placeholder="Prenom de l'etudiant....">
                            <span *ngIf="studentForm.controls['prenom'].invalid && studentForm.controls['prenom'].touched" [ngStyle]="{color: 'red'}">
                            Champ  obligatoire*
                            </span>
                        </div>
                    </div>
                    
                </div>
                

                <div class="input">
                    <label for="validationDefault02" class="label form-label">Matricule :</label>
                    <input type="text" formControlName="matricule" class="input-with form-control"  pattern="[a-zA-Z0-9]{1,12}" [class.is-invalid]="studentForm.get('matricule')!.invalid && studentForm.get('matricule')!.touched"  placeholder="Numero matricule....">
                    <span *ngIf="studentForm.controls['matricule'].invalid && studentForm.controls['matricule'].touched" [ngStyle]="{color: 'red'}">
                    Champ bligatoire*
                    </span>
                    <span *ngIf="studentForm.controls['matricule'].hasError('pattern') && !studentForm.controls['matricule'].hasError('required')"
                        [ngStyle]="{color: 'red'}">
                        Maximum 12 caractères (lettres et chiffres) autorisés*
                    </span>
                </div>

                <div class="input">
                    <label  class="label form-label">Email :</label>
                    <input type="email" formControlName="email" class=" input-with form-control" [class.is-invalid]="studentForm.get('email')!.invalid && studentForm.get('email')!.touched" placeholder="Email...">
                    <span *ngIf="studentForm.controls['email'].invalid && studentForm.controls['email'].touched" [ngStyle]="{color: 'red'}">
                    Champ bligatoire*
                    </span>
                    
                </div>
            </div>
        <!-- ----------------------secon column----------- -->
            <div class="chil">

                <div class="input">
                    <label for="validationDefault02" class="label form-label">Mot de Passe :</label>
                    <div class="pass-chec position-relative">
                        <input type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control" formControlName="password" [class.is-invalid]="studentForm.get('password')!.invalid && studentForm.get('password')!.touched" id="password" placeholder="Mot de passe....">
                        <span *ngIf="studentForm.controls['password'].invalid && studentForm.controls['password'].touched" [ngStyle]="{color: 'red'}">
                            Champ obligatoire*
                        </span>
                        <fa-icon [icon]="passwordVisible ? icons.eyeSlash : icons.eye" class="toggle-password position-absolute" id="togglePassword" [ngStyle]="{cursor: 'pointer', right: '10px', top: '50%', transform: 'translateY(-50%)'}" (click)="togglePasswordVisibility()"></fa-icon>
                    </div>
                </div>
                
            
                <div class="input">
                    <label for="validationDefault03" class="label form-label">Date de Naissance :</label>
                    <input type="date" formControlName="dateNaissance" class="input-with form-control" [class.is-invalid]="studentForm.get('dateNaissance')!.invalid && studentForm.get('dateNaissance')!.touched" placeholder="Date de naissance....">
                    <span *ngIf="studentForm.controls['dateNaissance'].invalid && studentForm.controls['dateNaissance'].touched" [ngStyle]="{color: 'red'}">
                    Ce champ obligatoire*
                    </span>
                </div>
                <div class="input">
                    <label for="validationDefault0" class="label form-label">Lieu de Naissance :</label>
                    <input type="text" formControlName="lieuNaissance" class="form-control" [class.is-invalid]="studentForm.get('lieuNaissance')!.invalid && studentForm.get('lieuNaissance')!.touched" placeholder="Lieu de naissance....">
                    <span *ngIf="studentForm.controls['lieuNaissance'].invalid && studentForm.controls['lieuNaissance'].touched" [ngStyle]="{color: 'red'}">
                    Ce champ obligatoire*
                    </span>
                </div>

                <div class="input">
                    <label for="telephone" class="label form-label">Téléphone :</label>
                    <input type="text" formControlName="telephone" class="form-control" [class.is-invalid]="studentForm.get('telephone')!.invalid && studentForm.get('telephone')!.touched" pattern="[0-9]{1,8}" placeholder="Numero de telephone....">
                    <span *ngIf="studentForm.controls['telephone'].hasError('required') && studentForm.controls['telephone'].touched"
                        [ngStyle]="{color: 'red'}">
                        Champ obligatoire*
                    </span>
                    <span *ngIf="studentForm.controls['telephone'].hasError('pattern') && !studentForm.controls['telephone'].hasError('required')"
                        [ngStyle]="{color: 'red'}">
                        Maximum 8 chiffres autorisés*
                    </span>
                </div>
            </div>
            <!-- ------------------------------------third column------------ -->
            <div class="chil">
                <div class="input">
                    <label for="validationDefault05" class="label form-label">Photo :</label>
                    <input type="file"  accept="image/*" class="input-with form-control"  id="inputPhoto" (change)="onFileSelected($event)"  required>
                    <!-- <span *ngIf="studentForm.controls['urlPhoto'].invalid && studentForm.controls['urlPhoto'].touched" [ngStyle]="{color: 'red'}">
                    Champ obligatoire*
                    </span> -->
                    <!-- [class.is-invalid]="studentForm.get('urlPhoto')!.invalid && studentForm.get('urlPhoto')!.touched" -->
                </div>

                <div class="input">
                    <label for="validationDefault03" class="label form-label">Scolarité : <span>(Montant en FCFA)</span> </label>
                    <input type="text" formControlName="scolarite" class="input-with form-control" placeholder="La scolarite...."   [class.is-invalid]="studentForm.get('scolarite')!.invalid && studentForm.get('scolarite')!.touched" pattern="[0-9]{1,7}">
                    <span *ngIf="studentForm.controls['scolarite'].invalid && studentForm.controls['scolarite'].touched" [ngStyle]="{color: 'red'}">
                    Champ obligatoire*
                    </span>
                    <span *ngIf="studentForm.controls['scolarite'].hasError('pattern') && !studentForm.controls['scolarite'].hasError('required')"
                    [ngStyle]="{color: 'red'}">
                    Maximum 7 chiffres autorisés*
                </span>
                </div>
            
            
            
                <div class="input">
                    <label for="validationDefault03" class="label form-label">Classe :</label>
                    <select class="form-select" formControlName="idClasse" placeholder="Choisir une classe...."  id="select-modules-multiple"  [class.is-invalid]="studentForm.get('idClasse')!.invalid && studentForm.get('idClasse')!.touched">
                        <option  selected disabled value="">{{student?.idClasse?.idFiliere?.idNiveau?.nom}} {{student?.idClasse?.idFiliere?.idFiliere?.nomFiliere}}</option>
                        <option *ngFor="let classe of classRoom" [value]="classe.id">{{classe.idFiliere?.idNiveau?.nom}} {{classe.idFiliere?.idFiliere?.nomFiliere}}</option>
                    </select>
                    <span *ngIf="studentForm.controls['idClasse'].invalid && studentForm.controls['idClasse'].touched" [ngStyle]="{color: 'red'}">
                    Champ obligatoire*
                    </span>                    
                </div>

                <!-- button radio sexe start -->
                 <div class="input">
                    <label  class="label form-label">Sexe :</label>
                    <div class="radio-button">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="sexe" id="inlineRadio1" value="Homme"  required>
                        <label class="form-check-label" for="inlineRadio1">Homme</label>
                        </div>

                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="sexe" id="inlineRadio2" value="Femme" required>
                        <label class="form-check-label" for="inlineRadio2">Femme</label>
                        </div>
                    </div>
                 </div>
             

                
            </div>
        </div>
        <div class="col-12">
            <button class="btn " type="submit">Enregistrer</button>
        </div>
    </form>
</main>