main{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.col-12{
    padding: 0 10px;
}
button{
    color: var(--secondary);
    margin-top: 20px;
    background-color: var(--primary);
    border: none;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
}
a{
  text-decoration: none;
}
/* ----------------------------- */
.class-folder{
    /* height: 100px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
 
  
  .icons-style{
    color: rgb(255, 196, 0);
    font-size: 3.7rem;
  }
  .info-folder p{
    margin: 0;
    font-weight: bold;
    font-size: 14px;
  }
  .info-folder{
    text-align: left;
  }

.info-folder a{
    text-decoration: none;
    display: flex;
    gap: 8px;
    margin: 0;
    cursor: pointer;
    color: var(--primary);
    font-size: 14px;
    &:hover{
      color: var(--secondary);
      background-color: var(--primary);
      padding: 2px;
      border-radius: 5px;
      width: 100px;
    }
  }
 .info-folder .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* -------------------------grid style */
.grid-container {
    position: relative;
    padding: 10px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
    .grid-item {
   
      text-align: center;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: transparent;
      }
  

  
.button-cash{
    display: flex;
    gap: 20px;
    justify-content: end;
    
   
}
.form-content{
    padding: 10px;
}
.button-cash button{
    border: none;
    display: flex;
    gap: 8px;
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
    /* background-color: var(--primary); */
    color: var(--secondary);
    cursor: pointer;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
   
}


.button-cash a{
   text-decoration: none;
    border: none;
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary);
    cursor: pointer;
    &:hover{
        
    background-color: red;
        color: var(--primary);
    }
    
}

h4{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px;
    font-size: 16px;
}

.views{
    width: 500px;
    background-color: white;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 10001;
    left: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
   
    }
.views-box{
    width: 300px;
    background-color: white;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 10001;
    left: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
   
    }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1000; 
  }

  input:focus, select:focus{
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px var(--primary);
}
input{
    margin-top: 10px;
}
/* -----------------------------icons style */
.btn-container span{
  padding: 5px;
  border-radius: 4px;
  &:hover{
    color: var(--primary);
    cursor: pointer;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  }
}
.btn-container{
  display: flex;
  gap: 10px;
  margin-top: 5px;
  align-items: center;
}

.views-box h2 {
  
  padding: 10px;
  font-size: 18px;
  color: #333;
  background-color: #dc3545;
  margin-bottom: 10px;
}

/* Style du paragraphe */
.views-box p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}


.btn.confirm {
  background-color: #28a745;
  color: #fff;
}

.btn.cancel {
  background-color: #dc3545;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
.not-fund{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #666;
}