<main>
   
    <div class="grid-container">
        <div class="grid-item" *ngFor="let annee of annees">
            <div class="section-folder">
                <div class="class-folder">
                    <div class="icon-folder">
                        <fa-icon [icon]="icons.folder" class="icons-style"></fa-icon>
                    </div>
                    <div class="info-folder">
                        <p class="title">Promotion {{annee.ans}}</p>
                        <div class="btn-container">
                             <!-- <span ><fa-icon [icon]="icons.eye"></fa-icon></span> -->
                            <span (click)="show_edit(annee)" ><fa-icon [icon]="icons.edit"></fa-icon></span>
                            <span (click)="delete_annee(annee)" ><fa-icon [icon]="icons.delete"></fa-icon></span>
                        </div>
                      
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="annees.length == 0">
        <p class="not-fund">Aucune année scolaire trouvé veillez ajouter</p>
    </ng-container>
    
    <div class="views" *ngIf="is_show">
        <form [formGroup]="form_annee" (ngSubmit)="submit()">
            <h4>Ajouter une année scolaire</h4>
            <div class="form-content">
                
            </div>
            
        </form>
    </div>

    <div class="views" *ngIf="is_Edit">
        <form [formGroup]="form_edit" (ngSubmit)="update()">
            <h4>Modifier l'année scolaire</h4>
            <div class="form-content">
                
            </div>
            
        </form>
    </div>

    <div class="views-box" *ngIf="isDelete">
        <h2>Confirmation</h2>
        <div class="form-content">
            <p>Êtes-vous sûr de vouloir effectuer cette action ?</p>
            <div class="button-cash">
                <a (click)="annuler()" class="submit" ><span>Annuler</span></a>
                    <button type="button" (click)="confimed()" ><span>Confirmer</span></button>
            </div>
        </div>
        
    </div>
    
<div class="overlay" *ngIf="overlay"></div>
</main>