<main>
  <div (click)="goBack()" class="back-button">
    <fa-icon [icon]="icons.back"></fa-icon>
  </div>
    <section class="content">
       
         <div id="idTable" class="section-table">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="horaire">Horaires</th>
                    <ng-container *ngFor="let dateInfo of day_of_head">
                      <td scope="col">{{ dateInfo.toUpperCase() }}</td>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <ng-container *ngFor="let dateInfo of datesWithDaysTest">
                        <td scope="col td-classe" >
                          <ng-container *ngFor="let seance of seances">
                            <ng-container *ngIf="dateInfo.day.toUpperCase() == seance.jour">
                            <div class="seance-content">
                               
                              <div class="childre-1">
                              <strong>{{teacher.nom }}  {{teacher.prenom}}</strong><br>
                              {{ seance.heureDebut }} - {{ seance.heureFin }} <br>
                              {{seance.idModule.nomModule}}
                              </div>
                              <div class="childre-2"> 
                                <span id="date"> {{seance.date_string}}</span>
                                 
                                  <div class="chil">
                                    <ng-container>
                                      <button class="btn" type="submit" (click)="change_observation(seance.id!)">
                                          {{ seance.observation ? 'Present' : 'Absent' }}
                                          <img [src]="seance.observation ? 'assets/attendance-icon.svg' : 'assets/remove-cancel-user-icon.svg'">
                                        </button>
                                        
                                    </ng-container>
                                     
                                  </div>
                                  <ng-container *ngFor="let emploi_classe of empois_class">
                                  <ng-container *ngIf="seance.idEmplois.id === emploi_classe.emploi.id" >
                                      <span id="classe"> {{emploi_classe.classe.idFiliere?.idNiveau?.nom}} ({{emploi_classe.classe.idFiliere?.idFiliere?.nomFiliere}})
                                      </span>
                                  </ng-container>
                                    
                                  </ng-container>
                                  
                                </div>
                            </div> 
                            </ng-container>
                          </ng-container>
                        </td>
                      </ng-container>
                    </tr>
                </tbody>
              </table>
              
              
         
        </div>
        
    </section>
</main>
