<main>
    <div class="modal-search" *ngIf="show_views">
        <div class="views">
            <div class="form-input">
                <fa-icon class="search-icon" [icon]="icons.search"></fa-icon>
                <input type="text" class="search" (input)="onSearchChange()" [(ngModel)]="searchTerm"
                    placeholder="Rechercher...">
            </div>
            <ng-container *ngFor="let teacher of filteredItems">
                <p (click)="chose_teacher(teacher)">{{teacher.nom}} {{teacher.prenom}}</p>
            </ng-container>

        </div>
    </div>

    <form [formGroup]="form_config" (ngSubmit)="onSubmit()">
        <div class="input-time">
            <div class="">
                <label>Heure de début :</label>
                <input type="time" class="form-control input-width" id="heureDebut" formControlName="heureDebut"
                    [class.is-invalid]="form_config.get('heureDebut')!.invalid && form_config.get('heureDebut')!.touched"
                    >

            </div>
            <div class="">
                <label>Heure de Fin :</label>
                <input type="time" class="form-control" id="heureFin" formControlName="heureFin"
                    [class.is-invalid]="form_config.get('heureFin')!.invalid && form_config.get('heureFin')!.touched"
                    >

            </div>
        </div>
        <div class="form form-group" id="type-seance">
            <label>Types :</label>
            <select class="form-select" formControlName="seanceType">
                <option selected disabled value="">Choisir Le type</option>
                <option *ngFor="let s_type of seanceTypeOptions" [value]="s_type.value">{{s_type.key}}
                </option>

            </select>

        </div>
        <label class="chose_teacher" (click)="show_teachers()">Selectionner Enseignants</label>
        

        <div class="contenair-teach" *ngIf="list_enseignant_checked.length">
            <div class="plage-days" >
                <div class="input-content" *ngFor="let dateInfo of datesWithDays">
                    <div class="input">
                        <label for="inlineRadio{{dateInfo.day}}">{{dateInfo.day}}</label>
                        <input type="radio" formControlName="date" [value]="dateInfo.date"
                        id="inlineRadio{{ dateInfo.day }}">
                    </div>
                </div>
            </div>
            <div class="plag plag-enseignat">

                <div class="plage-container" *ngFor="let item of list_enseignant_checked">
                    <label *ngIf="is_Teacher_checked(item!)">{{item.nom}} {{item.prenom}}</label>

                    <div class="group">
                        <div class="form-check form-check-inline" *ngFor="let participant of participants">
                            <input 
                                class="form-check-input"
                                type="radio"
                                name="groupSelection"
                                [value]="participant.id"
                                (change)="group_check(item.idEnseignant!, participant.id!, $event)"
                                [checked]="isGroupSelected(item.idEnseignant!, participant.id!)"
                                [disabled]="isGroupAlreadySelected(participant.id!)"
                                id="inlineRadio{{ participant.id }}"/>
                            <label class="form-check-label" [for]="'inlineRadio' + participant.id">
                                {{ participant.idStudentGroup.nom }}
                            </label>
                        </div>
                    </div> 
                    <div class="plag-enseignat">
                        
                        <select class="form-select" formControlName="idSalle"
                            [class.is-invalid]="form_config.get('idSalle')!.invalid && form_config.get('idSalle')!.touched"
                            (change)="onRoomChange(item.idEnseignant!, $event)">
                            <option selected disabled value="">Salles</option>
                            <option *ngFor="let salle of salles" [value]="salle.id">{{salle.nom}}</option>
                        </select>


                    </div>

                </div>
              

            </div>
           
                <div class="button-cash">
                    <button class="btn" type="submit" >Enregistrer</button>
                </div>

        </div>

    </form>

   

    <!-- <div class="overlay" *ngIf="overlay"></div> -->

</main>