
/* ---------------------table scrol style */
main{
    width: 100%;
    padding: 0px 10px;
    height: 80vh;

}
.head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
p{
    margin: 0;
}
.classe-name  p{
    color: var(--secondary);
    background-color: var(--primary);
    padding: 5px 8px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
 
 }
a button{
    margin-bottom: 30px;
}
td{
    border: none;
}
th{
    background-color: white;
}
tr{
    border-left: 1px solid var(--tertiary);
    border-right: 1px solid var(--tertiary);
    cursor: pointer;

    &:hover{
        background-color: #e6e4e4;
    }
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table-container{
    height: 70%;
    position: relative;
    overflow-y: auto;
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.table-container::-webkit-scrollbar{
    display: none;
}

tr td{
    font-size: 16px;
    text-overflow: ellipsis;
}

/* -------------------------- */
.input-count{
    /* width: 50%; */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.left{
    display: flex;
    gap: 10px;
}
.form{
    padding: 10px;
}
.red-border{
    /* border: 1px solid red; */
    cursor: move;
   /* background-color: #f33b3b41; */
}
.custom-select option:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
  
  
 .custom-checked{
    
    accent-color: var(--primary)
 }
.button-cash{
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: flex-end;
}


.views p{
    font-size: 16px;
    background-color: var(--primary);
    color: var(--secondary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.button-cash a{
    text-decoration: none;
     border: none;
     margin-top: 8px;
     padding: 5px;
     border-radius: 5px;
     background-color: var(--secondary);
     cursor: pointer;
     &:hover{
         
     background-color: var(--primary);
         color: var(--secondary);
     }
     
 }
 .grp-btn{
    text-decoration: none;
    color: var(--secondary);
    margin-left: 10px;
    border-radius: 5px;
    padding: 4px 8px;
    background-color: var(--primary);
    cursor: pointer;
    &:hover{
        border: 1px solid var(--primary) !important;
        background-color: var(--secondary);
        color: var(--primary);
    }

}
.select{
    padding: 4px 8px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
}
 .overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 999;
     background: transparent;
   }
   .button-cash button{
    border: none;
    height: 35px;
    gap: 8px;
    /* margin-top: 8px; */
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
   
}

input:focus, select:focus{
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px var(--primary);
}

.views{
    background-color: white;
    position: absolute;
    border-radius: 4px;
    left: 1;
    margin-top: 10px;
    z-index: 10001;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
   
    }
    input:focus, select:focus{
        outline: none;
        border: 1px solid var(--primary);
        box-shadow: 0 0 5px var(--primary);
    }