<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
      </div>
        <form [formGroup]="form_participants" (ngSubmit)="create_participant(list_checked)">
            <div class="input-count" >
                
                <div class="form-group">
                    <label>Groupe :</label> 
                    <select class="form-select" formControlName="idStudentGroup"  [class.is-invalid]="form_participants.get('idStudentGroup')!.invalid && form_participants.get('idStudentGroup')!.touched" (change)="onSelect($event)">
                        <option  selected disabled value="">Choisir Le groupe</option>
                        <option *ngFor="let group of groupes" value="{{group.id}}">{{group.nom}}</option>
                    </select> 
                    <!-- <span *ngIf="form_participants.controls['idStudentGroup'].invalid && form_participants.controls['idStudentGroup'].touched" [ngStyle]="{color: 'red'}">
                        Champ obligatoire*
                    </span> -->
                </div>
                <div class="button-cash">
                     <button type="submit">Ajouter participants</button>
                    <button (click)="to_createGroup()">Créer</button>
            </div>
                
            </div>
           
        </form>
            
            <div class="table-container">
                <div class="views" *ngIf="is_Show_addGroup">
                    <p>Ajouter groupe</p>
                    <form class="form" [formGroup]="form_add" (ngSubmit)="add_groupe()">
                        <div class="form-group">
                            <label >Nom du groupe :</label>
                            <input type="text" formControlName="nom" placeholder="Nom du groupe..." class="form-control" [class.is-invalid]="form_add.get('nom')!.invalid && form_add.get('nom')!.touched">
                            <span *ngIf="form_add.controls['nom'].invalid && form_add.controls['nom'].touched" [ngStyle]="{color: 'red'}">
                                Champ obligatoire*
                            </span>
                    
                        </div>
                        
                        <div class="button-cash">
                            <a (click)="close()">Annuler</a>
                            <button  type="submit">Enregistrer</button>
                        </div>
                    </form>
                </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>
                            <div class="select-al input">
                                
                                <input type="checkbox" class="custom-checked" (change)="selectAll($event)" [checked]="areAllChecked()" >
                                <span>  Tout</span>
                            </div>
                        </th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Classe</th>
                    <th>Filiere</th>
                    <th>Telephone</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="students.length ; else noResults">
                        <ng-container *ngFor="let studens of students">
                            <!-- @if (check(studens.idEtudiant!)) { -->
                                <tr  [ngClass]="{ 'red-border': check(studens.idEtudiant!)}">
                                <td>
                                    
                                    <input type="checkbox"  (change)="student_check(studens.idEtudiant!, $event)" 
                                    [checked]="is_checked(studens.idEtudiant!)" 
                                    [ngClass]="{ 'custom-checked': is_checked(studens.idEtudiant!)}"
                                    [disabled]="check(studens.idEtudiant!)">
                                                            
                                </td>
                                <td>{{studens.nom}}</td>
                                <td >{{studens.prenom}}</td>
                                <td class="class-name"  title="{{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}">{{studens.idClasse.idFiliere?.idNiveau?.nom}}</td>
                                <td class="class-name"  title="{{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}">{{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}</td>
                                
                                <td>{{studens.telephone}}</td>
                            </tr>
                            <!-- }@else {
                                <tr>ooooooooo</tr>
                            } -->
                            
                        </ng-container>
                    
                </ng-container>
               
                <ng-template #noResults>
                    <tr>
                        <td colspan="9" class="text-center">Aucun résultat trouvé</td>
                    </tr>
                </ng-template>
                    
                </tbody>
            </table>
            </div>

    <div class="overlay"*ngIf="is_Show_addGroup"></div>
    </main>