<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>
    <div class="input-count">
        <form [formGroup]="form_participants" (ngSubmit)="create_participant(list_checked)">
            <div >
                <div class="left">
                    <div class="form-group">
                        <label>Groupe :</label>
                        <select class="form-select" formControlName="idStudentGroup"
                            [class.is-invalid]="form_participants.get('idStudentGroup')!.invalid && form_participants.get('idStudentGroup')!.touched"
                            (change)="onSelect($event)">
                            <option selected disabled value="">Choisir Le groupe</option>
                            <option *ngFor="let group of groupes" value="{{group.id}}">{{group.nom}}</option>
                        </select>
                        <!-- <span *ngIf="form_participants.controls['idStudentGroup'].invalid && form_participants.controls['idStudentGroup'].touched" [ngStyle]="{color: 'red'}">
                                Champ obligatoire*
                            </span> -->
                    </div>
                    <div class="button-cash">
                        <button *ngIf="is_Show_addParticipant" type="submit">Ajouter participants</button>
                        <a *ngIf="is_Show_addParticipant" (click)="exit()">Annuler</a>
                        <div class="create">
                            <button *ngIf="!is_Show_addParticipant" (click)="to_createGroup()">Créer</button>
                            <div class="views" *ngIf="is_Show_addGroup">
                                <p>Ajouter groupe</p>
                                <form class="form" [formGroup]="form_add" (ngSubmit)="add_groupe()">
                                    <div class="form-group">
                                        <label>Nom du groupe :</label>
                                        <input type="text" formControlName="nom" placeholder="Nom du groupe..."
                                        class="form-control"
                                        [class.is-invalid]="form_add.get('nom')!.invalid && form_add.get('nom')!.touched">
                                    
                                    <span *ngIf="form_add.controls['nom'].errors?.['maxlength'] && form_add.controls['nom'].touched" 
                                          [ngStyle]="{color: 'red'}">
                                        Nom trop long*
                                    </span>
                                    
                                    <span *ngIf="form_add.controls['nom'].errors?.['required'] && form_add.controls['nom'].touched" 
                                          [ngStyle]="{color: 'red'}">
                                        Champ obligatoire*
                                    </span>
        
                                    </div>
        
                                    <div class="button-cash">
                                        <a (click)="close()">Annuler</a>
                                        <button type="submit">Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
        
                    </div>
                </div>
                
               
    
            </div>
    
        </form>
        <div class="input-search">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..." class="search-input">
            
        </div>
    </div>
    

    <div class="table-container">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="select-al input">

                            <input type="checkbox" class="custom-checked" (change)="selectAll($event)"
                                [checked]="areAllChecked()">
                            <span> Tout</span>
                        </div>
                    </th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Classe</th>
                    <th>Filiere</th>
                    <th>Telephone</th>
                    <th>Groupe</th>

                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="participants.length ; else noResults">
                    <ng-container *ngFor="let inscrit of filteredInscription()">
                        <tr [ngClass]="{ 'red-border': check(inscrit.id!)}">
                            <td>

                                <input type="checkbox" (change)="student_check(inscrit.id!, $event)"
                                    [checked]="is_checked(inscrit.id!)"
                                    [ngClass]="{ 'custom-checked': is_checked(inscrit.id!)}"
                                    [disabled]="check(inscrit.id!)">

                            </td>
                            <td>{{inscrit.idEtudiant.nom}}</td>
                            <td>{{inscrit.idEtudiant.prenom}}</td>
                            <td class="class-name" title="{{inscrit.idClasse.idFiliere?.idFiliere?.nomFiliere}}">
                                {{inscrit.idClasse.idFiliere?.idNiveau?.nom}}</td>
                            <td class="class-name" title="{{inscrit.idClasse.idFiliere?.idFiliere?.nomFiliere}}">
                                {{inscrit.idClasse.idFiliere?.idFiliere?.nomFiliere}}</td>

                            <td>{{inscrit.idEtudiant.telephone}}</td>
                            <td>{{isPresent(inscrit.idEtudiant.idEtudiant!) ? particip?.idStudentGroup?.nom : 'Accun'}}</td>
                        </tr>
                    </ng-container>

                </ng-container>

                <ng-template #noResults>
                    <tr>
                        <td colspan="9" class="text-center">Aucun résultat trouvé</td>
                    </tr>
                </ng-template>

            </tbody>
        </table>
    </div>

    <div class="overlay" *ngIf="is_Show_addGroup"></div>
</main>