<main>
    <div class="first-container">
        <div class="head-card-content">
            <div class="child-card">
                <div class="child-card-content">
                    <div class="card-img">
                        <fa-icon [icon]="icons.user_surveillance"></fa-icon>

                        <!-- <img src="{{urlAsset}}study-group-icon.svg" alt="Logo"> -->
                    </div>
                    <div class="card-text" (click)="toggle_toPostes()">
                        <p>Les postes</p>
                        <h1>7</h1>
                    </div>
                    
                </div>
                
            </div>
            <div class="child-card" (click)="toggle_toRoles()">
                <div class="child-card-content">
                    <div class="card-img">
                        <fa-icon [icon]="icons.userCheck"></fa-icon>
                        <!-- <img  src="{{urlAsset}}group-icon.svg" alt="Logo"> -->
                    </div>
                    <div class="card-text">
                        <p>Les Roles</p>
                        <h1>7</h1>
                    </div>
                    
                </div>
                
                
            </div>
            <!-- <div class="child-card" (click)="toggle_toClasse()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="{{urlAsset}}school-admission-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Nombres de Classes</p>
                        <h1>{{classesCount}}</h1>
                    </div>
                    
                </div>
                
                
            </div> -->
           
        </div>
        <!-- -------------------------------------------------------------- -->
        
    </div>
    
</main>