
<div class="nav-content">
    <div class="btn-contenair">
        <button type="button" class="btn btn-info" (click)="toggleSidebar()">
            <fa-icon [icon]="icons.menu"></fa-icon>

        </button>
        <h6>{{title.toUpperCase()}}</h6>
    </div>

    <div class="title-page">

    </div>

    <div class="item-image">
        <div class="icon-new-content" (click)="toNotifications()">
            <fa-icon [icon]="icons.bell" class="icon-new"></fa-icon>
            <span class="badge-new">5</span>
        </div>

        <img [src]="dataAdmin!.urlPhoto" (error)="onError($event)" alt="">
        <div class="name-content">
            <span>{{dataAdmin.nom.charAt(0).toUpperCase()}}. {{dataAdmin.prenom.toUpperCase()}}</span>
            <span class="text-muted small">{{utils.abrevigate(dataAdmin.idRole.nom)}}
                {{dataAdmin.idRole.typeFiliere &&  dataAdmin.idRole.typeFiliere !== 'AUCUN' ? "-" +dataAdmin.idRole.typeFiliere : ""}}</span>
            <!-- <fa-icon [icon]="show_admin ? icons.sortUp : icons.sortDown" class="my-custom-style"></fa-icon> -->

        </div>

    </div>

</div>