<main class="bg-light">

    <div class="container-form">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="head-content">
                <div class="head-icon">
                    <fa-icon class="icon" [icon]="icons.lock"></fa-icon>
                </div>
            </div>

            <h4>Nouveau mot de passe</h4>
            <p></p>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" formControlName="newPassword"
                    placeholder="Nouveau mot de passe...."
                    [class.is-invalid]="form.get('newPassword')!.invalid && form.get('newPassword')?.value == '' && form.get('newPassword')?.touched">
                <div *ngIf="form.controls['newPassword'].errors?.['required']"
                    class="invalid-feedback">
                    Champ Obligatoire*
                </div>
                <div>
                    <ul>
                        <li class="small" [ngStyle]="{'color': 'red'}" *ngIf="passwordHasMinLength()">
                            Au moins 8 caractères.
                        </li>
                        <li class="small" [ngStyle]="{'color': passwordHasUppercase() ? 'green' : 'gray'}">
                            Une lettre majuscule.
                        </li>
                        <li class="small" [ngStyle]="{'color': passwordHasLowercase() ? 'green' : 'gray'}">
                            Une lettre minuscule.
                        </li>
                        <li class="small" [ngStyle]="{'color': passwordHasSpecialChar() ? 'green' : 'gray'}">
                            Un caractère spécial.
                        </li>
                        <li class="small" [ngStyle]="{'color': passwordHasDigit() ? 'green' : 'gray'}">
                            Au moins un chiffre 1 à 8
                        </li>
                    </ul>
                </div>


            </div>

            <div class="form-group">
                <label for="confirm">Confirmer le mot de passe</label>
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmez le mot de passe..."
                    [class.is-invalid]="form.get('confirmPassword')!.invalid && form.get('confirmPassword')?.touched" 
                >
                <div class="invalid-feedback small" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched">
                    Champ Obligatoire*
                </div>
                <div *ngIf="form.controls['confirmPassword'].hasError('pattern') && !form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].value.length > 8" 
                    class="small" style="color: red;">
                    Doit contenir exactement 8 caractères*
                </div>
                

                    <!-- <div *ngIf="form.controls['confirmPassword'].hasError('pattern') && !form.controls['confirmPassword'].hasError('required')"
                        class="small">
                        Mot de passe incorrecte*
                    </div> -->

                    <div *ngIf="!matchPassword() && form.get('confirmPassword')?.value !== ''"  class=" small" [ngStyle]="{color: 'red'}" >
                        Les mots de passe ne correspondent pas.
                    </div>
                    <div *ngIf="matchPassword() && form.get('confirmPassword')?.value !== ''" class=" small" [ngStyle]="{color: 'green'}" >
                        Les mots de passe sont correctent.
                    </div>
            </div>


            <div class="btn-btn-contenair">
                <button type="submit" class="btn-send">Réunitialiser</button>
            </div>
            <div class="bottom-content">
                <a class="cancel" (click)="goBack()"><fa-icon class="icon" [icon]="icons.arrowLeft"></fa-icon>
                    Annuler</a>
            </div>
            <div class="bottom-bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar" id="third"></div>
            </div>

        </form>

    </div>
</main>