
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 85vh;
}
a button{
    margin-bottom: 30px;
}
.back-button{
   margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
select{
    margin-top: 8px;
    border: none;
     outline: none;
}
/* Styler l'en-tête du tableau */
th {
    /* padding: 5px; */
    background: linear-gradient(180deg, #ffffff, #d4d4d4);
}

tr td{
    padding: 3px;
    font-size: 14px;
    text-overflow: ellipsis;
}

select:focus{
    outline: none;
    border: none;
}
.select {
    height: 35px;
    width: 100px;
    /* margin-: 10px; */
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    border: none;
  }

span{
    margin-left: 5px;
    font-size: 10px;
    color: var(--primary);
}
.class-name{
    cursor: pointer;
}
img{
    border-radius: 100%;
    border: 1px solid #ccc;
    height: 50px;
    width: auto;
}

.back-button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    margin: 10px 0;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}
.btn-contenaire{
    cursor: pointer;
}
.btn-contenaire{
    display: flex;
    gap: 8px;
}
.btn-contenaire a{
    font-size: 12px;
    padding: 5px;
    display: flex;
    border: 1px var(--primary) solid;
    border-radius: 5px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: var(--primary);
    &:hover{
        color: var(--primary);
        border-color: var(--secondary);
        background-color: var(--secondary);
       cursor: pointer;
    }
}
.table-container{
    height: 400px;
    position: relative;
    overflow-y: auto;
    width: 100%;
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.table-container::-webkit-scrollbar{
    display: none;
}
.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.left{
    display: flex;
    gap: 10px;
}
.left p {
    display: inline;
    margin-right: 8px;
    color: var(--primary);
    cursor: pointer;
    &:hover{
      color: var(--secondary);
      background-color: var(--primary);
      text-decoration: underline;
    }
  }
.views{
    background-color: var(--primary);
    padding: 8px;
    color: var(--secondary);
    position: absolute;
    right: 44px;
}
/* -----------------------------------------------pagination style */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
    width: 100%;

}
.button-navigation{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}
.footer p{
    color: var(--primary);
    margin-right: 10px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
    font-size: 12px;
    /* padding: 3px 8px; */
    background-color: transparent;
    color: var(--secondary);
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-radius: 50%;
  }
  
  .pagination button.disabled, .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: var(--primary);
    color: white;
  }
  
  .pagination button:hover:not(.disabled):not(.active) {
    background-color: var(--secondary);
    color: var(--primary);
  }
  
  .classe-name  p{
   color: var(--secondary);
   background-color: var(--primary);
   padding: 5px 8px;
   border-radius: 5px;
   letter-spacing: 1px;
   font-size: 14px;
   font-weight: 600;
   margin-right: 10px;
   margin-top: 10px;

}

  /* Style global des liens de spécialités */
.speciality-link {
    font-weight: 600;
    text-align: center;
    padding: 5px;
    /* margin: 10px; */
    background-color: #f2f2f2; /* Couleur de fond claire */
    color: #333; /* Texte sombre */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer;
    transition: all 0.3s ease; /* Transition douce pour tous les effets */
  }
  
  /* Effet sur le lien quand il est survolé */
  .speciality-link:hover {
    background-color: #3498db; /* Couleur de fond lors du survol */
    color: white; /* Texte en blanc lors du survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }
  
  /* Ajout de la classe "active" pour les éléments sélectionnés */
  .speciality-link.active {
    background-color: #3498db; /* Couleur de fond pour l'élément actif */
    color: white; /* Texte en blanc pour l'élément actif */
    font-weight: bold; /* Rendre le texte plus épais quand l'élément est actif */
  }
  
  /* Style spécifique pour le premier "Tout" */
  .speciality-link:first-of-type {
    background-color: #2ecc71; /* Couleur spéciale pour "Tout" */
    color: white;
  }
  
  .speciality-link:first-of-type:hover {
    background-color: #27ae60; /* Couleur différente lors du survol */
  }
  