
body{
    background-color: rgba(230, 230, 230, 0.836);
}

/* .container{
    
} */
.btn{
    margin-top: 20px;
    margin-left: 10px;
}
.form{
    /* border: 1px solid green; */
    background-color: white;
    padding: 10px;
}
a{
    margin-left: 10px;
}
span{
    margin-left: 10px;
    /* color: red; */
    display: none;
}
#check{
    margin-top: 10px;
    height: 15px;
    width: 15px;
}
.card h1{
    background-color: blue;
    height: 70px;
    margin: 0;
    /* width: 100%; */

}