
* {
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.login-box {
    background-color: #FFFFFF;
   
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    max-height: 460px;
    width: 100%;
    display: flex;
    text-align: center;
}
.in-left{
    flex-wrap: wrap;
    width: 50%;
    padding: 20px;
}
.in-left h4{
    font-weight: bold;
}
.in-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 40px;
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px ;
    /* background-color: var(--primary); */
    background-image: url("/assets/recta.png");
    background-size: cover; /* S'adapte à la taille de l'élément */
    background-position: center;
}
.img-box img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.text-box{
    color: white;
    font-size: 14px;
    padding-left: 30px;
}
 .text-box h6{
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 10px;
}
.text-box h6, p{
    letter-spacing: 1px;
}
.logo img {
    padding: 5px;
    border-radius: 45%;
    height: 70px;
    object-fit: cover;
    width: auto;
    margin-bottom: 20px;

}



.input-groupe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--tertiary);
    /* padding: 5px; */
   border-radius: 5px;
   
}
.input-groupe input{
    border: none;
    outline: none;
    background-color: transparent !important;
    padding: 10px;
    height: 34px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
#password{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}

.form-grouppe label {
    display: block;
    color: var(--primary);
    font-weight: bold;
    margin: 15px 8px 0;
    text-align: left;
}
.form-grouppe{
    text-align: left;
}

.prefix-icon{
    background-color: var(--primo-light);
    color: var(--primary);
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}
.suffix-icon{
    background-color: var(--primo-light);
    color: var(--primary);
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    cursor: pointer;
}
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    cursor: pointer;
    color: var(--primary);
    text-decoration: none;
    &:hover{
        color: var(--secondary);
        text-decoration: underline;
    }
}

.login-btn {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}


.toggle-password {
    cursor: pointer;
}


.login-box .toggle-password{
    cursor: pointer;
   
    right: 39%;
    top: 59%;
    transform: translateY(-50%);
}
