<main class="bg-light">
    <div class="login-container ">
        <div class="login-box">
            <div class="logo">
                <img src="assets/logounivsegou.png" alt="Logo">
            </div>
            <!-- <h2>Login</h2> -->
            <form [formGroup]="userForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Email</label>
                    
                        <input type="email"  formControlName="email" class="form-control" [class.is-invalid]="userForm.get('email')!.invalid && userForm.get('email')!.touched" placeholder="Email...">
                        <span *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" [ngStyle]="{color: 'red'}">
                        Champ bligatoire*
                        </span>
                   
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control" formControlName="password" [class.is-invalid]="userForm.get('password')!.invalid && userForm.get('password')!.touched" id="password" placeholder="Mot de passe....">
                    <span *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched" [ngStyle]="{color: 'red'}">
                        Champ obligatoire*
                    </span>
                    <fa-icon [icon]="passwordVisible ? icons.eyeSlash : icons.eye" class="toggle-password position-absolute"  (click)="togglePasswordVisibility()"></fa-icon>
                </div>
                <div class="forgot-password">
                    <a href="#">Mot de passe oublié ?</a>
                </div>
                <button type="submit" class="login-btn">Se Connecter</button>
            </form>
           
        </div>
    </div>
    <!-- <div class="main">
         
        <div > 
        
            <div class="row justify-content-center"> 
                <div class="col-md-6"> 
                    <div class="login-card"> 
                    
                        <div class="login-card-body">
                        <span *ngIf="invalid" id="error">{{message}}</span> 
                            <form  > 
                                <div class="form form-group"> 
                                    <label  class="label form-label">Email :</label>
                                    <input type="email" formControlName="email" class=" input-with form-control" [class.is-invalid]="userForm.get('email')!.invalid && userForm.get('email')!.touched" placeholder="Email...">
                                    <span *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" [ngStyle]="{color: 'red'}">
                                    Champ bligatoire*
                                    </span>
                                </div> 
                                <div class="form form-group"> 
                                    <label for="validationDefault02" class="label form-label">Mot de Passe :</label>
                                    <div class="pass-chec position-relative">
                                        <input type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control" formControlName="password" [class.is-invalid]="userForm.get('password')!.invalid && userForm.get('password')!.touched" id="password" placeholder="Mot de passe....">
                                        <span *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched" [ngStyle]="{color: 'red'}">
                                            Champ obligatoire*
                                        </span>
                                        <fa-icon [icon]="passwordVisible ? icons.eyeSlash : icons.eye" class="toggle-password position-absolute" id="togglePassword" [ngStyle]="{cursor: 'pointer', right: '10px', top: '50%', transform: 'translateY(-50%)'}" (click)="togglePasswordVisibility()"></fa-icon>
                                    </div>
                                </div> 
                                <div class="btn-container">
                                    <button class="btn btn-login" type="submit" id="btn">Login</button> 
                                </div>
                                
                            </form> 
                            
                        </div> 
                       
                    </div> 
                </div> 
            </div> 
        </div>
    </div> -->
    <!-- <div class="logo"></div> -->
</main>