main{
    width: 100%;
}
h4{
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    background-color: var(--primary);
    color: var(--secondary);
}
form{
    width: 100%;
    padding: 10px 20px;
}
.form-add{
    display: flex;
    gap: 30px;
}
.column-f{
    width: 50%;
}
.radio{
    margin-top: 10px;
}
.radio .radio-content{

    height: 50px;
    display: flex;
    width: 100%;
    padding-left: 8px;
    border-radius: 5px;
    border: 1px solid var(--tertiary);
    align-items: center;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#exit{
    background-color: var(--secondary);
    border: none;
    color: var(--primary);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: var(--primary);
        color: var(--secondary);
       
    }
}
button{
    width: 100%;
    border: none;
    margin-top: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
       
    }
}
input:focus, select:focus{
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px var(--primary);
}
.input{
    margin-top: 10px;
}