<main>
    <h6>Ajouter Personnel Administratif</h6>
    <form [formGroup]="add_admin_form" (ngSubmit)="add_admin()">
      
      <!-- ÉTAPE 1 -->
      <div class="form-add" *ngIf="currentStep === 1">
        <div class="column-f">
          <div class="input">
            <label class="label form-label">Nom :</label>
            <input type="text" class="form-control" formControlName="nom" placeholder="Nom...">
            <div *ngIf="add_admin_form.get('nom')?.invalid && add_admin_form.get('nom')?.touched" class="error-msg">
              Champ obligatoire*
            </div>
          </div>
  
          <div class="input">
            <label class="label form-label">Prénom :</label>
            <input type="text" class="form-control" formControlName="prenom" placeholder="Prénom...">
            <div *ngIf="add_admin_form.get('prenom')?.invalid && add_admin_form.get('prenom')?.touched" class="error-msg">
              Champ obligatoire*
            </div>
          </div>
  
          <div class="input">
            <label class="label form-label">Email :</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email...">
            <div *ngIf="add_admin_form.get('email')?.invalid && add_admin_form.get('email')?.touched" class="error-msg">
              Champ obligatoire*
            </div>
          </div>
  
          <div class="input">
            <label class="label form-label">Mot de passe :</label>
            <div class="pass-chec position-relative">
              <input type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control"
                     formControlName="password" placeholder="Mot de passe...">
              <fa-icon [icon]="passwordVisible ? dependencies.icons.eyeSlash : dependencies.icons.eye"
                       class="toggle-password position-absolute"
                       (click)="togglePasswordVisibility()"></fa-icon>
            </div>
            <div *ngIf="add_admin_form.get('password')?.invalid && add_admin_form.get('password')?.touched" class="error-msg">
              Champ obligatoire*
            </div>
          </div>
        </div>
  
        <div class="column-f">
          <div class="input">
            <label class="label form-label">Téléphone :</label>
            <input type="text" class="form-control" formControlName="telephone" placeholder="Téléphone...">
            <div *ngIf="add_admin_form.get('telephone')?.invalid && add_admin_form.get('telephone')?.touched" class="error-msg">
              Champ obligatoire ou invalide*
            </div>
          </div>
  
          
  
          <div class="radio">
            <label class="label">Sexe :</label>
            <div class="radio-content">
              <label><input type="radio" formControlName="sexe" value="Homme"> Homme</label>
              <label><input type="radio" formControlName="sexe" value="Femme"> Femme</label>
            </div>
            <div *ngIf="add_admin_form.get('sexe')?.invalid && add_admin_form.get('sexe')?.touched" class="error-msg">
              Champ obligatoire*
            </div>
          </div>
        </div>
      </div>
  
      <!-- ÉTAPE 2 -->
      <div class="form-add" *ngIf="currentStep === 2">
        <div class="column-f">
          <div class="input">
            <label class="label form-label">Compte bancaire :</label>
            <input type="text" class="form-control" formControlName="compteBanque" placeholder="Compte banque...">
            <!-- <div *ngIf="add_admin_form.get('compteBanque')?.invalid && add_admin_form.get('compteBanque')?.touched" class="error-msg">
              Champ obligatoire*
            </div> -->
          </div>
  
          <div class="input">
            <label class="label form-label">Nom de la Banque :</label>
            <input type="text" class="form-control" formControlName="nomBanque" placeholder="Banque...">
            <!-- <div *ngIf="add_admin_form.get('nomBanque')?.invalid && add_admin_form.get('nomBanque')?.touched" class="error-msg">
              Champ obligatoire*
            </div> -->
          </div>
        </div>
  
        <div class="column-f">
          <div class="input">
            <label class="label form-label">Grade :</label>
            <select class="form-select" formControlName="usersGrade">
              <option value="" disabled selected>Choisir le grade</option>
              <option *ngFor="let grd of grades" [value]="grd.id">{{grd.libelle}}</option>
            </select>
            <!-- <div *ngIf="add_admin_form.get('usersGrade')?.invalid && add_admin_form.get('usersGrade')?.touched" class="error-msg">
              Champ obligatoire*
            </div> -->
          </div>
  
          <div class="input">
            <label class="label form-label">Poste :</label>
            <select class="form-select" formControlName="idPoste">
              <option value="" disabled selected>Choisir le poste</option>
              <option *ngFor="let role of postes" [value]="role.id">
                {{ role.nom }} {{ role.typeFiliere && role.typeFiliere !== 'AUCUN' ? '-' + role.typeFiliere : '' }}
              </option>
            </select>
            <div *ngIf="add_admin_form.get('idPoste')?.invalid && add_admin_form.get('idPoste')?.touched" class="error-msg">
              Champ obligatoire*
            </div>
          </div>

          <div class="input">
            <label class="label form-label">Matricule :</label>
            <input type="text" class="form-control" formControlName="matricule" placeholder="Matricule...">
            <div *ngIf="add_admin_form.get('matricule')?.invalid && add_admin_form.get('matricule')?.touched" class="error-msg">
              Champ obligatoire*
            </div>
          </div>
  
          <div class="input">
            <label class="label form-label">Photo :</label>
            <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
          </div>
        </div>
      </div>
  
      <!-- BOUTONS DE NAVIGATION -->
      <div class="btn-container">
        <button type="button" *ngIf="currentStep > 1" (click)="previousStep()">Précédent</button>
        <button type="button" *ngIf="currentStep < totalSteps" (click)="nextStep()">Suivant</button>
        <button type="submit" *ngIf="currentStep === totalSteps">Enregistrer</button>
        <button type="button" class="cancel" (click)="close_modal()">Annuler</button>
      </div>
    </form>
  </main>
  