main{
    padding: 0 15px;
}

table{
    width: 100%;
}

button {

    background-color: var(--primary); 
    color: var(--secondary); 
    padding: 4px; 
    width: 150px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 14px; 
    &:hover {
        background-color: var(--secondary);
        color: var(--primary);
    }
}

.head-content{
    color: var(--primary);
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.table-container{
    height: 400px;
    position: relative;
    overflow-y: auto;
}
.table thead {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
.table-container::-webkit-scrollbar{
    display: none;
}
.file-check{
    display: flex;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px;
    border-radius: 5px;
   
}
form{
    display: flex;
    gap: 10px;
}

label:hover, option{
    cursor: pointer;
    color: var(--primary);
    &:hover{
        color: var(--secondary);
    }
}
select{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--secondary);
   
}

select:focus{
    outline: none;
    box-shadow: none;
}
input{
    display: none;
}
.select{
    background-color: var(--primary);
    /* border: 1px solid var(--primary); */
    padding: 5px;
    border-radius: 5px ;
}