<main>
  <div class="head-content">
    <div class="file-check" *ngIf="classes.length">
      <input type="file" id="fileUpload" (change)="onFileChange($event)">
      <label for="fileUpload">Importer <fa-icon [icon]="icons.had_point_down"></fa-icon></label>
    </div>

    <form >

      <div class="select">
        <select 
          (change)="onSelect($event)">
          <option class="option" value="">Promotions</option>
          <option *ngFor="let annee of annees" [value]="annee.id">Pro {{annee.ans}}-{{annee.nextYear}}</option>
        </select>
      </div>

      
    </form>

  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>matricule</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>dateNaissance</th>
          <th>lieu Naissance</th>
          <th>sexe</th>
          <th>Statuts</th>
          <th>Diplome</th>
          <th>Classe</th>
          <!-- <th>Filiere</th> -->
          <th>Nationalite</th>
  
          <th>Telephone</th>
          <th>Serie</th>
          <th>Date Inscrit°</th>
          
          <th>N° Etudiant</th>
        
  
        </tr>
      </thead>
      <tbody>
        @if (incrits.length) {
          <tr *ngFor="let inscrit of incrits">
            <td>{{inscrit.idEtudiant.matricule}}</td>
          <td>{{inscrit.idEtudiant.nom}}</td>
          <td>{{inscrit.idEtudiant.prenom}}</td>
          <td>{{inscrit.idEtudiant.lieuNaissance}}</td>
          <td>{{inscrit.idEtudiant.dateNaissance}}</td>
          
          <td>{{inscrit.idEtudiant.sexe}}</td>
          <td>{{inscrit.idEtudiant.status}}</td>

          <td>{{inscrit.idEtudiant.diplome}}</td>
          <td>{{inscrit.idClasse.idFiliere?.idNiveau?.nom}} {{ mappers.abrevigateFiliereName(inscrit.idClasse.idFiliere?.idFiliere?.nomFiliere!)}}</td>
         
          <!-- <td></td> -->
          
          <td>{{inscrit.idEtudiant.nationalite}}</td>
          <td>{{inscrit.idEtudiant.telephone}}</td>
          <td>{{inscrit.idEtudiant.series}}</td>
          <td>{{inscrit.date}}</td>
          <td>{{inscrit.numeroInscrit}}</td>
        </tr>
        }@else {
          <tr>
            <td class="text-center" colspan="15"> Veillez importer un fichier excel conforme</td>
          </tr>
        }
        
  
  
      </tbody>
    </table>
  </div>
  <div class="btn-container">
     <button *ngIf="incrits.length" (click)="submit()" type="button">Enregistrer</button>
  <button *ngIf="incrits.length" (click)="annuler()" class="btn-annuler" type="button">Anuler</button>
  </div>
 
  <span>{{incrits.length}} étudiants à importer</span>
  
</main>