<main>
    <div class="btn-contenair">
        <div class="leftly">
                <select (change)="getEtat($event)">
                    <option disabled selected value="">Etats</option>
                    <option *ngFor="let etat of admin_etats" [value]="etat.value">{{etat.key}}</option>
                </select>
    
            <div class="input-search-class">
                <input type="text" [(ngModel)]="searchTerm" class="search-input-class" placeholder="Rechercher...">
                <!-- <button (click)="searchAdmin()">Rechercher</button> -->
            </div>
        </div>
        
        <div class="btn-add">
            <button (click)="show_form()">Ajouter</button>
        </div>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
    
                <tr>
                     <th>Photo</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Sexe</th>
                    <th>Telephone</th>
                    <th>Poste</th>
                    <th>Etat</th>
                </tr>
               
            </thead>
            <tbody>
                @if(filteredAdmins().length){
                    <tr *ngFor="let dto of filteredAdmins() let i = index">
                        <td> <img [src]="dto.admin.urlPhoto" (error)="onError($event)" alt=""></td>
                        <td>{{dto.admin.nom.charAt(0) + dto.admin.nom.slice(1).toLowerCase()}}</td>
                        <td>{{dto.admin.prenom}}</td>
                        <td>{{dto.admin.sexe.includes('F') ? 'F' : 'M'}}</td>
                        <td>{{dto.admin.telephone}}</td>
                        <td [ngStyle]="{'font-size': '13px'}">
                            {{dto.admin.idRole.nom.toUpperCase()}} <strong class="abreger">({{abrevigateName(dto.admin.idRole.nom)}} {{dto.admin.idRole.typeFiliere}})</strong> <br>
                        
                            @for (item of dto.roleNames; track $index) {
                                {{item}} <br>
                            }
                        </td>
                        <td [ngStyle]="{ color:dto.admin.active ? 'green' : 'red'}"><fa-icon [icon]="icons.circle"></fa-icon>
                            <span (click)="show_confirm(i)">{{dto.admin.active? 'Désactiver' : 'Activer'}} </span>
                            <span (click)="toEdit(dto.admin.idAdministra!)">Editer <fa-icon [icon]="icons.edit"></fa-icon> </span>
                            <span (click)="postAffectation(dto.admin.idAdministra!, i)">Postes <fa-icon [icon]="icons.userCheck"></fa-icon> </span>
                        </td>

                        <ng-container *ngIf="isConfirm && i == index">
                            <div class="views">
                                <h3 class="span">Confirmation</h3>
                                <div class="container-views">
                                    <p>Êtes-vous sûr de vouloir {{dto.admin.active? 'Désactiver' : 'Activer'}} l'administrateur ?</p>
                                    <div class="profil">
                                    <img [src]="dto.admin.urlPhoto" (error)="onError($event)" alt="">
                                    <div class="info-pofil">
                                        <p>{{dto.admin.nom}} {{dto.admin.prenom}}</p>
                                        <p class="text-muted small">{{dto.admin.idRole.nom.toUpperCase()}}</p>
                                    </div>
                                           
                                    </div>
                                        <div class="button-cash">
                                            <a type="button" (click)="exite()">Annuler</a>
                                            <button type="button" (click)="changeEtat(dto.admin.idAdministra!)">Confirmer</button>
                                        </div>
                                    
                                </div>
                            </div>
                        </ng-container>
                        <!-- --------------- -->
                        <ng-container *ngIf="isAfectPoste && i == index">
                            <div class="views">
                                <h3 class="span">Ajouter Poste</h3>
                                <div class="container-views">
                                    <div class="form-group">
                                        <label for="poste">Poste : </label>
                                        <select class="form-select" (change)="onRoleChange($event)" >
                                            <option disabled selected value="">Choisir le Poste</option>
                                            <option [ngStyle]="{'font-size': '13px'}" *ngFor="let role of roles" value="{{role.id}}">{{role.nom}}</option>
                                        </select>
                                    </div>
                                        <div class="button-cash">
                                            <a type="button" (click)="exite()">Annuler</a>
                                            <button type="button" (click)="next(i)">Suivant</button>
                                        </div>
                                    
                                </div>
                            </div>
                        </ng-container>
                        <!-- -------------------------- -->
                        <ng-container *ngIf="isAddPostConfirm && i == index">
                            <div class="views">
                                <h3 class="span">Avertissement</h3>
                                <div class="container-views">
                                    <p>Êtes-vous sûr de vouloir ajouter ce role <strong>{{abrevigateName(idRoleSelect.nom)}}</strong> a {{dto.admin.nom}} ?</p>
                                    <div class="profil">
                                    <img [src]="dto.admin.urlPhoto" (error)="onError($event)" alt="">
                                    <div class="info-pofil">
                                        <p>{{dto.admin.nom}} {{dto.admin.prenom}}</p>
                                        <p class="text-muted small">{{dto.admin.idRole.nom.toUpperCase()}} <strong>({{abrevigateName(dto.admin.idRole.nom)}})</strong></p>
                                    </div>
                                           
                                    </div>
                                        <div class="button-cash">
                                            <a type="button" (click)="exite()">Annuler</a>
                                            <button type="button" (click)="submit(dto.admin.idAdministra!, idRoleSelect.id!)">Confirmer</button>
                                        </div>
                                    
                                </div>
                            </div>
                        </ng-container>
                    </tr>

                }@else {
                    <tr>
                        <td colspan="9" class="text-center">Aucun administrateur trouvé</td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
    

    <div class="app" *ngIf="show_add_form">
        <app-add-admin [idAdminDg]="dg.idAdministra!" (closeModal)="close()"></app-add-admin>
    </div>
    <div class="overlay" *ngIf="overlay"></div>
</main>