<form  [formGroup]="update_classe_form" (ngSubmit)="update_classe(selectedClasseId)">
    <h4>Modifier classe</h4>
    <div class="form-group">
        <label for="">La classe :</label>
        <select  class="form-select" formControlName="id" placeholder="Choisir la clase" (change)="onClasseChange($event)"  [class.is-invalid]="update_classe_form.get('id')!.invalid && update_classe_form.get('id')!.touched">
            <option  selected disabled value="">Choisir La classe</option>
            
            <option  *ngFor="let cl of classes" [value]="cl.id">{{cl.idFiliere?.idNiveau?.nom}}({{cl.idFiliere?.idFiliere?.nomFiliere}})</option>
        </select>
        <div *ngIf="update_classe_form.get('id')!.errors?.['required']">
            <span class="label-error">La scolarite est requise.</span>
        </div>
    </div>
    
    <input type="text"  class=" form-control" formControlName="idFiliere" *ngIf="false" >
    
    <div class="form-group" *ngIf="update_classe_form.get('scolarite')!.value || update_classe_form.get('scolarite')!.value == ''" >
        <label for="">Scolarite :</label>
         <input type="text"  class=" form-control" formControlName="scolarite"  [class.is-invalid]="update_classe_form.get('scolarite')!.invalid && update_classe_form.get('scolarite')!.touched">
            <div *ngIf="update_classe_form.get('scolarite')!.invalid && update_classe_form.get('scolarite')!.touched" class="invalid-feedback">
                <div *ngIf="update_classe_form.get('scolarite')!.errors?.['required']">
                    <span class="label-error">La scolarite est requise.</span>
                </div>
                <div *ngIf="update_classe_form.get('scolarite')!.errors?.['min'] || update_classe_form.get('scolarite')!.errors?.['max']">
                    <span class="label-error">La scolarite  doit être egale ou supperieure a 100000 FCFA</span>
                </div>
            </div>
    </div>
   

    <div class="button-cash">
        <a (click)="close_modal()" class="submit"  ><span>Annuler</span></a>
        <button class="submit" type="submit" ><span>Suivant</span><fa-icon [icon]="icons.nexte_circle"></fa-icon></button>
    </div>
</form>