<main>
    <form [formGroup]="studentForm" (ngSubmit)="singin()" enctype="multipart/form-data">
        <!-- Section 1: Informations personnelles -->
        <div class="form-section" *ngIf="currentSection === 1">
            <h4>Informations Personnelles</h4>
            <div class="section-child">
                <div class="first">
                    <div class="input">
                        <label for="nom">Nom :</label>
                        <input type="text" formControlName="nom"
                            [class.is-invalid]="studentForm.get('nom')!.invalid && studentForm.get('nom')!.touched"
                            placeholder="Nom de l'etudiant....">
                        <span *ngIf="studentForm.controls['nom'].invalid && studentForm.controls['nom'].touched"
                            [ngStyle]="{color: 'red', 'font-size':'13px'}">
                            Champ obligatoire*
                        </span>
                        <span
                            *ngIf="studentForm.controls['nom'].errors?.['minLength'] || studentForm.controls['nom'].errors?.['maxlength']"
                            [ngStyle]="{color: 'red', 'font-size': '13px'}">
                            Nombre Caractères 3 à 30
                        </span>
                    </div>
                    <div class="input">
                        <label for="prenom">Prénom :</label>
                        <input type="text" formControlName="prenom" id="prenom"
                            [class.is-invalid]="studentForm.get('prenom')!.invalid && studentForm.get('prenom')!.touched"
                            placeholder="Prenom de l'etudiant....">
                        <span *ngIf="studentForm.controls['prenom'].invalid && studentForm.controls['prenom'].touched"
                            [ngStyle]="{color: 'red' , 'font-size':'13px'}">
                            Champ obligatoire*
                        </span>
                        <span
                            *ngIf="studentForm.controls['prenom'].errors?.['minLength'] || studentForm.controls['prenom'].errors?.['maxlength']"
                            [ngStyle]="{color: 'red', 'font-size': '13px'}">
                            Nombre Caractères 3 à 30
                        </span>
                    </div>
                    <div class="input">
                        <label class="label form-label">Status : </label>
                        <select formControlName="status"
                            [class.is-invalid]="studentForm.get('status')!.invalid && studentForm.get('status')!.touched">
                            <option selected disabled value="">Choisir Le status</option>
                            <option *ngFor="let status of statusOptions" [value]="status.key">{{status.value}}</option>
                        </select>

                    </div>
                    <div class="input">
                        <label for="validationDefault03" class="label form-label">Niveaux :</label>
                        <select formControlName="idNivau" placeholder="Choisir le niveau...."
                            [class.is-invalid]="studentForm.get('idNivau')!.invalid && studentForm.get('idNivau')!.touched">
                            <option selected disabled value="">Choisir Le niveau</option>
                            <option *ngFor="let niveau of niveaux" [value]="niveau.id">{{niveau.nom?.toUpperCase()}}
                            </option>
                        </select>
                        <span *ngIf="studentForm.controls['idNivau'].invalid && studentForm.controls['idNivau'].touched"
                            [ngStyle]="{color: 'red', 'font-size':'13px'}">
                            Champ obligatoire*
                        </span>
                    </div>
                </div>
                <div class="second">
                    <div class="input">
                        <label for="lastNameFather">Prénom du Père :</label>
                        <input type="text" formControlName="lastNameFather" placeholder="Prénom du père...">
                    </div>
                    <div class="input">
                        <label for="motherName">Prénom/Nom de la Mère :</label>
                        <input type="text" formControlName="motherName" placeholder="Prénom et nom de la mère...">
                    </div>
                    <div class="input">
                        <label for="dateNaissance">Date de Naissance :</label>
                        <input type="date" formControlName="dateNaissance" [class.is-invalid]="studentForm.get('dateNaissance')!.invalid && studentForm.get('dateNaissance')!.touched" placeholder="Date de naissance....">
                        <span *ngIf="studentForm.controls['dateNaissance'].invalid && studentForm.controls['dateNaissance'].touched" [ngStyle]="{color: 'red', 'font-size':'13px'}">
                        Ce champ obligatoire*
                        </span>
                    </div>
                    <div class="input">
                        <label class="label form-label">Filieres :</label>
                        <select formControlName="idFiliere" placeholder="Choisir une filiere...."
                            [class.is-invalid]="studentForm.get('idFiliere')!.invalid && studentForm.get('idFiliere')!.touched">
                            <option selected disabled value="">Choisir la filiere</option>
                            <option *ngFor="let filiere of filieres" [value]="filiere.id">
                                {{utils.abrevigate(filiere.nomFiliere)}}</option>
                        </select>
                        <span
                            *ngIf="studentForm.controls['idFiliere'].invalid && studentForm.controls['idFiliere'].touched"
                            [ngStyle]="{color: 'red', 'font-size':'13px'}">
                            Champ obligatoire*
                        </span>
                    </div>
                </div>
            </div>


            <button type="button" class="btn-next" (click)="nextSection()">Suivant</button>
        </div>

        <!-- Section 2: Informations de naissance et résidence -->
        <div class="form-section" *ngIf="currentSection === 2">
            <h4>Informations de Naissance et Résidence</h4>
            <div class="section-child">
                <div class="first">
                    <div class="input">
                        <label for="commNaissance">Commune de Naissance :</label>
                        <input type="text" formControlName="commNaissance" placeholder="Commune de naissance...">
                    </div>
                    <div class="input">
                        <label for="cercleNaissance">Cercle de Naissance :</label>
                        <input type="text" formControlName="cercleNaissance" placeholder="Cercle de naissance...">
                    </div>
                    <div class="input">
                        <label for="nationalite">Nationalité :</label>
                        <input type="text" formControlName="nationalite" placeholder="Nationalité...">
                    </div>
                </div>
                <div class="second">
                    <div class="input">
                        <label for="residenceParent">Résidence des Parents :</label>
                        <input type="text" formControlName="residenceParent" placeholder="Résidence des parents...">
                    </div>
                    <div class="input">
                        <label for="quartier">Quartier :</label>
                        <select formControlName="quartier">
                            <option disabled selected value="">Choisir le quartier</option>
                            <option *ngFor="let quartier of quartierOptions" [value]="quartier.value">{{quartier.value}}
                            </option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="lieuNaissance">Lieu de Naissance :</label>
                        <input type="text" formControlName="lieuNaissance" [class.is-invalid]="studentForm.get('lieuNaissance')!.invalid && studentForm.get('lieuNaissance')!.touched" placeholder="Lieu de naissance....">
                        <span *ngIf="studentForm.controls['lieuNaissance'].invalid && studentForm.controls['lieuNaissance'].touched" [ngStyle]="{color: 'red'}">
                        Ce champ obligatoire*
                        </span>
                        <span *ngIf="studentForm.controls['commNaissance'].errors?.['minLength'] || studentForm.controls['commNaissance'].errors?.['maxlength']" [ngStyle]="{color: 'red', 'font-size': '13px'}">
                            Nombre Caractères 3 à 30
                        </span>
                    </div>
                </div>
            </div>
            <button type="button" class="btn-prev" (click)="prevSection()">Précédent</button>
            <button type="button" class="btn-next" (click)="nextSection()">Suivant</button>
        </div>

        <!-- Section 3: Informations de contact et sexe -->
        <div class="form-section" *ngIf="currentSection === 3">
            <h4>Informations de Contact et Sexe</h4>
            <div class="input">
                <label for="telephone">Téléphone :</label>
                <input type="text" formControlName="telephone" placeholder="Numéro de téléphone...">
            </div>
            <div class="input">
                <label for="email">Email :</label>
                <input type="email" formControlName="email" placeholder="Email...">
            </div>
            
            <div class="input">
                <label for="urlPhoto">Photo :</label>
                <input type="file" formControlName="urlPhoto" accept="image/*">
            </div>
            <div class="input">
                <label>Sexe :</label>
                <div class="radio-button">
                    <label ><input type="radio" formControlName="sexe" value="Homme"> Homme</label>
                    <label><input type="radio" formControlName="sexe" value="Femme"> Femme</label>
                </div>
            </div>

            <button type="button" class="btn-prev" (click)="prevSection()">Précédent</button>
            <button type="button" class="btn-next" (click)="nextSection()">Suivant</button>
        </div>

        <!-- Section 4: Informations académiques -->
        <div class="form-section" *ngIf="currentSection === 4">
            <h4>Informations Académiques</h4>
            <div class="section-child">
                <div class="first">
                    <div class="input">
                        <label for="diplome">Diplôme :</label>
                        <select formControlName="diplome">
                            <option value="">Choisir le diplôme</option>
                            <option *ngFor="let diplom of diblomeOptions" [value]="diplom.key">{{diplom.value}}</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="series">Série :</label>
                        <select formControlName="series">
                            <option value="">Choisir la série</option>
                            <option *ngFor="let serie of serieOptions" [value]="serie.value">{{serie.value}}</option>
                        </select>
                    </div>
                    <div class="input">
                        <label class="label form-label">Annee d'obtention : </label>
                        <select formControlName="anneeObtention"
                            [class.is-invalid]="studentForm.get('anneeObtention')!.invalid && studentForm.get('anneeObtention')!.touched">
                            <option selected disabled value="">Choisir l'annee d'obtention</option>
                            <option *ngFor="let ans of annees" [value]="ans">{{ans}}</option>
                        </select>

                    </div>


                </div>
                <div class="second">
                    <div class="input">
                        <label for="academies">Académie :</label>
                        <select formControlName="academies">
                            <option value="">Choisir l'académie</option>
                            <option *ngFor="let academie of accademiesOptions" [value]="academie.value">
                                {{academie.value}}</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="matricule">Matricule :</label>
                        <input type="text" formControlName="matricule" placeholder="Numéro matricule...">
                    </div>
                    <div class="input">
                        <label for="matricule">Numéro de place Bac/BT2 :</label>
                        <input type="text" formControlName="numeroPlace"
                            [class.is-invalid]="studentForm.get('numeroPlace')!.invalid && studentForm.get('numeroPlace')!.touched"
                            pattern="[0-9]{1,8}" placeholder="Numero de place....">
                        <span
                            *ngIf="studentForm.controls['numeroPlace'].hasError('required') && studentForm.controls['numeroPlace'].touched"
                            [ngStyle]="{color: 'red', 'font-size': '13px'}">
                            Champ obligatoire*
                        </span>
                        <span
                            *ngIf="studentForm.controls['numeroPlace'].hasError('pattern') && !studentForm.controls['numeroPlace'].hasError('required')"
                            [ngStyle]="{color: 'red', 'font-size': '13px'}">
                            Maximum 8 chiffres autorisés*
                        </span>
                    </div>

                </div>
            </div>
            <button type="button" class="btn-prev" (click)="prevSection()">Précédent</button>
            <button type="submit" class="btn-submit">Enregistrer</button>
        </div>
    </form>
</main>