
<main>
    <a data-bs-toggle="modal" data-bs-target="#form-add">
        <button class="btn btn-primary">Presence du mois</button>
    </a>
    <table datatable datatable [dtOptions]="dtOptions" class="table table-striped table-hover">
        <thead>
            <tr>
              <th>ID</th>
              <th>Photo</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Classe</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <ng-container  *ngFor="let enseign of enseignants" >
              <tr (click)="selectedTeacher(enseign.idEnseignant!)">

                <td>{{enseign.idEnseignant}}</td>
                <td><img [src]="enseign.urlPhoto" alt=""></td>
                <td>{{enseign.nom}}</td>
                <td >{{enseign.prenom}}</td>
                <td>{{enseign.email}}</td>
                
                <td>{{enseign.telephone}}</td>
                <td><strong></strong></td>
                  <td>
                      <!-- <div class="btn-contenaire">
                          <a ><fa-icon [icon]="icons.eye"></fa-icon><span>Details</span></a>
                          <a><fa-icon [icon]="icons.edit"></fa-icon><span>Modifier</span></a>
                          <a><fa-icon [icon]="icons.delete"></fa-icon><span>Supprimer</span></a>
                      
                      </div> -->
                  </td>
               
              </tr>
            </ng-container>
            
            
          </tbody>
    </table>
    <!-- ----------------------------------- form modal add -->
   
        <!-- <app-enseignant-pr-details [emplois]="emplois"></app-enseignant-pr-details> -->
  </main>
  

  <!-- <app-enseignant-pr-details  *ngIf="detaille.length > 0" [detail_teacher]="detaille"></app-enseignant-pr-details> -->