
<main>
    <a routerLink="/sidebar/archive">
        <button class="btn btn-primary">Presence du mois</button>
    </a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th>ID</th>
              <th>Photo</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Email</th>
              <th>Telephone</th>

            </tr>
          </thead>
          <tbody>
            <ng-container  *ngFor="let enseign of enseignants" >
              <tr (click)="selectedTeacher(enseign.idEnseignant!)">

                <td>{{enseign.idEnseignant}}</td>
                <td><img [src]="enseign.urlPhoto" alt=""></td>
                <td>{{enseign.nom}}</td>
                <td >{{enseign.prenom}}</td>
                <td>{{enseign.email}}</td>
                
                <td>{{enseign.telephone}}</td>
              </tr>
            </ng-container>
            
            
          </tbody>
    </table>
    <!-- ----------------------------------- form modal add -->
   
        <!-- <app-enseignant-pr-details [emplois]="emplois"></app-enseignant-pr-details> -->
  </main>
  

  <!-- <app-enseignant-pr-details  *ngIf="detaille.length > 0" [detail_teacher]="detaille"></app-enseignant-pr-details> -->