<main>
    
   
    <form [formGroup]="studentForm" (ngSubmit)="sunmit()">


        <input *ngIf="false" type="number" formControlName="idEtudiant">

        <div class="childs-school">
            <div class="first">
                <input type="text" value="INSTITUT UNIVERSITAIRE DE FORMATION PROFESSIONNELLE (IUFP)" readonly>
                <input type="text" value="{{inscrit.idClasse.idFiliere?.idFiliere?.nomFiliere}}" readonly>
            </div>

            <div class="second">
                <input type="text" value="{{shared_method.extractAnnee(inscrit.idClasse.idAnneeScolaire!)}}-{{shared_method.extractAnnee(inscrit.idClasse.idAnneeScolaire!) + 1}}" readonly>
                <input type="text" value="{{inscrit.idClasse.idFiliere?.idNiveau?.nom}}" readonly>
            </div>


        </div>
        <!-- ----------------- -->
        <div class="childs-school">
            <div class="first">
                <div class="left-content">
                    <!-- <div class="radio-button"> -->
                    <div class="input-radio">
                        <label for="">Homme</label>
                        <input type="checkbox" [checked]="inscrit.idEtudiant.sexe.toUpperCase() === 'HOMME'">
                    </div>
                    <div class="input-radio">
                        <label for="">Femme</label>
                        <input type="checkbox" [checked]="inscrit.idEtudiant.sexe.toUpperCase() === 'FEMME'">
                    </div>


                    <!-- </div> -->
                    <div class="input">
                        <label for="validationDefault02">Matricule </label>
                        <input type="text" formControlName="matricule" class="form-control">
                    </div>
                    <div class="input">
                        <label>Statut </label>
                        <!-- <input type="text" formControlName="status" class="form-control"> -->
                        <select class="form-select" formControlName="status" [class.is-invalid]="studentForm.get('status')!.invalid && studentForm.get('status')!.touched">
                            <option  selected disabled value="">{{inscrit.idEtudiant.status}}</option>
                            <option *ngFor="let status of statusOptions" [value]="status.key" >{{status.value}}</option>
                        </select>

                    </div>
                </div>
                <div class="left-content">
                    <div class="name">
                        <label>Nom </label>
                        <input type="text" formControlName="nom" class="form-control">

                    </div>
                    <div class="name">
                        <label>Prenom </label>
                        <input type="text" formControlName="prenom" class="form-control" >
                    </div>
                </div>
                <div class="left-content">
                    <div class="name">
                        <label>Résidence à ségou </label>
                        <!-- <input type="text" formControlName="quartier" class="form-control"> -->
                        <select class="form-select" formControlName="quartier" >
                            <option  selected disabled value="">{{inscrit.idEtudiant.quartier}}</option>
                            <option *ngFor="let quartier of quartierOptions" [value]="quartier.value" >{{quartier.value}}</option>
                        </select> 

                    </div>
                    <div class="name">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control">
                    </div>
                </div>



            </div>
            <div class="second">
                <div class="pop-img">
                    <div class="img-contenaire">
                        <img [src]="imageUrl || 'assets/default-image.png'" 
                        (click)="studen_shared_methods.triggerFileInput()" 
                        (error)="onError($event)" >
                    </div>
                    <input type="file" #fileInput  formControlName="urlPhoto" accept="image/*" class="input-with"  id="inputPhoto" (change)="onFileSelected($event)" style="display: none;" >

                </div>
                <fieldset>
                    <!-- <legend >Tel</legend> -->
                    <input type="text" formControlName="telephone" class="form-control" >
                </fieldset>


            </div>
        </div>
        <!-- ----------------- -->
        <div class="childs-school grid-item" [ngStyle]="{border: '1px solid ', 'padding': '8px'}">
            <div class="box">
                <label>Né le</label>
                <input type="text" formControlName="dateNaissance"  class="form-control">
            </div>
            <div class="box">
                <label>Prénom/Père</label>
                <input type="text" formControlName="lastNameFather" class="form-control" >

            </div>
            <div class="box">
                <label>Prénom & Nom/Mère</label>
                <input type="text" formControlName="motherName" class="form-control" >

            </div>
            <div class="box">
                <label>Comm/Naissance</label>
                <input type="text" formControlName="commNaissance" class="form-control">

            </div>
            <div class="box">
                <label>Cerc/Naissance</label>
                <input type="text" formControlName="cercleNaissance" class="form-control">

            </div>
            <div class="box">
                <label>Résidence des parent</label>
                <input type="text" formControlName="residenceParent" class="form-control">

            </div>
        </div>
        <div class="childs-school grid-item">
            <div class="box">
                <label>Diplome</label>
                <!-- <input type="text" formControlName="diplome" class="form-control"> -->
                <select class="form-select" formControlName="diplome" >
                    <option  selected disabled value="">{{inscrit.idEtudiant.diplome}}</option>
                    <option *ngFor="let diplom of diblomeOptions" [value]="diplom.key" >{{diplom.value}}</option>
                </select> 
            </div>
            <div class="box">
                <label>Année d'obtention</label>
                <input type="text" formControlName="anneeObtention" class="form-control">

            </div>
            <div class="box">
                <label>Série</label>
                <!-- <input type="text" formControlName="series" class="form-control"> -->
                <select class="form-select" formControlName="series" [class.is-invalid]="studentForm.get('series')!.invalid && studentForm.get('series')!.touched">
                    <option  selected disabled value="">{{inscrit.idEtudiant.series}}</option>
                    <option *ngFor="let serie of serieOptions"  [value]="serie.value" >{{serie.value}}</option>
                </select> 

            </div>
            <div class="box">
                <label>Académie</label>
                <!-- <input type="text" formControlName="academies" class="form-control"> -->
                <select class="form-select" formControlName="academies" >
                    <option  selected disabled value="">{{inscrit.idEtudiant.academies}}</option>
                    <option *ngFor="let academie of accademiesOptions" [value]="academie.value" >{{academie.value}}</option>
                </select> 

            </div>
            <div class="box">
                <label>N° de place Bac/BT2</label>
                <input type="text" formControlName="numeroPlace" class="form-control">

            </div>
            <div class="box">
                <label>Nationalité</label>
                <input type="text" formControlName="nationalite" class="form-control">

            </div>
        </div>
       

        <button type="submit">Valider</button>
    </form>
</main>