
main{
    display: flex;
    flex-direction: column;
    height: 78vh;
    /* justify-content: center; */
    /* align-items: center; */
    
}
button{
    color: var(--secondary);
    margin-top: 10px;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary);
    border: none;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
}
form{
    width: 100%;
    padding: 10px;
    justify-content: center;
    /* border: 1px solid #ccc; */
    overflow-y: auto;
    height: 90%;
}


/* -------------------- */
.childs-school{
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.childs-school .first{
    width: 90%;
    /* border: 1px solid red; */
}
.childs-school .second{
    width: 10%;
    /* border: 1px solid red; */
}
.childs-school input, .paiement input{
    text-align: center !important;
    letter-spacing: 1px;
    margin-top: 8px;
    width: 100%;
    padding: 3px;
    border: none;
    border: 1px solid var(--tertiary);
}
.left-content{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
.left-content .input{
   text-align: center;
    width: 100%;
}
.left-content .input-radio{
    text-align: center;
}
label{
    font-weight: bold;
    margin-right: 10px;
}
.name{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

input:focus, select:focus{
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px var(--primary);
  }

.pop-img img{
    height: 106px;
    width: 106px;
    border: #ccc 1px solid;
    border-radius: 0;
    /* object-fit: cover; */
    /* aspect-ratio: 1/1; */
}
/* ---------------------birtday------------ */
.grid-item{
    /* border: 1px solid; */
    /* padding: 8px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.childs-school .box{
    text-align: center;
}
.paiement{
    /* border: 1px dashed green; */
    background-color: var(--secondary);
    color: var(--primary);
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.paiement label{
    width: 50%;
}

/* Personnalisation de la barre de défilement */
form::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
  }
  
  form::-webkit-scrollbar-track {
    background: white; /* Couleur de l'arrière-plan de la piste */
    border-radius: 10px; /* Coins arrondis de la piste */
  }
  
  form::-webkit-scrollbar-thumb {
    background: var(--tertiary); /* Couleur de la barre de défilement */
    border-radius: 10px; /* Coins arrondis de la barre */
  }
  
  form::-webkit-scrollbar-thumb:hover {
    background: var(--primary); /* Couleur de la barre au survol */
  }
