
/* ----------------------------- */
.class-folder{
    /* height: 100px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
   &:hover{
    /* padding: 0 10px; */
    border-radius: 5px;
    border: 1px solid var(--tertiary);
    
   }
  }
 .icon-folder{
    margin-left: 10px;
 }
  
  .icons-style{
    color: rgb(255, 196, 0);
    font-size: 3.7rem;
  }
  .info-folder p{
    margin: 0;
    font-size: 14px;
  }
  .info-folder{
    text-align: left;
  }

.info-folder a{
    text-decoration: none;
    display: flex;
    gap: 8px;
    margin: 0;
    cursor: pointer;
    color: var(--primary);
    font-size: 14px;
    &:hover{
      color: var(--secondary);
      background-color: var(--primary);
      padding: 2px;
      border-radius: 5px;
      width: 100px;
    }
  }
 .info-folder .title {
 font-size: 18px;
 font-weight: bold;

}
.nom{
    color: #5a5a5a;
}
/* -------------------------grid style */
.grid-container {
    position: relative;
    padding: 10px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
    .grid-item {
   
      text-align: center;
    }

    .back-button{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 8px;
        font-size: 20px;
        margin: 10px 0;
        &:hover{
            background-color: var(--tertiary);
            color: var(--primary);
            border: none;
            border-radius: 50%;
        }
    
    }