<main>
    
    <div class="grid-container">
        <div class="grid-item" *ngFor="let annee of annees">
            <div class="section-folder">
                <div class="class-folder" >
                    <div class="icon-folder">
                        <fa-icon [icon]="icons.folder" class="icons-style"></fa-icon>
                    </div>
                    <div class="info-folder">
                        <p class="title">Pro  <span class="nom">{{annee.ans}}</span></p>
                        <!-- <p > </p> -->
                       <a (click)="onSelect(annee.id!)">Ré-inscription</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
   
</main>