
/* ----------------------------- */
.class-folder{
    /* height: 100px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  
  }
 .icon-folder{
    margin-left: 10px;
 }
  
  .icons-style{
    color: rgb(255, 196, 0);
    font-size: 3.7rem;
  }
  .info-folder p{
    margin: 0;
    font-size: 14px;
  }
  .info-folder{
    text-align: left;
  }


 .info-folder .title {
 font-size: 18px;
 font-weight: bold;

}
.nom{
    color: #5a5a5a;
    font-size: 14px;
}
.class-folder a{
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  &:hover{
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 4px;

  }
}
/* -------------------------grid style */
.grid-container {
    position: relative;
    padding: 10px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
    .grid-item {
   
      text-align: center;
    }

    .back-button{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 8px;
        font-size: 20px;
        margin: 10px 0;
        &:hover{
            background-color: var(--tertiary);
            color: var(--primary);
            border: none;
            border-radius: 50%;
        }
    
    }