<main>
  <div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header ">
      <!-- <img src="assets/logounivsegou.png" alt=""> -->
      <!-- <h1>UAM</h1> -->
      <!-- <strong>{{school?.nomSchool}}</strong> -->
      <strong>IUFP <fa-icon [icon]="dependencies.icons.grade" [ngStyle]="{'font-size': '16px' }"></fa-icon> GESTION</strong>

    </div>
    <div class="side-child">
      <ul class="list-unstyled components">
        <div>
          <li class="menu-link">
            <a routerLink="/r-scolarite">
              <span><fa-icon [icon]="dependencies.icons.home"></fa-icon>Acceuil</span>
            </a>
          </li>
        </div>
        <li class="menu-link">
          <div (click)="toggleSubMenuStudent()">
            <a  >
              <span >
                <fa-icon [icon]="dependencies.icons.grade"></fa-icon>
                Etudiants
                <fa-icon [icon]="isSubMenuOpen.ETUDIANTS ? dependencies.icons.angleUp : dependencies.icons.angleDown" class="float-end"></fa-icon>

              </span>
                  
            </a>

            
          </div> 
          <ul  class="sub-menu" *ngIf="isSubMenuOpen.ETUDIANTS">
            <li routerLink="/r-scolarite/inscription" routerLinkActive="active" > Inscriptions </li>
            <li routerLink="/r-scolarite/re-inscription" routerLinkActive="active" > Ré-inscriptions </li>
            <li routerLink="/r-scolarite/etudiant" routerLinkActive="active" > Liste des étudiants</li>
            
            <!-- <li routerLink="/der/t-singin" routerLinkActive="active"> Ajouter Enseignants</li> -->
          </ul>
         
        </li>
        
        
        <li class="menu-link">
          <a routerLink="/r-scolarite/classe" routerLinkActive="active">
            <span><fa-icon [icon]="dependencies.icons.scool"></fa-icon>Les Classes</span>
          </a>
        </li>
        <!-- <li class="menu-link">
          <a routerLink="/r-scolarite/re-inscription" routerLinkActive="active">
            <span><fa-icon [icon]="icons.folder"></fa-icon>Archives</span>
          </a>
        </li> -->
        <li class="menu-link">
          <a routerLink="/r-scolarite/import" routerLinkActive="active">
            <span><fa-icon [icon]="dependencies.icons.upload"></fa-icon>Importer Etudiants</span>
          </a>
        </li>


      </ul>
    </div>
    <ul id="components">
      <li class="menu-link">
        <div (click)="submenuOpen()">
          <a> <span><fa-icon [icon]="dependencies.icons.user"></fa-icon>Compte<fa-icon
                [icon]="isSubMenuVisible ? dependencies.icons.angleUp : dependencies.icons.angleDown" class="float-end"></fa-icon></span>
          </a>
        </div>
        <ul class="sub-menu" *ngIf="isSubMenuVisible">
          <li><a  routerLink="/r-scolarite/my-accunt" routerLinkActive="active">Mon compte</a></li>
          <!-- @for (poste of postes; track $index) {
            <li *ngFor="let p of poste.roleNames"><a (click)="switchAccuntDGA()"  routerLinkActive="active">Compte {{dependencies.util.abrevigate(p.toString())}}</a></li>

          } -->
          <!-- <li><a routerLink="/r-scolarite/inscription" routerLinkActive="active"> Compte DER</a></li> -->
        </ul>
      </li>

      <!-- <li class="menu-link">
        <a (click)="toAccunt()" routerLink="/r-scolarite/my-accunt" routerLinkActive="active">
          <span><fa-icon [icon]="icons.user"></fa-icon>Mon Compte</span>
        </a>
      </li> -->
      <li class="menu-link">
        <a (click)="show_confirm()">
          <span><fa-icon [icon]="dependencies.icons.aout"></fa-icon>Déconnexion</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <app-header [sidbar]="sidebar"></app-header>
    <div id="layoutSidenav_content">
      <main>
        <div>

          <!--  -->
          <router-outlet />
        </div>

      </main>
    </div>
  </div>
</div>

<ng-container *ngIf="isConfirm">
  <div class="views">
    <h3 class="span">Confirmation</h3>
    <div class="container-views">
      <p>Êtes-vous sûr de vouloir vous déconnectez ?</p>
      <div class="profil">
        <img [src]="dataAdmin.urlPhoto" (error)="onError($event)" alt="">
        <div class="info-pofil">
          <p>{{dataAdmin.nom}} {{dataAdmin.prenom}}</p>
          <p class="text-muted small">{{dataAdmin.idPoste.nom.toUpperCase()}}</p>
        </div>

      </div>
      <div class="button-cash">
        <a type="button" (click)="close()">Annuler</a>
        <button type="button" (click)="dependencies.authService.logout()">Confirmer</button>
      </div>

    </div>
  </div>
</ng-container>

<!-- <ng-container *ngIf="isSwitch">
  <div class="views-switch">
    <h3 class="span">Changer Compte</h3>
    <div class="container-views">
      <p>Êtes-vous sûr de vouloir vous Connecter au compte du DGA ?</p>
      <div class="profil">
        <img [src]="dataAdmin.urlPhoto" (error)="onError($event)" alt="">
        <div class="info-pofil">
          <p>{{dataAdmin.nom}} {{dataAdmin.prenom}}</p>
          <p class="text-muted small">{{dataAdmin.idPoste.nom.toUpperCase()}}</p>
        </div>

      </div>
      <div class="button-cash">
        <a type="button" (click)="close()">Annuler</a>
        <button type="button" (click)="dependencies.authService.logout()">Confirmer</button>
      </div>

    </div>
  </div>
</ng-container> -->
<div class="overlay" *ngIf="isConfirm || isSwitch"></div>
</main>
