main{
    width: 100%;
    padding: 20px 20px;
    height: 80vh;
}
.vertical-header{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.head{
    display: flex;
    width: 100%;
    gap: 25%;
    /* border: 1px solid; */
}
table{
    font-size: 12px;
}

th{
    height: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
    white-space: nowrap;

}

p{
    margin: 0;
    font-size: 16px;
}
h4{
    font-size: 20px;
}
.nom-module{
    font-weight: normal;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.logo img{
    height: 70px;
    width: auto;

}

.back-button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    margin: 10px 0;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}

select{
    border: none;

}
select:focus{
    outline: none;
    box-shadow: none;
}

.table-container{
    position: relative;
    width: 100%;
    height: 70%;
}
.table-responsive{
    width:  100%;
    height: 70%;
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
}
