<main>

  <div class="btn-containere">
    <div class="right">
      <button type="button" *ngIf="permission" (click)="addTeacher()">Ajouter enseignant <fa-icon
          [icon]="icons.had_point_down"></fa-icon></button>
    </div>
    <div class="input-search">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..." class="search-input">
    </div>

  </div>
  <div class="table-container">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>N°</th>
          <!-- <th>Photo</th> -->
          <th>Nom</th>
          <th>Prenom</th>
          <!-- <th>Email</th> -->
          <th>Telephone</th>
          <th>Status</th>
          <th>Spécialité </th>
          <th>Etat</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filterTeachers().length ; else noResults">
          <tr *ngFor="let pr of filterTeachers() let i = index">
            <td class="numerotation-clumn">{{i+1}}</td>
            <!-- <td><img [src]="enseign.urlPhoto || icons.user" alt=""></td> -->
            <td>{{pr.nom}}</td>
            <td>{{pr.prenom}}</td>
            <!-- <td>{{pr.email}}</td> -->

            <td>{{pr.telephone}}</td>
            <td>{{pr.status}}</td>
            <td>@if(pr.specialitesList.length != 0){
              @for (item of pr.specialitesList; track $index) {
                <span class="span">
                  {{item.nom}} <br>
                </span>
  
                }
              }@else {
              -
              }

            </td>
            <td title="{{ pr.desable ? 'Active' : 'Non Active' }}"><a>
              <fa-icon [icon]="pr.desable ? icons.circle : icons.circle "
                [ngStyle]="{ color: pr.desable ? 'green' : 'red' }"></fa-icon><span></span></a>
          </td>
            <td>
              <div class="btn-contenaire">
                <!-- <a data-bs-toggle="modal" [attr.data-bs-target]="'#enseignantDetail_' + enseign.idEnseignant" ><fa-icon [icon]="icons.eye"></fa-icon><span>Details</span></a> -->
                <a (click)="showForm(i)"><fa-icon [icon]="icons.books"></fa-icon><span>Ajouter spécialité</span></a>
                <a (click)="toggle_toEdit(pr.idEnseignant!)"><fa-icon
                    [icon]="icons.eye"></fa-icon><span>Details</span></a>
                <a *ngIf="permission" (click)="toggle_toHours(pr.idEnseignant!)"><fa-icon
                    [icon]="icons.clockRotate"></fa-icon><span>H/effectuées</span></a>
                
              </div>
            </td>
            <!-- ------------------------------------------------------------------------ -->

            <app-add-teacher-specialites *ngIf="show_form && i === index" [idTeacher]="pr.idEnseignant!"
              (closeModal)="cancel()"></app-add-teacher-specialites>
          </tr>
        </ng-container>
        <ng-template #noResults>
          <tr>
            <td colspan="9" class="text-center">Aucun résultat trouvé</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  
  <div class="pagination" *ngIf="enseignants.length !== 0">
    <button (click)="previousPage()" [disabled]="page === 0">
      <fa-icon [icon]="icons.previous"></fa-icon>
    </button>

    <button *ngFor="let p of getVisiblePages()" (click)="setPage(p)" [class.active]="p === page">
      {{ p + 1 }}
    </button>

    <button (click)="nextPage()" [disabled]="page === teachersPage!.totalPages! - 1">
      <fa-icon [icon]="icons.nexte"></fa-icon>
    </button>
  </div>

</main>