<!-- -->

<main>
    <ng-container *ngIf="ishow_module"  >
        <div class="div-parent">
            <div class="views">
            <form [formGroup]="update_module_form" (ngSubmit)="update_module(moduleFind)" > 
                <h4 id="error">Modifier module</h4>

                <div class="form form-group">
                    <input type="number" formControlName="id" *ngIf="false">
                    <label for="select-modules-multiple" class="label form-label">Modules :</label>
                    <select class="form-select" formControlName="idUe" id="select-modules-multiple" placeholder="Choisir un module" [class.is-invalid]="update_module_form.get('idUe')!.invalid && update_module_form.get('idUe')!.touched" (change)="onModuleChange($event)">
                      <option selected disabled value="">Choisir le module a modifier</option>
                      <option *ngFor="let module of modules" [value]="module.id">{{module.nomModule}}</option>
                    </select>
                    <div *ngIf="update_module_form.get('idUe')!.invalid && update_module_form.get('idUe')!.touched" class="invalid-feedback">
                        <span class="label-error">Champ obligatoire</span>
                     </div>                      
                </div>
                
                <div class="form form-group" *ngIf="update_module_form.get('nomModule')!.value || update_module_form.get('nomModule')!.value !== ''"> 
                    <label for="nom">Nom module:</label> 
                    <input type="text" formControlName="nomModule" class="form-control" id="nom" placeholder="Nom du module" 
                           [class.is-invalid]="update_module_form.get('nomModule')!.invalid && update_module_form.get('nomModule')!.touched"> 
                    <div *ngIf="update_module_form.get('nomModule')!.invalid && update_module_form.get('nomModule')!.touched" class="invalid-feedback">
                        <div *ngIf="update_module_form.get('nomModule')!.errors?.['required']">
                            <span class="label-error">Le nom du module est requis.</span>
                        </div>
                        <div *ngIf="update_module_form.get('nomModule')!.errors?.['maxlength']">
                            <span class="label-error">Le nom du module ne doit pas dépasser 30 caractères.</span>
                        </div>
                    </div>
                </div>
                
                <div class="form form-group" *ngIf="update_module_form.get('coefficient')!.value || update_module_form.get('coefficient')!.value !== ''"> 
                    <label for="coefficient">Coefficient:</label> 
                    <input type="number" formControlName="coefficient" class="form-control" id="coefficient" placeholder="Coefficient" 
                           [class.is-invalid]="update_module_form.get('coefficient')!.invalid && update_module_form.get('coefficient')!.touched"> 
                    <div *ngIf="update_module_form.get('coefficient')!.invalid && update_module_form.get('coefficient')!.touched" class="invalid-feedback">
                        <div *ngIf="update_module_form.get('coefficient')!.errors?.['required']">
                            <span class="label-error">Le coefficient est requis.</span>
                        </div>
                        <div *ngIf="update_module_form.get('coefficient')!.errors?.['min'] || update_module_form.get('coefficient')!.errors?.['max']">
                            <span class="label-error">Le coefficient doit être compris entre 1 et 6.</span>
                        </div>
                    </div>
                </div>
                
                
               
                <div class="button-cash">
                    <a (click)="close_widget()" class="submit" ><span>Annuler</span></a>
                    <button class="submit" type="submit" ><span>Enregistrer</span><fa-icon [icon]="icons.nexte_circle"></fa-icon></button>
                </div>
            </form> 
        </div>
        </div>
        
    </ng-container>
    <div class="overlay" *ngIf="ishow_module"></div>
</main>