
main{width: 100%;

    padding-top: 20px;
}
a button{
    margin-bottom: 30px;
}

/* Styler l'en-tête du tableau */
th {
  background: linear-gradient(180deg, #ffffff, #d4d4d4);

}

.table-container{
    height: 400px;
    position: relative;
    overflow-y: auto;
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.table-container::-webkit-scrollbar{
    display: none;
}

.btn-contenaire{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.btn-contenaire a{
    cursor: pointer;
    &:hover{
        color: var(--secondary);
    }
}
span{
    margin-left: 5px;
    font-size: 10px;
    color: var(--primary);
}
.class-name{
    cursor: pointer;
}
img{
    border-radius: 100%;
    border: 1px solid #ccc;
    height: 50px;
    width: auto;
}

span{
    margin-left: 5px;
    font-size: 10px;
    color: var(--primary);
}
.class-name{
    cursor: pointer;
}
img{
    border-radius: 100%;
    border: 1px solid #ccc;
    height: 50px;
    width: auto;
}

/* ----------------------------------pagination  buttons style */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
    font-size: 12px;
    /* padding: 3px 8px; */
    background-color: transparent;
    color: var(--secondary);
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-radius: 50%;
  }
  
  .pagination button.disabled, .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: var(--primary);
    color: white;
  }
  
  .pagination button:hover:not(.disabled):not(.active) {
    background-color: var(--secondary);
    color: var(--primary);
  }
  

/* ------------------------------------------ */
li{
    list-style-type: none;
    padding: 8px;
    border: #ccc 1px solid;
    margin-top: 8px;

}
li span{
    font-size: 16px;
    color: var(--primary);
}
.img-contenaire img{
    height: 100px;
    width: auto;
    border: #ccc 1px solid;
    border-radius: 0;
}
.img-contenaire{
    display: flex;
    gap: 10px;
    align-items: end;
}
.classe h4{
    font-size: 16px;
    font-weight: 800;
}

.pop-img .icons .arrow{
    font-size: 4rem;
}

select{
    margin-top: 8px;
    border: none;
     outline: none;
}
.numerotation-clumn{
    width: auto;
    min-width: 30px; 
    text-align: center;
}

tr td{
    font-size: 16px;
    /* width: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}