<main>
  <div class="content-head">
    <div class="head-left">
      <select id="promo-seclect" (change)="onChange($event)">
        <option selected disabled value="">Promotion {{currentYear}}</option>
        <option *ngFor="let annee of annees" [value]="annee.id">Promotion {{annee.ans}}</option>
      </select>
      <!-- ------------ -->
      <select (change)="getEtat($event)">
        <option disabled selected value="">Tout</option>
        <option *ngFor="let etat of student_etats" [value]="etat.value">{{etat.key}}</option>
      </select>

    </div>

    <!-- ----------------- -->
    <div class="input-search">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..." class="search-input">
    </div>
  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>N° D'ordre</th>
          <!-- <th>Photo</th> -->
          <th>Nom</th>
          <th>Prenom</th>

          <th>Niveau</th>
          <th>Filiere</th>

          <th>Telephone</th>
          <th>Status</th>
          <th>Sexe</th>

          <th>Etat</th>
          <th *ngIf="!dg  && !secretaire">Action</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filterStudents().length ; else noResults">
          <tr *ngFor="let inscrit of filterStudents()  let i = index">
            <td class="numerotation-clumn">{{i+1}}</td>
            <!-- <td><img src="{{studens.urlPhoto}}" alt=""></td> -->
            <td>{{inscrit.idEtudiant.nom}}</td>
            <td>{{inscrit.idEtudiant.prenom}}</td>

            <td class="class-name" title="{{inscrit.idClasse.idFiliere?.idFiliere?.nomFiliere}}">
              {{inscrit.idClasse.idFiliere?.idNiveau?.nom}}</td>
            <td class="class-name" title="{{inscrit.idClasse.idFiliere?.idFiliere?.nomFiliere}}">
              {{abreviateFiliereName(inscrit.idClasse.idFiliere?.idFiliere?.nomFiliere!)}}</td>

            <td>{{inscrit.idEtudiant.telephone}}</td>
            <td>{{inscrit.idEtudiant.status}}</td>
            <td>{{inscrit.idEtudiant.sexe.charAt(0)}}</td>
            <td title="{{ inscrit.payer ? 'Valider' : 'Non Valider' }}"><a>
                <fa-icon [icon]="inscrit.payer ? icons.circle : icons.circle "
                  [ngStyle]="{ color: inscrit.payer ? 'green' : 'red' }"></fa-icon><span></span></a>
            </td>
            <td *ngIf="!dg && ! secretaire">
              <div class="btn-contenaire">

                <a (click)="getStudent(inscrit)" *ngIf="!secretaire"><fa-icon
                    [icon]="permission ? icons.eye : icons.userCheck"></fa-icon><span>{{permission ? 'Details' :
                    'Valider'}}</span></a>
                <!-- <a *ngIf="secretaire" (click)="getStudentView(inscrit.id!)">Details</a> -->

              </div>
            </td>

          </tr>
        </ng-container>
        <ng-template #noResults>
          <tr>
            <td colspan="9" class="text-center">Aucun résultat trouvé</td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>
  <div class="footer">
    <div class="button-navigation">
      <div class="pagination" *ngIf="inscrits.length !== 0">
        <button (click)="previousPage()" [disabled]="page === 0">
          <fa-icon [icon]="icons.previous"></fa-icon>
        </button>

        <button *ngFor="let p of getVisiblePages()" (click)="setPage(p)" [class.active]="p === page">
          {{ p + 1 }}
        </button>

        <button (click)="nextPage()" [disabled]="page === studentspage!.totalPages! - 1">
          <fa-icon [icon]="icons.nexte"></fa-icon>
        </button>
      </div>
    </div>
    
    <p >page : {{page + 1}}/{{ studentspage!.totalPages }}</p>
  </div>
  

</main>