
main{width: 100%;
    height: 80vh;
    padding-top: 5px;
}
a button{
    margin-bottom: 30px;
}

/* Styler l'en-tête du tableau */
th {
  background: linear-gradient(180deg, #ffffff, #d4d4d4);

}

.content-head{
    /* width: 60%; */
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
.table-container{
    height: 83%;
    position: relative;
    overflow-y: auto;
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Personnalisation de la barre de défilement */
.table-container::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
  }
  
  .table-container::-webkit-scrollbar-track {
    background: white; /* Couleur de l'arrière-plan de la piste */
    border-radius: 10px; /* Coins arrondis de la piste */
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: var(--tertiary); /* Couleur de la barre de défilement */
    border-radius: 10px; /* Coins arrondis de la barre */
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary); /* Couleur de la barre au survol */
  }

a fa-icon {
    margin: 0;
}
.btn-contenaire{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

span{
    margin-left: 5px;
    font-size: 10px;
    color: var(--primary);
}
.class-name{
    cursor: pointer;
}
img{
    border-radius: 100%;
    border: 1px solid #ccc;
    height: 50px;
    width: auto;
}

span{
    margin-left: 5px;
    font-size: 10px;
    color: var(--primary);
}
.class-name{
    cursor: pointer;
}
img{
    border-radius: 100%;
    border: 1px solid #ccc;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
select:focus{
    outline: none;
    border: none;
}
.select {
    height: 35px;
    width: 100px;
    /* margin-: 10px; */
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    border: none;
  }
.head-left select {
    height: 35px;
    width: 100px;
    margin-right: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 8px;
    padding: 0 5px;
    outline: none;
    border: none;
  }
  #promo-seclect{
    width: 150px;
  }
  .btn-contenaire a{
    width: 80px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--primary);
    /* background-color: var(--primary); */
    color: var(--primary);
    transition: color 0.2s ease;
    &:hover{
        border-color: var(--secondary);
        background-color: var(--secondary);
        color: var(--primary);
    }
}
  
/* ----------------------------------pagination  buttons style */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;

}
.button-navigation{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}
.footer p{
    color: var(--primary);
    margin-right: 10px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
    font-size: 12px;
    /* padding: 3px 8px; */
    background-color: transparent;
    color: var(--secondary);
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-radius: 50%;
  }
  
  .pagination button.disabled, .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: var(--primary);
    color: white;
  }
  
  .pagination button:hover:not(.disabled):not(.active) {
    background-color: var(--secondary);
    color: var(--primary);
  }
  

/* ------------------------------------------ */
li{
    list-style-type: none;
    padding: 8px;
    border: #ccc 1px solid;
    margin-top: 8px;

}
li span{
    font-size: 16px;
    color: var(--primary);
}
.img-contenaire img{
    height: 100px;
    width: auto;
    border: #ccc 1px solid;
    border-radius: 0;
}
.img-contenaire{
    display: flex;
    gap: 10px;
    align-items: end;
}
.classe h4{
    font-size: 16px;
    font-weight: 800;
}

.pop-img .icons .arrow{
    font-size: 4rem;
}

select{
    margin-top: 8px;
    border: none;
     outline: none;
}


tr td{
    padding: 3px;
    font-size: 14px;
    /* width: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;

}