.plag{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}
.heure-content{
    cursor: pointer;
    display: flex;
    /* gap: 5px; */
    /* width: 117px; */
    font-size: 12px;
    align-items: center;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.2s ease;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
    }
}
.input-content{
    cursor: pointer;
    display: flex;
    /* gap: 5px; */
    width: 50%;
    font-size: 12px;
    align-items: center;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.2s ease;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
    }
}
.contenair-teach{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
}
.color-red{
    background-color: red;
}
.plag-enseignat{
    
    gap: 10px;
    margin-top: 10px;
}
.input-time{
    display: flex;
    gap: 20px;
}
.plage-days{
    display: flex;
    gap: 5%;
    margin-top: 10px;
}
.input{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-group{
    margin: 10px 0;
}