.plag{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}
.heure-content{
    cursor: pointer;
    display: flex;
    /* gap: 5px; */
    /* width: 117px; */
    font-size: 12px;
    align-items: center;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.2s ease;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
    }
}
.input-content{
    cursor: pointer;
    display: flex;
    /* gap: 5px; */
    width: 50%;
    font-size: 12px;
    align-items: center;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.2s ease;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
    }
}
.contenair-teach{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
}
.color-red{
    background-color: red;
}
.plag-enseignat{
    gap: 10px;
    margin-top: 10px;
}
.input-time{
        display: flex;
        /* gap: 50px; */
        justify-content: space-between;
        width: 50%;
        align-items: end;
}
.left{
    display: flex;
    gap: 20px;
}
.name-classe{
    font-weight: bold;
}
.plage-days{
    display: flex;
    gap: 5%;
    margin-top: 10px;
}
.input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.form-group{
    margin: 10px 0;
}


.chose_teacher{
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px;
    border-radius: 4px;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
    }
}
button{
    border: none;
    padding: 5px;
    background-color: var(--primary);
    cursor: pointer;
    color: var(--secondary);
    margin-top: 20px;
    border-radius: 5px;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
}
/* ------------------modal search style */
.modal-search{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.views{
    position: absolute;
    top: 10px;
    width: 500px;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.2s ease;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);

}
.views input{
    padding: 5px 30px;
    width: 100%;
    /* margin-bottom: 10px; */
    border: 1px solid var(--tertiary);
    border-radius: 4px;
}
.views input:focus{
    outline: none;
}
.views p{
    padding: 4px;
    font-size: 16px;
    margin: 0;
    text-align: left;
    &:hover{
        color: var(--primary);
        background-color: var(--tertiary);
    }
}
.form-input {
    position: relative;
    display: flex;
    align-items: center; 
    gap: 10px;
}

.search-icon {
    position: absolute;
    left: 10px; 
    bottom: 15px;
    pointer-events: none; 
}
input:focus,
select:focus {
    outline: none;
    border: 1px solid var(--primary);
    box-shadow: 0 0 5px var(--primary);
}

#type-seance{
    width: 238px;
}
.is-invalid{
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}
.content-scroll{
    height: 350px;
    overflow-y: auto;
    position: relative;
}

/* Personnalisation de la barre de défilement */
.content-scroll::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
  }
  
  .content-scroll::-webkit-scrollbar-track {
    background: white; /* Couleur de l'arrière-plan de la piste */
    border-radius: 10px; /* Coins arrondis de la piste */
  }
  
  .content-scroll::-webkit-scrollbar-thumb {
    background: var(--tertiary); /* Couleur de la barre de défilement */
    border-radius: 10px; /* Coins arrondis de la barre */
  }
  
  .content-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--primary); /* Couleur de la barre au survol */
  }
  
  .cancel-modal fa-icon{
    font-size: 30px;
    color: var(--primary);
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        color: red;
    }
  }