<main>
    <div class="views">
        <div class="views-head"><p>Ajouter des configurations sur la seance</p></div>
        <form [formGroup]="form_configure"  (ngSubmit)="add_configure()">
        
            <div class="form form-group">
                <label>Seances :</label> 
                <select class="form-select" formControlName="idSeance"  [class.is-invalid]="form_configure.get('idSeance')!.invalid && form_configure.get('idSeance')!.touched" (change)="onSelect($event)">
                    <option  selected disabled value="">Choisir La seance</option>
                        <option *ngFor="let seance of seances" value="{{seance.id}}">{{seance.jour}} le {{seance.date}}</option>
                   
                </select> 
                <span *ngIf="form_configure.controls['idSeance'].invalid && form_configure.controls['idSeance'].touched" [ngStyle]="{color: 'red'}">
                    Champ obligatoire*
                </span>
            </div>
            <div class="form-group plag" *ngIf="is_show_plag">
                <div class="plage-container" *ngFor="let item of plageHoraire">
                    <!-- <ng-container *ngFor="let config_plag of configSeance"> -->
                        <div class="heure-content">
                            <input type="checkbox"  (change)="student_check(item!, $event)" [checked]="is_checked(item)" [ngClass]="{ 'custom-checked': is_checked(item) }">{{item}}
                        </div>
                    <!-- </ng-container> -->
                </div>
            </div>
            

            <div class="form form-group">
                <label>Types :</label> 
                <select class="form-select" formControlName="seanceType"   [class.is-invalid]="form_configure.get('seanceType')!.invalid && form_configure.get('seanceType')!.touched">
                    <option  selected disabled value="">Choisir Le type seance</option>
                    <!-- <ng-container> -->
                        <option *ngFor="let s_type of typeSeanceOptions" [value]="s_type.key">{{s_type.value}}</option>
                    <!-- </ng-container> -->
                </select> 
                <span *ngIf="form_configure.controls['seanceType'].invalid && form_configure.controls['seanceType'].touched" [ngStyle]="{color: 'red'}">
                    Champ obligatoire*
                </span>
            </div>
            <div class="form form-group">
                <label>Groupe :</label> 
                <select class="form-select" formControlName="idParticipant"   [class.is-invalid]="form_configure.get('idParticipant')!.invalid && form_configure.get('idParticipant')!.touched">
                    <option  selected disabled value="">Choisir Le groupe</option>
                        <option *ngFor="let particip of participants" [value]="particip.id">{{particip.idStudentGroup.nom}}</option>
                </select> 
                <span *ngIf="form_configure.controls['idParticipant'].invalid && form_configure.controls['idParticipant'].touched" [ngStyle]="{color: 'red'}">
                    Champ obligatoire*
                </span>
            </div>
            <div class="button-cash">
                <a (click)="close()">Annuler</a>
                <button  class="btn" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
   
</main>