<ngx-spinner>
  <p class="text-white">Loading....</p>
</ngx-spinner>
<div class="container-fluide" >
    <app-login *ngIf="isLoginPage()"></app-login>
    <div *ngIf="!isLoginPage()" class="main-layout">
      <!-- <app-sidebar *ngIf="isAdminPage()"></app-sidebar> -->
      <!-- <app-student-sidebar *ngIf="isStudentPage()"></app-student-sidebar> -->
      <div id="layou_content">
          <router-outlet />
          
      </div>
    </div>
    <div class="session" *ngIf="appSession">
      <app-session-expired-modal [showModal]="showModal" [alert]="alertModal" [heure]="heure" [date]="date" (alertTime)="canceled($event)" [newAlert]="alerMinutea" ></app-session-expired-modal>
    </div>
  </div>
  
  


