<main>
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header " >
        <!-- <strong >
        <img src="assets/logoAppg.png" alt="" [ngStyle]="{'height': '100px'}">
        </strong> -->
        <!-- <h1>UAM</h1> -->
        <!-- <strong>{{school?.nomSchool}}</strong> -->
         <strong>IUFP <fa-icon [icon]="icons.grade" [ngStyle]="{'font-size': '16px' }"></fa-icon> GESTION</strong>
      </div>
      <div class="side-child">
        <ul class="list-unstyled components">
          <div>
            <li class="menu-link">
              <a routerLink="/sidebar">
                <span><fa-icon [icon]="icons.home"></fa-icon>Acceuil</span>
              </a>
            </li>
          </div>
          <!-- ---------------- -->
          <li class="menu-link">
            <a routerLink="/sidebar/roles" routerLinkActive="active">
              <span><fa-icon [icon]="icons.userCheck"></fa-icon>Roles</span>
            </a>
          </li>

          <li class="menu-link">
            <a routerLink="/sidebar/admin-list" routerLinkActive="active">
              <span><fa-icon [icon]="icons.user_surveillance"></fa-icon>Postes</span>
            </a>
          </li>

        </ul>
        <ul id="components">
          <li class="menu-link">
            <a (click)="toggleAdminView(dataAdmin.idAdministra!)" routerLink="/sidebar/my-accunt"
              routerLinkActive="active">
              <span><fa-icon [icon]="icons.user"></fa-icon>Mon Compte</span>
            </a>
          </li>
          <li class="menu-link" routerLinkActive="active">
            <a (click)="show_confirm()">
              <span><fa-icon [icon]="icons.aout"></fa-icon>Déconnexion</span>
            </a>
          </li>


        </ul>

      </div>
    </nav>

    <!-- Page Content -->
    <div id="content">
      <app-header [sidbar]="sidebar"></app-header>
      <div >
        <main>
          <!-- <div> -->

            <!--  -->
            <router-outlet />
          <!-- </div> -->

        </main>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isConfirm">
    <div class="views">
      <h3 class="span">Confirmation</h3>
      <div class="container-views">
        <p>Êtes-vous sûr de vouloir vous déconnectez ?</p>
        <div class="profil">
          <img [src]="dataAdmin.urlPhoto" (error)="onError($event)" alt="">
          <div class="info-pofil">
            <p>{{dataAdmin.nom}} {{dataAdmin.prenom}}</p>
            <p class="text-muted small">{{dataAdmin.idRole.nom.toUpperCase()}}</p>
          </div>

        </div>
        <div class="button-cash">
          <a type="button" (click)="close()">Annuler</a>
          <button type="button" (click)="auth.logout()">Confirmer</button>
        </div>

      </div>
    </div>
  </ng-container>
  <div class="overlay" *ngIf="isConfirm"></div>
</main>