<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h1>UAM</h1>
        <strong>UNIVERSITE-APTECH-MALI</strong>
      </div>
      <div class="side-child">
        <ul class="list-unstyled components">
          <li class="menu-link">
            <a href="#">
              <span><fa-icon [icon]="icons.home"></fa-icon>Acceuil</span>
            </a>
          </li>
          <li class="menu-link">
            <div (click)="toggleSubMenuEnseignant()">
              <a><span><fa-icon [icon]="icons.users"></fa-icon>
                    Enseignants<fa-icon [icon]="isSubMenuOpen.enseignants ? icons.angleUp : icons.angleDown" class="float-end"></fa-icon></span>
              </a>
            </div>
            <ul class="sub-menu" *ngIf="isSubMenuOpen.enseignants">
              <li><a href="#">Liste de Presence</a></li>
              <li><a routerLink="/sidebar/enseignants">Liste des Enseignants</a></li>
              <li><a href="#">Fiche de Paie</a></li>
            </ul>
          </li>
          <li class="menu-link">
            <div (click)="toggleSubMenuStudent()">
              <a> <span><fa-icon [icon]="icons.grade"></fa-icon> 
                    Etudiants<fa-icon [icon]="isSubMenuOpen.etudiants ? icons.angleUp : icons.angleDown" class="float-end"></fa-icon></span>
              </a>
            </div>
            <ul class="sub-menu" *ngIf="isSubMenuOpen.etudiants">
              <li><a routerLink="/sidebar/etudiant">Fiche d'inscription</a></li>
              <li><a href="#">Liste des presence</a></li>
            </ul>
          </li>
          <li class="menu-link">
            <a routerLink="/sidebar/classe">
              <span><fa-icon [icon]="icons.scool"></fa-icon> Classes</span>
            </a>
          </li>
          <li class="menu-link">
            <a routerLink="/sidebar/setting">
              <span><fa-icon [icon]="icons.setting"></fa-icon> Paramettre</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  
    <!-- Page Content -->
    <div id="content">
      <div class="navDiv">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid nav-element">
                <div class="btn-contenair">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
                    <fa-icon [icon]="icons.menu"></fa-icon>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <fa-icon [icon]="icons.menu"></fa-icon>
                    </button>
                </div>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <fa-icon [icon]="icons.user" class="my-custom-style"></fa-icon>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#!">Settings</a></li>
                      <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <!--  -->
            <router-outlet />
          </div>
        </main>
      </div>
    </div>
  </div>
  