
main{
    padding: 20px;
    box-shadow: 0 4px 8px  rgb(0, 0, 0,0.2);
}
.contenaire-head{
    display: flex;
    /* gap: 20%; */
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  span{
    color: var(--primary);
    font-size: 12px;
    
  }
  .back-button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    margin: 10px 0;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}
 button{
    border: none;
    display: flex;
    gap: 8px;
    margin-top: 8px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
   
}
h4{
    color: var(--primary);
}
.heure-content{
    display: flex;
    justify-content: space-between;
}


img{
    width: 80px;  
    height: auto;
    border-radius: 50%;
}
