main{
    height: 80vh;
    width: 100%;
    padding: 10px;
   
}
.head-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
.logo img{
    width: 70px;
    height: auto;
}

button{
    border: none;
    padding: 5px;
    background-color: var(--primary);
    cursor: pointer;
    color: var(--secondary);
    border-radius: 5px;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
        transition: background-color 0.2s ease-in-out;
       
    }
}
select{
    border: none;
    font-size: 14px;
}


.table-container{
    height: 60%;
    position: relative;
    overflow-y: auto;
}
.table thead {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
/* Personnalisation de la barre de défilement */
.table-container::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement */
}

.table-container::-webkit-scrollbar-track {
  background: white; /* Couleur de l'arrière-plan de la piste */
  border-radius: 10px; /* Coins arrondis de la piste */
}

.table-container::-webkit-scrollbar-thumb {
  background: var(--tertiary); /* Couleur de la barre de défilement */
  border-radius: 10px; /* Coins arrondis de la barre */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: var(--primary); /* Couleur de la barre au survol */
}

select {
    height: 30px;
    width: 100px;
    margin-left: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    border: none;
  }

.table-head-info{
    display: flex;
    justify-content: space-between;
}
h6 span{
    font-weight: normal;
}

.footer{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}