<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>
    <div class="head-content">
        <div class="btn-contente">
            <button (click)="imprimer()">Imprimer</button>
            <select (change)="checkMonth($event)">
                <option selected disabled value="">Archives</option>
                <option *ngFor="let month of months" value="{{month.value}}">{{month.name.toUpperCase()}}</option>
            </select>
        </div>
        <div class="logo">
            <img src="assets/logounivsegou.png" alt="">
        </div>
    </div>
    

    <div class="table-container" id="idTable">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mois</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <!-- <th>Mentions</th> -->
                    <!-- <th>Type</th> -->
                    <!-- <th>Module</th> -->
                    <th>Heures/Sv</th>
                    <th>Montant</th>
                    <th>Emergement</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="paies.length; else notFund">
                    <ng-container *ngFor="let paie of filteredPaie()">
                        <tr>
                            <td>{{month.toUpperCase()}}</td>
                            <td>{{paie.nom}}</td>
                            <td>{{paie.prenom}}</td>
                            <!-- <td>{{abrevigateName(paie.filiere)}}</td> -->
                            <!-- <td>{{paie.type.toLocaleUpperCase()}}</td> -->
                            <!-- <td>{{paie.module}}</td> -->

                            <td>{{paie.nbreHeures}} Heures</td>
                            <td>{{paie.montanFormat}}</td>
                            <td></td>
                        </tr>
                    </ng-container>

                </ng-container>
                <ng-template #notFund>
                    <tr>
                        <td colspan="9" class="text-center">Aucun résultat trouvé</td>
                    </tr>
                </ng-template>

            </tbody>
        </table>
    </div>

</main>