<main>

    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icon.back"></fa-icon>
    </div>

    <div class="one-column">
        <div class="child-1">
            <h1>Creation de l'emplois du temps</h1>
        </div>
    
        <div class="child-2">
            <form [formGroup]="EmploisAdd" (ngSubmit)="addEmplois()" >
            
            <div class="phrase">
                
            <p>1. 1.  Choisir le semetre courants , la date du debut et la date de  fin</p>
            </div>
            
            <div class="input-cont">
                <div class="form form-group">
                    <label for="password">Semestre</label> 
                    <select class="form-select" formControlName="idSemestre"  id="semestre" placeholder="semestre"   [class.is-invalid]="EmploisAdd.get('idSemestre')!.invalid && EmploisAdd.get('idSemestre')!.touched">
                    <option  selected disabled value="">Choisir Le semestre</option>
                    <option *ngFor="let seme of semestre" [ngValue]="seme.id">{{seme.nomSemetre}}</option>
                    </select>         
                    <span *ngIf="EmploisAdd.controls['idSemestre'].invalid && EmploisAdd.controls['idSemestre'].touched" [ngStyle]="{color: 'red'}">
                        Champ obligatoire*
                        </span>              
                </div>

                <div class="form form-group"> 
                <label for="password">Date du debut</label> 
                <!-- <input type="date" class="form-control" id="dateDebut" formControlName="dateDebut" placeholder="Date du debut" required> -->
                <input type="date" class="form-control" formControlName="dateDebut" [class.is-invalid]="EmploisAdd.get('dateDebut')!.invalid && EmploisAdd.get('dateDebut')!.touched"  >
                <span *ngIf="EmploisAdd.controls['dateDebut'].invalid && EmploisAdd.controls['dateDebut'].touched" [ngStyle]="{color: 'red'}">
                Champ obligatoire*
                </span>
                </div>

                <div class="form form-group"> 
                <label for="password">Date de fin</label> 
                <input type="date" class="form-control" id="datFin" formControlName="dateFin" placeholder="Date de fin"  readonly>
                </div>
            </div>
            <div class="btn-con">
                <p>2. Passer a la page suivante pour ajouter les seances de formation</p>
           
            <button type="submit" class="btn">Suivant <fa-icon [icon]="icon.next" class="icon"></fa-icon> </button>
        
            </div>
        </form>
        </div>
            
    </div>

    <div class="secon-column">
            
        <!-- <div class="hexagone"></div> -->
        <!-- <div id="bigest" class="hexagone"></div> -->
    </div>
</main>

