<main>
   
    <!-- ------------------------------------------ -->
    <ng-container>
        <div class="views">
            <h3 class="span">Ajouter Module</h3>
            <form [formGroup]="addForm" (ngSubmit)="update()" > 
               <div class="container-views">
                    
                    
                    <div class="form form-group"> 
                        <label for="nom">Nom module:</label> 
                        <input type="text" formControlName="nomModule" class="form-control" placeholder="Nom du module..."
                            [class.is-invalid]="addForm.get('nomModule')!.invalid && addForm.get('nomModule')!.touched"> 
                        <div *ngIf="addForm.get('nomModule')!.invalid && addForm.get('nomModule')!.touched" class="invalid-feedback">
                            <div *ngIf="addForm.get('nomModule')!.errors?.['required']">
                                <span class="label-error">Le nom du module est requis.</span>
                            </div>
                            <div *ngIf="addForm.get('nomModule')!.errors?.['maxlength']">
                                <span class="label-error">Le nom du module ne doit pas dépasser 40 caractères.</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form form-group"> 
                        <label for="coefficient">Coefficient:</label> 
                        <input type="number" formControlName="coefficient" class="form-control" placeholder="Coefficient..."
                            [class.is-invalid]="addForm.get('coefficient')!.invalid && addForm.get('coefficient')!.touched"> 
                        <div *ngIf="addForm.get('coefficient')!.invalid && addForm.get('coefficient')!.touched" class="invalid-feedback">
                            <div *ngIf="addForm.get('coefficient')!.errors?.['required']">
                                <span class="label-error">Le coefficient est requis.</span>
                            </div>
                            <div *ngIf="addForm.get('coefficient')!.errors?.['min'] || addForm.get('coefficient')!.errors?.['max']">
                                <span class="label-error">Le coefficient doit être compris entre 1 et 6.</span>
                            </div>
                        </div>
                    </div>
                
                    <div class="button-cash">
                        <a (click)="close_update()" class="submit" ><span>Annuler</span></a>
                        <button class="submit" type="submit" ><span>Enregistrer</span><fa-icon [icon]="icons.nexte_circle"></fa-icon></button>
                    </div>
               </div>
            </form> 
        </div>
    </ng-container>

    <!-- ------------------------------------- -->
    
</main>