
<main>
     <div class="h4">Modifier Séance</div>
    <form class="form-add" [formGroup]="form_seance!" (ngSubmit)="updat_seance()" >
       
        <div class="div-content">
            <div class="form form-group">
                <label>Enseignants :</label> 
                <select class="form-select" formControlName="idTeacher" >
                  
                      <option  selected disabled value="">{{journee.idTeacher.nom}} {{journee.idTeacher.prenom}}</option>
                      <option *ngFor="let enseignant of enseignants" [value]="enseignant.idEnseignant">{{enseignant.nom}} {{enseignant.prenom}}</option>
                </select> 
                
            </div>
            
            
            <!-- ---------------------------- -->
             <div class="first-content">
                

                <div class="input-content">
                    <div class="form form-group">
                        <label>Séance type :</label> 
                        <select class="form-select" formControlName="seanceType" >
                          
                              <option  selected disabled value="">{{journee.seanceType.toUpperCase()}}</option>
                              <option *ngFor="let seanceType of enum_options.getStatusOptions()" [value]="seanceType.value">{{seanceType.key}}</option>
                        </select> 
                        
                    </div>
                    <!-- <input type="number" formControlName="idEmplois" *ngIf="false"> -->
                  <!-- ------------------- -->
                    <div class="form form-group"> 
                        <label>Salles :</label> 
                        <select class="form-select" formControlName="idSalle"  required>
                        <option selected disabled value="">{{journee.idSalle.nom}}</option>
                        <option *ngFor="let salle of salles" [value]="salle.id">{{salle.nom}}</option>
                        </select> 
                        <!-- <span *ngIf="form_seance.controls['idSalle'].invalid && form_seance.controls['idSalle']!.touched" [ngStyle]="{color:'red'}">
                        Champ obligatoire*
                        </span> -->
                    </div>
                    <!-- ------------------------- -->
                    
                    
                </div>
                 <!-- ======================================================== -->
                <div class="input-content">
                    
                    <!-- ----------------- -->
                    <div class="input-time">
                        <div class="form form-group">
                             <label>Heure de début :</label>
                            <input type="time" class="form-control" id="heureDebut" formControlName="heureDebut"  required>
                            <!-- <span *ngIf="form_seance.controls['heureDebut'].invalid && form_seance.controls['heureDebut']!.touched" [ngStyle]="{color:'red'}">
                                Champ obligatoire*
                              </span> -->
                        </div>
                       <div class="form form-group">
                            <label>Heure de Fin :</label>
                            <input type="time" class="form-control" id="heureFin" formControlName="heureFin"  required>
                            <!-- <span *ngIf="form_seance.controls['heureFin'].invalid && form_seance.controls['heureFin']!.touched" [ngStyle]="{color:'red'}">
                                Champ obligatoire*
                              </span> -->
                        </div>
                                    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="button-cash">
            <button  class="btn btn-danger" type="button" (click)="closeModal()">Annuler</button>
            <button id="btn-submit" class="btn" type="submit">Enregistrer</button>
        </div>
            
      </form>
</main>