<main>
    <div class="views" *ngIf="list_checked.length">
      <h3 class="span">Confirmation de réinscription</h3>
      <div class="container-views">
        <p>Êtes-vous sûr de vouloir faire cette Opération de ré-inscription  dans cette classe,
          <!-- <span> {{NextClass.idFiliere?.idNiveau?.nom}}
            {{abrevigateFiliere(NextClass.idFiliere?.idFiliere?.nomFiliere!)}}?</span> -->
        </p>
        <!-- <div class="profil">
          <img [src]="inscrit?.idEtudiant?.urlPhoto" (error)="onError($event)" alt="photo">
          <p>
            {{inscrit?.idEtudiant?.nom}} {{inscrit?.idEtudiant?.prenom}}<br>
            <span>{{inscrit?.idEtudiant?.status?.toUpperCase()}}</span>
          </p>
        </div> -->

        <div class="button-cash">
          <a type="button" (click)="exitConfirm()">Annuler</a>
          <button type="button" (click)="confirmInscription(list_checked!)">Confirmer</button>
        </div>

      </div>
    </div>
    

<!--    
        <button class="btn-valide" *ngIf="list_checked.length"  (click)="getStudentView(list_checked) ">Valider</button>
      <p class="footer-NB" *ngIf="!NextClassRoom.length && inscription.length">NB: Accune classe supperieure n'est disponible pour la re-inscription</p> -->
  <!-- <div class="overlay" ></div> -->
</main>