<main>
  <div class="head-content">
    <div (click)="goBack()" class="back-button">
      <fa-icon [icon]="icons.back"></fa-icon>
    </div>
    
    <div class="left">
      
      <div class="form form-group">
      
        <select (change)="changeClasse($event)">
          <option class="option" selected disabled value="">Encien classe</option>
          <option *ngFor="let cl of classRoom" value="{{cl.id}}">{{cl.idFiliere?.idNiveau?.nom}}
            {{cl.idFiliere?.idFiliere?.nomFiliere}} </option>
        </select>
      </div>
    </div>
    
  </div>


  <div class="table-container">
    <div class="views" *ngIf="is_show">
      <app-re-inscription-widget [student]="student!" (closeModal)="closeModal()"
        [nextClass]="NextClassRoom"></app-re-inscription-widget>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>N° D'ordre</th>
          <!-- <th>Photo</th> -->
          <th>Nom</th>
          <th>Prenom</th>

          <th>Niveau</th>
          <th>Filiere</th>

          <!-- <th>Telephone</th> -->
          <th>Status</th>
          <!-- <th>Etat</th> -->
          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filterStudents().length ; else noResults">
          <tr *ngFor="let studens of filterStudents(); let i = index">
            <td>{{i + 1}}</td>
            <!-- <td><img src="{{studens.urlPhoto}}" alt=""></td> -->
            <td>{{studens.nom}}</td>
            <td>{{studens.prenom}}</td>

            <td class="class-name" title="{{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}">
              {{studens.idClasse.idFiliere?.idNiveau?.nom}}</td>
            <td class="class-name" title="{{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}">
              {{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}</td>

            <!-- <td>{{studens.telephone}}</td> -->
            <td>{{studens.status}}</td>
            <!-- <td>
                <a >
                <fa-icon [icon]="studens.payer ? icons.active : icons.desactive " [ngStyle]="{ color: studens.payer ? 'green' : 'red' }"></fa-icon><span >{{ studens.payer ? 'Inscrit' : 'Non inscrit' }}</span></a>
              </td> -->
            <td>
              <div class="btn-contenaire">

                <a (click)="getStudentView(studens) "  [class.disabled]="check(studens.matricule)">{{ check(studens.matricule) ? "Déjà Inscrit  en " + niveau!.nom!: "Réinscrit"  }}</a>
                <!-- <a (click)="!check(studens.matricule) ? getStudentView(studens) : null" [class.disabled]="check(studens.matricule)">
                  <p ></p>
                </a> -->
                <!-- <a *ngIf="permission" (click)="getStudent(studens)"><fa-icon [icon]="icons.edit"></fa-icon><span>Modifier</span></a> -->

              </div>
            </td>

          </tr>
        </ng-container>
        <ng-template #noResults>
          <tr>
            <td colspan="9" class="text-center">Veillez sélectionner une classe</td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>

  <div class="overlay" *ngIf="is_show"></div>
</main>