
main{width: 100%;

    padding-top: 20px;
}
a{
    padding: 3px !important;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        
        background-color: var(--primary) !important;
        color: var(--secondary) !important;
    }
}

/* Styler l'en-tête du tableau */
th {
    background: linear-gradient(180deg, #ffffff, #d4d4d4);

}

.table-container{
    height: 400px;
    position: relative;
    overflow-y: auto;
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.table-container::-webkit-scrollbar{
    display: none;
}

tr td{
    font-size: 16px;
    text-overflow: ellipsis;
}

.class-name{
    cursor: pointer;
}
main{
    position: relative;
}

.views{
    width: 400px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    z-index: 10001;
    left: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
   
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
        z-index: 1000; 
      }

      .back-button{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 8px;
        font-size: 20px;
        margin: 10px 0;
        &:hover{
            background-color: var(--tertiary);
            color: var(--primary);
            border: none;
            border-radius: 50%;
        }
    
    }
    .head-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    select{
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: var(--primary);
    }
    .option{
        text-align: end;
    }
    select:focus{
        outline: none;
        border: none;
    }

    .red-border{
       display: none;
    }
    .disabled {
        text-decoration: none;
        pointer-events: none; /* Désactive les événements de clic */
        color: gray; /* Change la couleur pour indiquer que le lien est désactivé */
    }
   