<main>
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header ">
        <!-- <img src="assets/logounivsegou.png" alt=""> -->
        <!-- <h1>UAM</h1> -->
        <!-- <strong>{{school?.nomSchool}}</strong> -->
         <strong>IUFP-GESTION</strong>
      </div>
      <div class="side-child">
        <ul class="list-unstyled components">
          <div>
            <li class="menu-link">
              <a routerLink="/comptable">
                <span><fa-icon [icon]="icons.home"></fa-icon>Acceuil</span>
              </a>
            </li>
          </div>
  
          <li class="menu-link">
            <div (click)="toggleSubMenuStudent()">
              <a> <span><fa-icon [icon]="icons.grade"></fa-icon>Etudiants<fa-icon
                    [icon]="isSubMenuOpen.etudiants ? icons.angleUp : icons.angleDown" class="float-end"></fa-icon></span>
              </a>
            </div>
            <ul class="sub-menu" *ngIf="isSubMenuOpen.etudiants">
              <li><a routerLink="/comptable/etudiant" routerLinkActive="active">Liste des Etudiants</a></li>
              <!-- <li><a routerLink="/r-scolarite/inscription" routerLinkActive="active">Fiche d'inscription</a></li> -->
            </ul>
          </li>
        </ul>
        
      </div>
      <ul id="components">
        <li class="menu-link">
          <a (click)="toAccunt()" routerLink="/comptable/my-accunt" routerLinkActive="active">
            <span><fa-icon [icon]="icons.user"></fa-icon>Mon Compte</span>
          </a>
        </li>
        <li class="menu-link">
          <a (click)="show_confirm()">
            <span><fa-icon [icon]="icons.aout"></fa-icon>Déconnexion</span>
          </a>
        </li>
      </ul>
    </nav>
  
    <!-- Page Content -->
    <div id="content">
      <div class="nav-content">
        <div class="btn-contenair">
          <button type="button" class="btn btn-info" (click)="toggleSidebar()">
            <fa-icon [icon]="icons.menu"></fa-icon>
  
          </button>
          <h6>{{title.toUpperCase()}}</h6>
        </div>
  
        <div class="title-page">
  
        </div>
  
        <div class="item-image">
          <div class="icon-new-content" (click)="toNotifications()">
            <fa-icon [icon]="icons.bell" class="icon-new"></fa-icon>
            <span class="badge-new">5</span>
          </div>
          
          <img [src]="dataAdmin!.urlPhoto" (error)="onError($event)" alt="">
          <div class="name-content">
            <span>{{dataAdmin.nom.charAt(0).toUpperCase()}}. {{dataAdmin.prenom.toUpperCase()}}</span>
            <span class="text-muted small">{{dataAdmin.idRole.nom.toUpperCase()}}</span>
            <!-- <fa-icon [icon]="show_admin ? icons.sortUp : icons.sortDown" class="my-custom-style"></fa-icon> -->
  
          </div>
  
        </div>
  
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div>
  
            <!--  -->
            <router-outlet />
          </div>
  
        </main>
      </div>
    </div>
  </div>
  
    <!-- ------------------disconnect modal -->
     
    <ng-container *ngIf="isConfirm">
      <div class="views">
        <h3 class="span">Confirmation</h3>
        <div class="container-views">
          <p>Êtes-vous sûr de vouloir vous déconnectez ?</p>
          <div class="profil">
            <img [src]="dataAdmin.urlPhoto" (error)="onError($event)" alt="">
            <div class="info-pofil">
              <p>{{dataAdmin.nom}} {{dataAdmin.prenom}}</p>
              <p class="text-muted small">{{dataAdmin.idRole.nom.toUpperCase()}}</p>
            </div>
    
          </div>
          <div class="button-cash">
            <a type="button" (click)="close()">Annuler</a>
            <button type="button" (click)="auth.logout()">Confirmer</button>
          </div>
    
        </div>
      </div>
    </ng-container>
    <div class="overlay" *ngIf="isConfirm"></div>
</main>