<main>
    
<p class="niveau-contenaire">
    <span class="span">LICENCE 1</span>
</p>
<div class="main">
    <ng-container *ngIf="classRoms.length > 0, else notFundTemplate">
    
        <div class="grid-container" *ngFor="let classRom of filterClasse_L1()">
            <div class="grid-item">
                <div class="section-folder">
                    <div class="class-folder">
                        <div class="icon-folder">
                            <fa-icon [icon]="icons.folder" class="icons-style"></fa-icon>
                        </div>

                        <div class="info-folder">
                            <h2 class="title">Nivau : {{classRom.idFiliere?.idNiveau?.nom}} </h2>
                            <p class="title">Filiere : {{classRom.idFiliere?.idFiliere?.nomFiliere}}</p>
                            <p>Effectifs : {{classRom.effectifs}}</p>
                            <a (click)="show_views(classRom)">Clique ici<fa-icon [icon]="icons.angleDown"></fa-icon></a>
                        </div>
                    </div>
                    <ng-container *ngIf=" classRom === classeSelect">
                        <div class="views" *ngIf="isShow_link_modal">
                            <!-- <li *ngIf="getPermission()"> <a (click)="toggle_to_emplois(classeSelect)" > Consulter l'emploi du temps</a></li> -->
                            <li *ngIf="permission"><a (click)="getAll_ues(classeSelect.id!)" >Ajouter des modules</a></li>
                            <li *ngIf="permission" ><a (click)="toggle_to_notes(classeSelect.id!)" >Ajouter des notes</a></li>
                            <li><a (click)="toggle_to_presence(classeSelect.id!)" >Liste des étudiants</a></li>
                            <li><a (click)="toggle_to_noteSemestre(classeSelect.id!)" >Notes du semestre</a></li>
                            <!-- <li><a (click)="toggle_to_update_emplois (classeSelect.id!)" >Modifier l'emploi du temps</a></li> -->
                            <li><a >Archives</a></li>
                        </div>
                    </ng-container>
                </div>
                <!-- ----------------------------- -->
                
            </div> 
        </div>
    </ng-container>
<ng-template #notFundTemplate>
    <div class="not-found">
         <div class="img">
            <img src="assets/error-404-monochrome.svg" alt="">
        </div>
        
        <p>Aucune mention trouvée, <span *ngIf="!permission">veillez vous rendre dans le parametre pour en ajouter</span></p>
        <a (click)="goToParamettre()" *ngIf="!permission">Cliquer ici <fa-icon [icon]="icons.next"></fa-icon></a>
      
    </div>
</ng-template>

<ng-container *ngIf="isShow_update_emplois">
   <!-- <app-emplois-widget [idClasse]="classeSelect.id" (closeUpdateModal)="onCloseUpdateModal(classeSelect.id)"></app-emplois-widget> -->
</ng-container>

<ng-container *ngIf="isShow_add_module">
    <div class="views-add-ues" *ngIf="ueList.length > 0">
        <div class="nom-class"> <h5 >Choisir une ou plusieurs unite d'enseignement</h5></div>
        <form class="formModuleMatiere" [formGroup]="addModules"> 
           <div class="select-all">
                <span>Tout</span>
                    <input type="checkbox" class="custom-checked" (change)="selectAll($event)" [checked]="areAllChecked()" >
                </div>
            <div class="form form-group">
                
                <ng-container *ngFor="let ue of ueList">
                    <div class="input">
                        <label >{{ue.nomUE.toLowerCase()}}</label>
                        <input type="checkbox"  (change)="ue_check(ue.id, $event)" [checked]="is_checked(ue.id)" [ngClass]="{ 'custom-checked': is_checked(ue.id) }">
                    </div>
                </ng-container>
            </div>
            <div class="button-cash">
                <a (click)="exit()"   ><span>Annuler</span></a>
                <button class="submit" (click)="createClassModule(classeSelect)" ><span>Enregistrer</span></button>
              </div>
        </form> 
        </div>
 </ng-container>


</div>
<p class="niveau-contenaire">
    <span class="span">LICENCE 2</span>
</p>
<div class="main">
    <ng-container *ngIf="classRoms.length > 0, else notFundTemplate">
    
        <div class="grid-container" *ngFor="let classRom of filterClasse_L2()">
            <div class="grid-item">
                <div class="section-folder">
                    <div class="class-folder">
                        <div class="icon-folder">
                            <fa-icon [icon]="icons.folder" class="icons-style"></fa-icon>
                        </div>

                        <div class="info-folder">
                            <h2 class="title">Nivau : {{classRom.idFiliere?.idNiveau?.nom}} </h2>
                            <p class="title">Filiere : {{classRom.idFiliere?.idFiliere?.nomFiliere}}</p>
                            <p>Effectifs : {{classRom.effectifs}}</p>
                            <a (click)="show_views(classRom)">Clique ici<fa-icon [icon]="icons.angleDown"></fa-icon></a>
                        </div>
                    </div>
                    <ng-container *ngIf=" classRom === classeSelect">
                        <div class="views" *ngIf="isShow_link_modal">
                            <!-- <li *ngIf="getPermission()"> <a (click)="toggle_to_emplois(classeSelect)" > Consulter l'emploi du temps</a></li> -->
                            <li *ngIf="permission"><a (click)="getAll_ues(classeSelect.id!)" >Ajouter des modules</a></li>
                            <li *ngIf="permission" ><a (click)="toggle_to_notes(classeSelect.id!)" >Ajouter des notes</a></li>
                            <li><a (click)="toggle_to_presence(classeSelect.id!)" >Liste des étudiants</a></li>
                            <li><a (click)="toggle_to_noteSemestre(classeSelect.id!)" >Notes du semestre</a></li>
                            <!-- <li><a (click)="toggle_to_update_emplois (classeSelect.id!)" >Modifier l'emploi du temps</a></li> -->
                            <li><a >Archives</a></li>
                        </div>
                    </ng-container>
                </div>
                <!-- ----------------------------- -->
                
            </div> 
        </div>
    </ng-container>
</div>
<p class="niveau-contenaire">
    <span class="span">LICENCE 3</span>
</p>
<div class="main">
    <ng-container *ngIf="classRoms.length > 0, else notFundTemplate">
    
        <div class="grid-container" *ngFor="let classRom of filterClasse_L3()">
            <div class="grid-item">
                <div class="section-folder">
                    <div class="class-folder">
                        <div class="icon-folder">
                            <fa-icon [icon]="icons.folder" class="icons-style"></fa-icon>
                        </div>

                        <div class="info-folder">
                            <h2 class="title">Nivau : {{classRom.idFiliere?.idNiveau?.nom}} </h2>
                            <p class="title">Filiere : {{classRom.idFiliere?.idFiliere?.nomFiliere}}</p>
                            <p>Effectifs : {{classRom.effectifs}}</p>
                            <a (click)="show_views(classRom)">Clique ici<fa-icon [icon]="icons.angleDown"></fa-icon></a>
                        </div>
                    </div>
                    <ng-container *ngIf=" classRom === classeSelect">
                        <div class="views" *ngIf="isShow_link_modal">
                            <!-- <li *ngIf="getPermission()"> <a (click)="toggle_to_emplois(classeSelect)" > Consulter l'emploi du temps</a></li> -->
                            <li *ngIf="permission"><a (click)="getAll_ues(classeSelect.id!)" >Ajouter des modules</a></li>
                            <li *ngIf="permission" ><a (click)="toggle_to_notes(classeSelect.id!)" >Ajouter des notes</a></li>
                            <li><a (click)="toggle_to_presence(classeSelect.id!)" >Liste des étudiants</a></li>
                            <li><a (click)="toggle_to_noteSemestre(classeSelect.id!)" >Notes du semestre</a></li>
                            <!-- <li><a (click)="toggle_to_update_emplois (classeSelect.id!)" >Modifier l'emploi du temps</a></li> -->
                            <li><a >Archives</a></li>
                        </div>
                    </ng-container>
                </div>
                <!-- ----------------------------- -->
                
            </div> 
        </div>
    </ng-container>
</div>
<div class="overlay" *ngIf="isShow_add_module" (click)="preventClick($event)"></div>

</main>