

main{
  padding-top: 10px;
}
   .span{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
   
   }

  .span::after{
    content: "";
    display: inline-block;
    height: 1px;
    background-color: var(--tertiary);
    width: 45%;
    margin-left: 10px;
  }
  .span::before{
    content: "";
    display: inline-block;
    height: 1px;
    background-color: var(--tertiary);
    width: 45%;
    margin-right: 10px;
  }
   .main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
   }
 
  
  .my-custom-style {
	font-size: 25px;
	margin-right: 10px;
  }
  .container-fluid{
    padding-top: 20px;
  }
  .btn-add{
      display: flex;
      margin-top: 20px;
      margin-bottom: 15px;
      margin-left: 24px;
      /* border: 1px solid red; */
  }
  #error{
      display: none;
      color: red;
  }
  #errorclass{
      display: none;
      color: red;
  }
  #error-module{
      display: none;
      color: red;
  }
  
  .class-card{
      margin-left: 2%;
      border: 1px solid red;
  }
  .grid-container {
    position: relative;
    padding: 10px; 
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 10px;
  }
    .grid-item {
   
      text-align: center;
    }
  
    label{
      color: var(--primary);
      font-weight: 500;
    }
    .icon-m{
      width: 30%;
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .my-custom-style {
      font-size: 24px;
      color: #333;
    }
    

    .h4-head{
      width: 80%;
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .card-header{
      display: flex;
    }
    
   
  
    .btn{
      margin: 0;
    }
    h4{
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 16px;
    }
    
  

  /* ------------------------------------------------ */
  

  /* ----------------------------- */
  .class-folder{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--tertiary);
    padding: 10px;
    border-radius: 5px;
  }
  .class-folder h2{
    margin: 0px;
    font-size: 16px;
    font-weight: 800;
  }
  
  .icons-style{
    color: rgb(255, 196, 0);
    font-size: 3.7rem;
  }
  .info-folder p{
    margin: 0;
    font-size: 14px;
  }
  .info-folder{
    text-align: left;
  }
  .info-folder a{
    text-decoration: none;
    display: flex;
    gap: 8px;
     margin: 0;
     cursor: pointer;
    color: var(--primary);
    font-size: 14px;
    &:hover{
      color: var(--secondary);
      background-color: var(--primary);
      padding: 2px;
      border-radius: 5px;
      width: 100px;
    }
  }
 .info-folder .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


  .views li{
    /* font-weight: 800; */
   text-align: left;
    padding: 5px;
    color: var(--primary);
    border-bottom: 1px solid var(--tertiary);
    cursor: pointer;
    &:hover{
      color: var(--secondary);
    }
  }

  .views{
    background-color: #fff;
    position: absolute;
    top: 105px;
    left: 11px;
    border: 1px solid #ddd;
    padding: 8px;
    /* border-radius: 4px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
   
    }
  .views-add-ues{
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 2%;
    right: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    z-index: 10001;
   
    }
  .nom-class{
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .formModuleMatiere{
    padding: 20px;
  }

  .select-all{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 8px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000; /* Assurez-vous que l'overlay est au-dessus de tout */
  }

  .button-cash a{
    text-decoration: none;
     border: none;
     margin-top: 8px;
     padding: 5px;
     border-radius: 5px;
     background-color: var(--secondary);
     cursor: pointer;
     &:hover{
         
     background-color: red;
         color: var(--primary);
     }
    
  }
  .button-cash button{
    text-decoration: none;
     border: none;
     margin-top: 8px;
     padding: 5px;
     border-radius: 5px;
     color: var(--secondary);
     background-color: var(--primary);
     cursor: pointer;
     &:hover{
         
     background-color: var(--secondary);
         color: var(--primary);
     }
    
  }
  .button-cash{

    display: flex;
    gap: 20px;
    justify-content: end;
    
}

/* ------------------------------------ */
.custom-select {
  border: none;
  width: 100%;
  font-size: 16px;
  color: #333;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  position: relative;
  overflow: hidden; 
  outline: none;
  overflow: scroll;
}



.custom-select option:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.info-folder:checked {
  background-color: var(--primary);
  color: var(--secondary);
}


.not-found img{
  width: 30%;
  height: 30%;
  

}
.not-found{
  font-size: 20px;
    margin-bottom: 20px;
    position: absolute;
    /* top: 50%; */
    width: 100%;
    height: 100%;
    text-align: center;
}
.not-found .img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found p{
  font-size: 20px;
  margin-bottom: 20px;
}
.not-found a{
  color: var(--secondary);
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  background-color: var(--primary);
  text-decoration: none;
  border-radius: 5px;
  &:hover{
    color: var(--primary);
    background-color: var(--secondary);
  }
}
.input{
  display: flex;
  justify-content: space-between;
  border-bottom: var(--tertiary) 1px solid;
  padding: 8px;
}
.custom-checked{
  accent-color: var(--primary);
}