main {
  /* padding-top: 5px; */
  background-color: #fff;
  height: 80vh;
}

.span {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

}

.main-content {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  height: 88%;
  overflow-y: auto;
}

/* Personnalisation de la barre de défilement */
.main-content::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement */
}

.main-content::-webkit-scrollbar-track {
  background: white; /* Couleur de l'arrière-plan de la piste */
  border-radius: 10px; /* Coins arrondis de la piste */
}

.main-content::-webkit-scrollbar-thumb {
  background: var(--tertiary); /* Couleur de la barre de défilement */
  border-radius: 10px; /* Coins arrondis de la barre */
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: var(--primary); /* Couleur de la barre au survol */
}
.main-head{
  display: flex;
  padding:  10px;
}
.niveau-head{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 0;
}
.main-head {
  background-color: #fff;
  position: sticky;
  width: 100%;
  top: 55px;
  right: 0;
  /* left: 270px; */
  z-index: 1001;
}

.main-head fa-icon{
  display: flex;
      align-items: center;
      color: var(--primary);
}

select {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
  padding: 0 7px;
  outline: none;
  border: none;
}
.sorted{
  background-color: transparent;
  color: black;
  border-radius: 5px;
  padding: 0 4px;
}

.search-input-class{
  width: 300px;
  margin-left: 10px;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  outline: var(--primary);
}
.span::after {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: var(--tertiary);
  width: 40%;
  margin-left: 10px;
}

.span::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: var(--tertiary);
  width: 40%;
  margin-right: 10px;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}


.grid-container {
  position: relative;
  padding: 10px;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 10px;
}

.grid-item {

  text-align: center;
}

.btn {
  margin: 0;
}

h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
}

/* ----------------------------- */
.class-folder {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--tertiary);
  padding: 10px;
  border-radius: 5px;
}

.class-folder h2 {
  margin: 0px;
  font-size: 16px;
  font-weight: 800;
}

.icons-style {
  color: rgb(255, 196, 0);
  font-size: 3.7rem;
}

.info-folder p {
  margin: 0;
  font-size: 14px;
}
.info-folder p a {
  display: inline;
  margin-right: 8px;
  color: var(--primary);
  text-decoration: none;
  &:hover{
    color: var(--secondary);
    text-decoration: underline;
  }
}
.bottom-folder{
  display: flex;
  gap: 10px;
}
.icon-folder p{
  margin: 0;
  font-size: 14px;
}
.icon-folder{
  text-align: justify;
}
.info-folder {
  text-align: left;
}
.effectifs{
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.info-folder a {
  text-decoration: none;
  display: flex;
  gap: 8px;
  margin: 0;
  cursor: pointer;
  color: var(--primary);
  font-size: 14px;

  &:hover {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 2px;
    border-radius: 5px;
    width: 100px;
  }
}

.info-folder .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.views li {
  /* font-weight: 800; */
  text-align: left;
  padding: 5px;
  color: var(--primary);
  border-bottom: 1px solid var(--tertiary);
  cursor: pointer;

  &:hover {
    color: var(--secondary);
  }
}

.views {
  background-color: #fff;
  position: absolute;
  top: 105px;
  left: 11px;
  border: 1px solid #ddd;
  padding: 8px;
  /* border-radius: 4px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;

}
.sous-effts p{
  margin: 0;
  font-size: 12px;
}

