<form [formGroup]="addFiliere" (ngSubmit)="send()" > 
    <h4 id="error">Ajouter Filière</h4>
    <div class="form form-group"> 
        <label for="email">Nom</label> 
        <input type="text" formControlName="nomFiliere" class="form-control" id="nom" placeholder="nom de la filiere"  [class.is-invalid]="addFiliere.get('nomFiliere')!.invalid && addFiliere.get('nomFiliere')!.touched"> 
        <div *ngIf="addFiliere.get('nomFiliere')!.invalid && addFiliere.get('nomFiliere')!.touched" class="invalid-feedback">
            <div *ngIf="addFiliere.get('nomFiliere')!.errors?.['required']">
                <span class="label-error">Le nom de la filière est requise.</span>
            </div>
            <div *ngIf="addFiliere.get('nomFiliere')!.errors?.['maxlength']">
                <span class="label-error">Le nom de la filière ne doit pas dépasser 40 caractères.</span>
            </div>
        </div>
    </div> 
    <div class="form form-group">
        <label for="select-modules-multiple" class="label form-label">Niveaux :</label>
        <select class="form-select" formControlName="idNiveau" id="select-modules-multiple" [class.is-invalid]="addFiliere.get('idNiveau')!.invalid && addFiliere.get('idNiveau')!.touched">
          <option selected disabled value="">Choisir le niveau</option>
          <option *ngFor="let niveau of niveaux" [value]="niveau.id">{{ niveau.nom }}</option>
        </select>
        <div *ngIf="addFiliere.get('idNiveau')!.invalid && addFiliere.get('idNiveau')!.touched" class="invalid-feedback">
            <div *ngIf="addFiliere.get('idNiveau')!.errors?.['required']">
                <span class="label-error">Le niveau est requis.</span>
            </div>
           
        </div>                      
    </div>
    <div class="button-cash">
        <a (click)="close_modal()" class="submit" ><span>Annuler</span></a>
        <button class="submit" type="submit" ><span>Enregistre</span><fa-icon [icon]="icons.nexte_circle"></fa-icon></button>
    </div>
</form> 