<main>
    
    <div class="form-container" *ngIf="isShow_add_note">
        <div class="head-form"><span>Ajouter des notes</span><br>
           <p>{{student.nom}} {{student.prenom}}</p></div>
        <div class="content">
            <div class="form-content">
                <ng-container *ngIf="modules.length > 0; else noModules">
                    <div *ngFor="let module of modules">
                        
                        <div class="flex-container">
                            <label id="label" class="label" value="" [for]="'module_' + module.id" (click)="show_form(module.id!)"><strong></strong>
                                {{ module.nomModule }} (Coef {{ module.coefficient }}) :</label>
                           <ng-container *ngIf="showFormId === module.id" >
                            <form [formGroup]="moduleForm" (ngSubmit)="onSubmit(student, module)">
                                <div class="input-content">
                                    <div class="exam-note">
                                        <p >Note exam</p>
                                        <input type="number" [id]="'module_' + module.id + '_examNote'" formControlName="examNote" placeholder="Exam Note" [class.is-invalid]="moduleForm.get('examNote')!.invalid && moduleForm.get('examNote')!.touched">
                                        <div *ngIf="moduleForm.get('examNote')!.invalid && moduleForm.get('examNote')!.touched" class="invalid-feedback">
                                           <span class="label-error">Entre 0 et 20.</span>
                                        </div>
                                    </div>
                                    <div class="class-note">
                                        <p >Note de classe</p>
                                        <input type="number" [id]="'module_' + module.id+ '_classNote'" formControlName="classeNote" placeholder="Class Note" [class.is-invalid]="moduleForm.get('classeNote')!.invalid && moduleForm.get('classeNote')!.touched">
                                        <div *ngIf="moduleForm.get('classeNote')!.invalid && moduleForm.get('classeNote')!.touched" class="invalid-feedback">
                                           <span class="label-error">Etre entre 0 et 20.</span> 
                                        </div>
                                    </div>
                                
                                </div>
                
                                <div class="form form-group">
                                    <label for="select-semestre" class="label form-label">Semestre :</label>
                                    <input type="text" class="form-control input" formControlName="idSemestre" readonly>
                                    <!-- <select class="form-select" formControlName="idSemestre" id="select-semestre">
                                        <option [value]="semestres.id">{{ semestres.nomSemetre }}</option>
                                    </select> -->
                                </div>
                                <button  type="submit">Soumettre</button>
                            </form>
                           </ng-container>
                                
                        </div>
                    </div>
                
                </ng-container>
            </div>
        
    <div class="btn-contenaire">
        <button (click)="close_modal()">Annuler</button>
    </div>
    
</div>
    <ng-template #noModules>
        <div class="no-module-template">
            <p><fa-icon [icon]="icons.notFound"></fa-icon> Aucun module disponible</p>
        </div>
    </ng-template>
    </div>
</main>
<!--  (click)="preventClick($event)" -->
<div class="overlay" *ngIf="isOverlay" ></div>