main {
    padding: 10px;
    height: 80vh;
    width: 100%;
}

select {
    height: 35px;
    width: 150px;
    margin-right: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 8px;
    padding: 0 5px;
    outline: none;
    border: none;
}
button {
    height: 35px;
    width: 150px;
    margin-right: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 8px;
    padding: 0 5px;
    border: none;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
}

.second-child span {
    color: var(--primary);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: var(--secondary);
    }
}
.info-folder{
    width: 10%;
    /* margin-right: 30px; */
}
.back-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    /* margin: 20px 0; */

    &:hover {
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}

p {
    margin: 0;
}

.btn-contenaire {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}


.grid-container {

    position: relative;
    margin: 10px;
    border-radius: 8px;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
.grid-container-modules-without {

    position: relative;
    margin: 10px;
    border-radius: 8px;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
.line{
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid-item-modules-without {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--tertiary);
    border-radius: 8px;
    color: var(--primary);
    background-color: var(--secondary);
}
.grid-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--primo-light);
    border-radius: 8px;
    color: var(--primary);
    background-color: var(--primo-light);

    &:hover {
        /* background-color: var(--primo-dark);
        color: black; */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
}
.form-content{
    width: 100%;
}
.module-name{
    width: 70%;
}

form{
    width: 100%;
    display: flex;
    gap: 30px;
    /* border: 1px solid red; */
}
form .rows{
    width: 30%;
}
.coef{
    text-align: right;
}
form label{
    width: 70%;
    font-weight: bold;
}
.empty-grid-item {

    padding: 15px;
    border: 1px solid var(--primo-light);
    border-radius: 8px;
    color: var(--primary);
    /* opacity: 0.3; */
    background-color: var(--primo-light);

}


/*  */
.empty-emploi-item {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.empty-emploi-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    animation: light 4s infinite; /* Animation de la lumière */
}

@keyframes light {
    0% {
        transform: translateX(-100%); /* Commencer à gauche */
    }
    25% {
        transform: translateY(0); /* Déplacement horizontal */
    }
    50% {
        transform: translateX(100%); /* Déplacement à droite */
    }
    75% {
        transform: translateY(0); /* Retour à l'horizontal */
    }
    100% {
        transform: translateX(-100%); /* Retour à gauche */
    }
}
/* ---scroll style */
.emplois-contente {
    height: 85%;
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

.is-invalid {
    border: 1px solid red;
}
/* Personnalisation de la barre de défilement */
.emplois-contente::-webkit-scrollbar {
    width: 5px;
    /* Largeur de la barre de défilement */
}

.emplois-contente::-webkit-scrollbar-track {
    background: white;
    /* Couleur de l'arrière-plan de la piste */
    border-radius: 10px;
    /* Coins arrondis de la piste */
}

.emplois-contente::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    /* Couleur de la barre de défilement */
    border-radius: 10px;
    /* Coins arrondis de la barre */
}

.emplois-contente::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
    /* Couleur de la barre au survol */
}
.small input{
    outline: none;
    border: 1px var(--primary) solid;
    border-radius: 4px;
    width: 50px;

}
.small{
    margin-top: 10px;
}
.profil img{
    height: 33px;
    width: 33px;
    border: 1px solid var(--tertiary);
    border-radius: 50%;
    object-fit: cover;
}

.profil{
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.profil p{
    font-size: 11px;

}
.left{
    display: flex;
    align-items: flex-end;
}