
<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>
    <div class="input-search">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..."  class="search-input">
    <fa-icon [icon]="icons.recherche" class="search-icon"></fa-icon>
    </div>
    <table  class="table table-striped table-hover">
        <thead>
            <tr>
              <th>ID</th>
              <th>Photo</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Email</th>
              <th>Classe</th>
              <th>Filiere</th>

              <th>Telephone</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="filteredStudents().length; else noResults">
            <ng-container *ngFor="let studens of filteredStudents()">
                <tr >
                <td>{{studens.idEtudiant}}</td>
                <td><img src="{{studens.urlPhoto}}" alt=""></td>
                <td>{{studens.nom}}</td>
                <td>{{studens.prenom}}</td>
                <td>{{studens.email}}</td>
                <td class="class-name"  title="{{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}">{{studens.idClasse.idFiliere?.idNiveau?.nom}}</td>
                <td class="class-name"  title="{{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}">{{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}</td>
                
                <td>{{studens.telephone}}</td>
                    <td>
                        <div class="btn-contenaire">
                            <a (click)="load_module_without_note(studens.idEtudiant!)" data-bs-toggle="modal"   [attr.data-bs-target]="'#modal-' + studens.idEtudiant"><fa-icon  [icon]="icons.plus" class="icons"></fa-icon><span >Ajouter</span></a>
                            <a (click)="load_bulletin(studens.idEtudiant!)" data-bs-toggle="modal"   [attr.data-bs-target]="'#bulletin-' + studens.idEtudiant"><fa-icon  [icon]="icons.eye" class="icons"></fa-icon><span>bulletin</span></a>
                            <a (click)="load_update(studens)" data-bs-toggle="modal"   [attr.data-bs-target]="'#noteEdite_' + studens.idEtudiant"><fa-icon [icon]="icons.edit" class="icons"></fa-icon><span>Modifier</span></a>
                            <!-- <a><fa-icon [icon]="icons.delete"></fa-icon><span>Supprimer</span></a> -->
                        
                        </div>
                    </td>
                
                </tr>
               
                <!-- -----------------------modal add----------------- -->
                <div class="modal fade" [id]="'modal-' + studens.idEtudiant"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <!-- <ng-container *ngIf="modules.length > 0"> -->
                        
                    
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Notes des </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-container">
                                
                                    <!-- <input type="hidden" formControlName="idStudents"> -->
                                    <ng-container *ngIf="modules.length > 0; else noModules">
                                    <div *ngFor="let module of modules">
                                        
                                        <div class="flex-container">
                                            <label id="label" class="label" value="" [for]="'module_' + module.id" (click)="show_form(module.id!)"><strong></strong>
                                                {{ module.nomModule }} (Coef {{ module.coefficient }}) :</label>
                                           <ng-container *ngIf="showFormId === module.id" >
                                            <form [formGroup]="moduleForm" (ngSubmit)="onSubmit(studens, module)">
                                                <div class="input-content">
                                                    <div class="exam-note">
                                                        <p id="flex-container">Note exam</p>
                                                        <input type="number" [id]="'module_' + module.id + '_examNote'" formControlName="examNote" placeholder="Exam Note">
                                                    
                                                    </div>
                                                    <div class="class-note">
                                                        <p>Note de classe</p>
                                                        <input type="number" [id]="'module_' + module.id+ '_classNote'" formControlName="classeNote" placeholder="Class Note">
                                                    </div>
                                                
                                                </div>

                                                <div class="form form-group">
                                                    <label for="select-semestre" class="label form-label">Semestre :</label>
                                                    <select class="form-select" formControlName="idSemestre" id="select-semestre" required>
                                                        <option value="" disabled selected>Choisir Le semestre</option>
                                                        <option *ngFor="let semestre of semestres" [value]="semestre.id">{{ semestre.nomSemetre }}</option>
                                                    </select>
                                                </div>
                                                <button  type="submit">Soumettre</button>
                                            </form>
                                           </ng-container>
                                                
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-template #noModules>
                                    <div class="no-module-template">
                                        <p><fa-icon [icon]="icons.notFound"></fa-icon> Aucun module disponible</p>
                                    </div>
                                </ng-template>
                            </div>
                        
                        </div>
                        <!--  -->
                        </div>
                    </div>
                <!-- </ng-container>
                <p>no modules</p> -->
                </div>
                
                <!-- -----------------------modal bulletin----------------- -->
                <div class="modal fade" [id]="'bulletin-' + studens.idEtudiant"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="header-bulletin">
                                <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Bulletin de {{studens.nom}} {{studens.prenom}}</h1> -->
                                <button type="button"  data-bs-dismiss="modal" aria-label="Close"><fa-icon [icon]="icons.xmark" class="icons-style"></fa-icon></button>
                            </div>
                            <div class="modal-body">
                                <div class="main-content">
                                    <div class="all-section">
                                        <section class="first-column">
                                            <div class="header">
                                                <div class="img-contenaire">
                                                    <img src="{{studens.urlPhoto}}" alt="photo">
                                                </div>
                                                <div class="school-contenaire">
                                                    <h4>{{schoolInfo.nomSchool}}</h4>
                                                    <p> Email : {{schoolInfo.email}}</p>
                                                    <p>Tel : {{schoolInfo.telephone}}</p>
                                                    <p>Adresse : {{schoolInfo.localite}}</p>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="second-column">
                                            <div class="row">
                                                <div class="child">
                                                    <div class="child-item">
                                                        <h4>Nom et Prénom: {{studens.nom}} {{studens.prenom}}</h4>
                                                    </div>
                                                    <div class="child-item">
                                                        <h4>Date de naissance: {{studens.dateNaissance}}</h4>
                                                    </div>
                                                    <div class="child-item">
                                                        <h4>Classe: {{studens.idClasse.idFiliere?.idNiveau?.nom}}</h4>
                                                    </div>
                                                </div>
                                                <div class="child">
                                                    <div class="child-item">
                                                        <h4>Filière: {{studens.idClasse.idFiliere?.idFiliere?.nomFiliere}}</h4>
                                                    </div>
                                                    <div class="child-item">
                                                        <h4>Semestre: </h4>
                                                    </div>
                                                    <div class="child-item">
                                                        <h4>Année scolaire: 2023-2024</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- <h2>Modules de Formation</h2> -->
                                        <div class="container">
                                            <table  class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Module</th>
                                                        <th>Coefficient</th>
                                                        <th>Note Exam</th>
                                                        <th>Note de Classe</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let note of notes">
                                                        <tr>
                                                        <td>{{note.idModule.nomModule}}</td>
                                                        <td>{{note.idModule.coefficient}}</td>
                                                        <td>{{note.examNote}}</td>
                                                        <td>{{note.classeNote}}</td>
                                                    </tr>
                                                    </ng-container>
                                                    
                                                    
                                                </tbody>
                                            </table>
                                            
                                            
                                        </div>
                                        <section class="fourth-column">
                                            <div class="moyennes">
                                                <div class="m-child1">
                                                    <p>Moyenne: {{moyenneGenerale}}</p>
                                                </div>
                                                <div class="m-child2">
                                                    <p>Rang: <span> 6ème / <span>45</span></span></p>
                                                </div>
                                            </div>
                                        </section>
                                        <h2>Mentions</h2>
                                        <section class="fifth-column">
                                            <div class="mention"><h5>{{mention}}</h5></div>
                                        </section>
                                        <div class="btn-container">
                                            <button id="print" type="button" class="print-button btn btn-primary">Télécharger en PDF</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------------------------------------modal update notes----------- -->
            <div class="modal fade"  [id]="'noteEdite_' + studens.idEtudiant"  data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="head-modal modal-header">
                    <h4>Modifier Informations</h4>
                      <button (click)="exit()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     
                      <div class="form-update">
                        <form [formGroup]="update_note_form" (ngSubmit)="update_note(studens)">
                            <!-- <ng-container *ngFor="let note of notes"> -->
                                <ng-container *ngIf="notes.length > 0; else notFoundModule">
                                <div class="views">
                                    <label for="validationDefault01" class="label form-label">Module:</label>
                                    
                                    <select formControlName="idModule" class="form-select" aria-label="Default select example" (change)="onSelecteModule($event)">
                                        <option disabled value="">Selectionner un module</option>
                                        <option *ngFor="let module of modules" [value]="module.id">{{module.nomModule}}</option>
                                    </select>
                                </div>
                            </ng-container>

                            <ng-template #notFoundModule>
                                <p>Aucun module disponible</p>
                            </ng-template>

                                <ng-container *ngIf="moduleSelect" >
                                 <div class="input" *ngIf="update_note_form.get('classeNote')!.value || update_note_form.get('classeNote')!.value == ''"  >
                                    <label for="validationDefault01" class="label form-label">Note de classe :</label>
                                    <input type="text" class="input-with form-control"   formControlName="classeNote" required>
                                    
                                </div>
                                 <div class="input" *ngIf="update_note_form.get('examNote')!.value || update_note_form.get('examNote')!.value == ''"  >
                                    
                                    <label for="validationDefault02" class="label form-label">Note d'examen :</label>
                                    <input type="text" formControlName="examNote" class="input-with form-control"  required>
                                </div>
                              
                            </ng-container>
                            <div class="btn-contenair col-12" *ngIf="moduleSelect">
                            <button class="btn btn-primary" type="submit" name="btn-edited" >Enregistrer</button>
                            </div>
                      </form>
                      </div>
                    
                      
                    </div>
                  </div>
                </div> 
            </div> 
        </ng-container>
    </ng-container>
        <ng-template #noResults>
            <tr>
                <td colspan="9" class="text-center">Aucun résultat trouvé</td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</main>