main{
    /* padding-top: 40px; */
    padding: 10px;
    height: 80vh;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.classe-name  p{
    color: var(--secondary);
    background-color: var(--primary);
    padding: 5px 8px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
 
 }
