main{
    height: 80vh;
}

.first-container, .second-container {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    
}

.head-card-content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 20px;
}


.child-card {
    cursor: pointer;
    padding: 10px;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover{
        border: 1px solid var(--primary);
        border-radius: 8px;
    }
}
.child-card .child-card-content{
    display: flex;
    /* border: 1px solid; */
}
.child-card{
    display: flex;
    flex-direction: column;
    justify-content: start; 
     gap: 10px;
     
}
.child-cards{
    display: flex;
    justify-content: space-between; 
    align-items: end;
     gap: 10px;
     flex: 1;
     transition: transform 0.3s, box-shadow 0.3s;
     margin-bottom: 10px;
     
}
.child-card .child-card-content{
display: flex;
}
h1{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p{
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.calendar-classes-content p{
    margin: 0;
    padding: 0;
}
.sc-annuel{
    margin-top: 20px;
    font-size: 18px;
}
.date-content p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
}
.card-img{
    width: 30%;
}
.card-text{

    width: 70%;
}
.card-text span{
    font-size: 13px;
}

#cart-text{
    margin-left: 20px;
}
.card-img img{
    padding: 5px;
    border-radius: 8px;
    height: 60px;
    width: 60px;
}


.child-card:last-child {
    margin-right: 0;
}

.body-content {
    /* background-color: #e9ecef; */
    padding: 10px;
    border-radius: 8px;
    border: #ccc 1px solid;
}



#span{
    color: var(--primary);
}
fa-icon{

    font-size: 30px;
    color: gray;
}

#calendar {
    height: 50px;
    width: 50px;
}


.child-card:last-child {
    margin-right: 0;
}

.body-content {
    /* background-color: #e9ecef; */
    padding: 20px;
    border-radius: 8px;
    border: #ccc 1px solid;
}

.calendar-classes-content {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primo-light);
    border: var(--primo-light) 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); */
}
.active-contente p{
    font-size: 12px;
}
.class-scrol fa-icon{
    font-size: 16px;
}
.button-content button{
    color: var(--primary) !important;
    border: none;
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
}
.button-content fa-icon{
    color: var(--primary);
}

.class-scrol{
    height: 40vh;
    position: relative;
    overflow-y: auto;
}
/* Personnalisation de la barre de défilement */
.class-scrol::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement */
}

.class-scrol::-webkit-scrollbar-track {
  background: white; /* Couleur de l'arrière-plan de la piste */
  border-radius: 10px; /* Coins arrondis de la piste */
}

.class-scrol::-webkit-scrollbar-thumb {
  background: var(--tertiary); /* Couleur de la barre de défilement */
  border-radius: 10px; /* Coins arrondis de la barre */
}

.class-scrol::-webkit-scrollbar-thumb:hover {
  background: var(--primary); /* Couleur de la barre au survol */
}

