
<div class="main">

   
    <!-- -----------------------------------------------------modal add module in classe-------------- -->

    
<!-- </div > -->
<!-- section  -->
 <ng-container *ngIf="classRoms.length > 0, else notFundTemplate">
<div class="grid-container" *ngFor="let classRom of classRoms ">

    <div class="grid-item">
        <div class="section-folder">
            <div class="class-folder">
                <div class="icon-folder">
                    <fa-icon [icon]="icons.folder" class="icons-style"></fa-icon>
                </div>

                <div class="info-folder">
                    <h2 class="title">Classe : {{classRom.idFiliere?.idNiveau?.nom}} </h2>
                    <p class="title">Filiere : {{classRom.idFiliere?.idFiliere?.nomFiliere}}</p>
                    <p>Effectifs : {{classRom.effectifs}}</p>
                    <a (click)="show_views(classRom)">Clique ici<fa-icon [icon]="icons.angleDown"></fa-icon></a>
                </div>
            </div>
            <ng-container *ngIf=" classRom === classeSelect">
                <div class="views" *ngIf="isShow_link_modal">
                    <li> <a (click)="toggle_to_emplois(classeSelect)" > {{ isDesabled ? 'Consulter l\'emploi' : 'Créer un emploi' }}</a></li>
                    <li><a (click)="getAll_ues(classeSelect.id!)" >Ajouter des modules</a></li>
                    <li><a (click)="toggle_to_notes(classeSelect.id!)" >Ajouter des notes</a></li>
                    <li><a (click)="toggle_to_presence(classeSelect.id!)" >Liste de presences</a></li>
                    <li><a (click)="toggle_to_noteSemestre(classeSelect.id!)" >Notes du semestre</a></li>
                    <li><a >Archives</a></li>
                </div>
            </ng-container>
        </div>
        <!-- ----------------------------- -->
        
    </div> 
</div>
</ng-container>
<ng-template #notFundTemplate>
    <div class="not-found">
        <div class="img">
            <img src="assets/error-404-monochrome.svg" alt="">
        </div>
        
        <p>Aucune classe trouvée, veillez vous rendre dans le parametre pour en ajouter</p>
        <a (click)="goToParamettre()">Cliquer ici <fa-icon [icon]="icons.next"></fa-icon></a>
    </div>
</ng-template>
<ng-container *ngIf="isShow_add_module">
    <div class="views-add-ues" *ngIf="ueList.length > 0, else notFundModule">
        <form class="formModuleMatiere" [formGroup]="addModules" (ngSubmit)="createClassModule(classeSelect)"> 
            <!-- <span id="errorclass">Atteintion cette classe existe deja</span> -->
           
            <div class="nom-class"></div>
            <div class="form form-group">
                <label  class="label form-label">Choisir une ou plusieurs unite d'enseignement</label>
                 <select class="custom-select input" formControlName="idUE" id="select-modules-multiple[]" multiple aria-label="Multiple select" required>
                
                 <option *ngFor="let ue of ueList" [value]="ue.id">{{ue.nomUE}}</option>
                    
                </select>
                
            </div>
            <div class="button-cash">
                <a (click)="exit()"   ><span>Annuler</span></a>
                <button class="submit" type="submit" ><span>Enregistrer</span></button>
              </div>
        </form> 
        </div>
 </ng-container>
 <ng-template #notFundModule>
    <div class="views-add-ues" *ngIf="notFund_modal">
        <p>Aucun Unité d'enseignemants trouver veillez vous rendre dans le Paramètre pour ajouter </p>
        <div class="button-cash">
            <a (click)="exit_modal()"   ><span>Annuler</span></a>
          </div>
    </div>
 </ng-template>
</div>
