<main>

  <div (click)="goBack()" class="back-button">
    <fa-icon [icon]="icons.back"></fa-icon>
  </div>
    <section class="section-head">
        <div class="month-contenaire">
            <p>{{formattedDate}}</p>
            <p> Emploi du temps du {{emplois.dateDebut}} au {{emplois.dateFin}}</p>
            <p>{{emplois.idClasse.idFiliere?.idNiveau?.nom}} ( {{emplois.idClasse.idFiliere?.idFiliere?.nomFiliere}} )</p></div>
              
            
        <div class="btn-contenaire">
            <div class="child-1">
              <button (click)="validate_emplois()" class="btn btn-valid-emplois" type="button"><fa-icon [icon]="icons.cl_check"></fa-icon> Valider l'Emplois</button>
       
                <!-- <button *ngIf="!isCreating" class="btn btn-show-form" type="button" (click)="show_form()"><fa-icon [icon]="icons.plus"></fa-icon> Créer une séance</button> -->
                
              </div>
            <div class="child-2">
                <!-- <button class="btn btn-primary" type="submit" (click)="add_seance()">Enregistrer</button> -->
            </div>
        </div>

    </section>
    <section class="content">
       
        <!-- ------------------------------------------------------ -->
         <div id="idTable" class="section-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="horaire">Horaires</th>
                <ng-container *ngFor="let dateInfo of day_of_head">
                  <td scope="col">{{ dateInfo }}</td>
                </ng-container>
                
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="seances.length; else notFund">
                <tr>
                  <!-- <th scope="row" class="text-left">{{ heure }}</th> -->
                  
                  <ng-container *ngFor="let dateInfo of datesWithDaysTest; ">
                    <td scope="col">
                      <ng-container *ngFor="let seance of seances">
                        <ng-container *ngIf="dateInfo.dates.includes(seance.date!.toString())">

                        <div class="seance-content">
                            <div class="childre-1" *ngIf="dateInfo.day != 'Samedi'; else exam_template">
                                <strong> {{ seance.idTeacher.nom.charAt(0).toUpperCase() }}.  {{seance.idTeacher.prenom.toUpperCase()}}</strong><br>
                                {{ seance.heureDebut }} - {{ seance.heureFin }} <br>
                                {{seance.idModule.nomModule}} <br>
                                
                            </div>

                            <ng-template #exam_template>
                              <div class="childre-1">
                                <!-- <strong></strong> -->
                                {{ seance.heureDebut }} - {{ seance.heureFin }} <br>
                                {{seance.idModule.nomModule}} <br>
                              </div>
                              <div class="childre-2">
                                <span>{{seance.date?.toString()}}</span>
                                <div class="btn-cont">
                                  <strong>Examen</strong>
                                </div>
                               
                              </div>
                              
                            </ng-template>
                            <div class="childre-2" *ngIf="dateInfo.day != 'Samedi'">
                              <span>{{seance.date?.toString()}}</span>
                              <div class="btn-cont" >
                                <button (click)="show_comfirme_delete(seance.heureDebut, seance.heureFin)" type="button" ><fa-icon [icon]="icons.delete" [ngStyle]="{color: 'red'}" class="icon"></fa-icon></button>
                                <button (click)="show_update_seance(seance.id!)"  ><fa-icon [icon]="icons.edit" class="icon"></fa-icon></button>
                            
                              </div>
                            </div>
                        </div> 

                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
              <ng-template #notFund>
                <tr>
                    <td colspan="9" class="text-center">Aucun résultat trouvé</td>
                </tr>
            </ng-template>
            </tbody>
          </table>
          <div class="refresh">
            <span (click)="refreshPage()">Imprimer en pdf</span>
          </div>
              
              <div class="views" *ngIf="selected_seance_heure_fin">
                <h4>Modifier la séance</h4>
                <form class="form-up" [formGroup]="update_seance_form" (ngSubmit)="update_seance()" >
                  <div class="input-class">
                     <label>Enseignants</label> 
                    <select class="form-select" formControlName="idTeacher"  id="enseignant" placeholder="Enseignants" [class.is-invalid]="update_seance_form.get('idTeacher')!.invalid && update_seance_form.get('idTeacher')!.touched"   required>
                      <option  selected disabled value="">Choisir L'Enseignant</option>
                      <option *ngFor="let enseignant of enseignants" [value]="enseignant.idEnseignant">{{enseignant.nom}}</option>
                    </select>
                    <span *ngIf="update_seance_form.controls['idTeacher'].invalid && update_seance_form.controls['idTeacher'].touched" [ngStyle]="{color: 'red'}">
                      Obligatoire*
                    </span>
                  </div>
                   
                  <div class="input-class">
                    <label>Modules</label> 
                    <select class="form-select" formControlName="idModule"  id="idModule" placeholder="Modules"  [class.is-invalid]="update_seance_form.get('idModule')!.invalid && update_seance_form.get('idModule')!.touched"   required>
                      <option  selected disabled value="">Choisir Le Module</option>
                      <option *ngFor="let module of modules" value="{{module.id}}">{{module.nomModule}}</option>
                    </select>
                    <span *ngIf="update_seance_form.controls['idModule'].invalid && update_seance_form.controls['idModule'].touched" [ngStyle]="{color: 'red'}">
                      Obligatoire*
                    </span>
                  </div>
                    


                      <input *ngIf="false" type="number" formControlName="id" class="form-control" id="id">
                      <input *ngIf="false" type="date" formControlName="date" class="form-control" id="date">
                      <div class="input-class">
                        <label>Heure début</label>
                        <input type="time" formControlName="heureDebut" class="form-control" id="heureDebut"  [class.is-invalid]="update_seance_form.get('heureDebut')!.invalid && update_seance_form.get('heureDebut')!.touched"  required>
                    
                      </div>
                      <div class="input-class">
                        <label>Heure fin</label>
                        <input type="time" formControlName="heureFin" class="form-control" id="heureFin"  [class.is-invalid]="update_seance_form.get('heureFin')!.invalid && update_seance_form.get('heureFin')!.touched"  required>
                 
                      </div>
                     
                  <div class="button-cash">
                    <a (click)="exit()"   ><span>Annuler</span></a>
                    <button class="submit" type="submit" ><span>Suivant</span><fa-icon [icon]="icons.nexte_circle"></fa-icon></button>
                  </div>
                </form>
              </div>
         
        </div>
        
    </section>
    
    <!-- --------------------------------------- -->

    <div class="overlay" *ngIf="selected_seance_heure_fin" (click)="preventClick($event)"></div>
    <div class="overlay" *ngIf="isCreating" (click)="preventClick($event)"></div>
    <div class="overlay" *ngIf="deleted_modal" (click)="preventClick($event)"></div>

    <div class="views delete-modal" *ngIf="deleted_modal">
      <h4>Confirmation de suppression</h4>
      <div class="content">
        <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
      </div>
      <div class="button-cash">
        <a (click)="close_delete_modal()"><span>Annuler</span></a>
        <button class="submit" (click)="deleted(hasDeleted)" ><span>Confirmer</span></button>
      </div>
    </div>
</main>