main {
  display: flex;
  flex-direction: column;
  height: 80vh;

}



button {
  color: var(--secondary);
  margin-top: 20px;
  margin-right: 10px;

  background-color: var(--primary);
  border: none;

  &:hover {
    background-color: var(--secondary);
    color: var(--primary);
  }
}

/* ----------------------------- */
.class-folder {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--tertiary);
  padding: 10px;
  border-radius: 5px;
}

.class-folder h2 {
  margin: 0px;
  font-size: 16px;
  font-weight: 800;
}

.icons-style {
  color: rgb(255, 196, 0);
  /* color: var(--primary-light); */
  font-size: 2.7rem;
}

.info-folder p {
  margin: 0;
  font-size: 14px;
}

.info-folder {
  text-align: left;
}

.info-folder a {
  text-decoration: none;
  display: flex;
  gap: 8px;
  margin: 0;
  cursor: pointer;
  color: var(--primary);
  font-size: 14px;

  &:hover {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 2px;
    border-radius: 5px;
    width: 100px;
  }
}

.info-folder .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------------------grid style */
.grid-container {
  position: relative;
  padding: 10px;
  margin: 0 10px;
  background-color: var(--primo-light);
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color: white;
  text-align: center;
}

.occupe {
  color: red;
  /* font-weight: 500; */
}

.disponible {
  font-size: 12px;
  color: var(--primary);
  /* font-weight: 500; */
}

h4 {
  font-size: 16px;
  font-weight: 800;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.empty-content {
  font-size: 16px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-modal{
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 40%;
    top: -40%;
}
h4::before {
  content: "";
  display: inline-block;
  width: 90%;
  margin-right: 10px;
  /* margin: 10px; */
  height: 1px;
  background-color: var(--tertiary);
}

h4::after {
  content: "";
  display: inline-block;
  width: 90%;
  margin-left: 10px;
  height: 1px;
  background-color: var(--tertiary);
}

h4 p {
  width: 136px;
}
.main-contente{
  overflow: hidden;
  height: 90vh;
  overflow-y: auto;
}

.head {
  padding: 0 10px  10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
/* Personnalisation de la barre de défilement */
.main-contente::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement */
}

.main-contente::-webkit-scrollbar-track {
  background: white; /* Couleur de l'arrière-plan de la piste */
  border-radius: 10px; /* Coins arrondis de la piste */
}

.main-contente::-webkit-scrollbar-thumb {
  background: var(--primary); /* Couleur de la barre de défilement */
  border-radius: 10px; /* Coins arrondis de la barre */
}

.main-contente::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light); /* Couleur de la barre au survol */
}