main{
    padding: 20px;
    width: 100%;
}
.content{
    display: flex;
    gap: 20px;
}
.childre-2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
#date{
    font-size: 13px;
    color: blue;
    margin-bottom: 10px;
}
#classe{
    font-size: 11px;
}
img{
    height: 30px;
    width:auto;
    &:hover{
        border: 1px solid var(--primary);
        border-radius: 4px;
        padding: 5px;
    }
}
span{
    font-size: 12px;
    /* color: blue; */
    /* font-weight: 300; */
}
/* --------------------------------------- */
.month-contenaire{
    display: flex;
    gap: 20px;
}
.section-table{
    width: 100%;
}
.seance-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.text-left{
    display: none;
}
.horaire{
    display: none;
}
.section-head{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #f4f4f4;
    padding-right: 20px;

}
p{
    font-size: 20px;
    font-weight: 500;
}
.td-classe{
    border-bottom: 1px solid #ccc !important;
}
 .btn{
    font-size: 10px;
    margin-left: 20px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
 }
 #btn-submit{
    margin-top: 10px;
 }
 /* ----------------------form style */

.input-time{
    display: flex;
    justify-content: space-between;
}
.hidden{
    display: none;
   }
  
  section{
    border: none;
  }

@media (max-width: 768px) {
    .grid-item {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .grid-item {
        flex: 1 1 100%;
    }
}
/* ------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the value as needed for the spacing between stacked elements */
  }


  .empModuleName {
    font-size: 12px;
    font-weight: normal;
  }

  .back-button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    margin: 10px 0;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}