<main class="bg-light">
   
    <div class="container-form">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="head-content">
                <div class="head-icon">
                    <fa-icon class="icon" [icon]="icons.user"></fa-icon>
                </div>
            </div>
            
            <h4>Mot de passe oublier?</h4>
            <p>Veillez saisir votre address email</p>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email...."  [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched">
                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="invalid-feedback">
                    Email invalide
                </div>
            </div>
            <div class="btn-btn-contenair">
                <button type="submit" class="btn-send">Envoyer</button>
            </div>
            <div class="bottom-content">
                <a class="cancel" (click)="goBack()"><fa-icon class="icon" [icon]="icons.arrowLeft"></fa-icon> Annuler</a>
            </div>
            <div class="bottom-bar">
                <div class="bar" id="first"></div>
                <div class="bar" ></div>
                <div class="bar" ></div>
            </div>
           
        </form>
        
    </div>
</main>