<main class="emplois-main-contente" >
    <!-- <div (click)="goBack()" class="back-button" *ngIf="!permission">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div> -->
    
    <div class="btn-contenaire">
        <button *ngIf="permission" type="button"  (click)="nouveau()"><fa-icon [icon]="icons.plus"></fa-icon> Nouveau</button>
        
        <div class="app" *ngIf="show_add">
            <app-emplois-du-temps (closeModale)="close()"></app-emplois-du-temps>
        </div>
        <div class="app-update" *ngIf="show_update">
            <app-emplois-widget [emplois]="emploiSelect" (closeUpdateModal)="close()"></app-emplois-widget>
        </div>
        <div class="input-search">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..." class="search-input">
          </div>
   </div>
   <div class="emplois-contente">
    <div class="grid-container">
        <div class="grid-item" *ngFor="let eploi of filteredEmplois()">
            <!-- <div class="section-folder"> -->
                <div class="emploi-item" >
                  
                    <div class="info-folder">
                        <h6 class="title">Date de début</h6>
                        <p class="small">{{eploi.dateDebut}}</p>
                        
                    </div>
                    <div class="info-folder">
                        <h6 class="title">Date de fin</h6>
                        <p class="small">{{eploi.dateFin}}</p>
                        
                    </div>
                    <div class="info-folder">
                        <h6 class="title">Module</h6>
                        <p class="small" id="module">{{eploi.idModule.nomModule}}</p>
                        
                    </div>
                    <div class="info-folder">
                        <h6 class="title">Semestre</h6>
                        <p class="small">{{eploi.idSemestre.nomSemetre}}</p>
                        
                    </div>
                    <div class="info-folder">
                        <h6 class="title">Mention</h6>
                        <p class="small">{{eploi.idClasse.idFiliere?.idNiveau?.nom}} {{eploi.idClasse.idFiliere?.idFiliere?.nomFiliere}}</p>
                        
                    </div>
                    <!-- <div class="active-contente"> -->
                        <p > {{eploi.toDay ? "En cours" : "En attente"}}
                             <fa-icon [ngStyle]="{color: eploi.toDay ? 'green' : 'red'}" [icon]="icons.circle"></fa-icon>
                        </p>
                    <!-- </div> -->
                    <div class="next-col second-child"> 
                        <a *ngIf="permission" (click)="deleted(eploi.id!)" ><fa-icon [icon]="icons.delete" class="delete"></fa-icon> Supprimer</a>
                    
                        <a *ngIf="permission" (click)="updated(eploi)" ><fa-icon [icon]="icons.edit"></fa-icon>Modifier</a>
                        <div class="button-content">
                            <button class="btn " (click)="toggle_toSeance(eploi.id!)"><fa-icon [icon]="icons.nexte"></fa-icon></button>
                        </div>
                        <!-- <a (click)="toggle_toSeance(eploi.id!)"><fa-icon [icon]="icons.eye"></fa-icon>Consulter</a> -->
                    </div>
                    
                    
                </div>
            <!-- </div> -->
        </div>
    </div>
   </div>
    
</main>