<main>
    <div (click)="goBack()" class="back-button" *ngIf="!permission">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>
    
    <div class="btn-contenair">
        <div class="tab-head">
            <p>Les emplois du temps en cours</p>
        </div>
        <button type="button"  (click)="nouveau()"> Nouveau</button>
   </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Semestre</th>
                <th>Mensions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="emplois.length; else notFund">
                <ng-container  *ngFor="let eploi of emplois" >
                    <tr (click)="toggle_toSeance(eploi.id!)">
                        <td>{{eploi.dateDebut}}</td>
                        <td>{{eploi.dateFin}}</td>
                        <td>{{eploi.idSemestre.nomSemetre}}</td>
                        <td class="next-col">{{eploi.idClasse.idFiliere?.idNiveau?.nom}} {{eploi.idClasse.idFiliere?.idFiliere?.nomFiliere}} <fa-icon  [icon]="icons.next"></fa-icon></td>
                    </tr>
                </ng-container>
                
            </ng-container>
            <ng-template #notFund>
                <tr>
                    <td colspan="9" class="text-center">Aucun résultat trouvé</td>
                </tr>
            </ng-template>
            
        </tbody>
    </table>
</main>