main{
    padding:  10px;
}
td{
    border: none;
}
tr{
    border-left: 1px solid var(--tertiary);
    border-right: 1px solid var(--tertiary);
    cursor: pointer;

    &:hover{
        background-color: #e6e4e4;
    }
}
fa-icon{
    background-color: var(--tertiary);
    padding: 5px;
    height: 30px;
    /* width: 30px; */
    color: var(--secondary);
    border-radius: 50%;
}

.tab-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    margin: 10px 0;
    &:hover{
        background-color: var(--tertiary);
        color: var(--primary);
        border: none;
        border-radius: 50%;
    }

}
.next-col{
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--secondary);
    &:hover{
        background-color: var(--secondary);
        color: var(--primary);
    }
    
}
p{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}
.btn-contenair{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}