<main>
    <div class="first-container">
        <div class="head-card-content">
            <div class="child-card" (click)="toggle_student()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="{{urlAsset}}study-group-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Les Etudiants Inscrit</p>
                        <h1>{{studentNumber_inscrit}}</h1>
                    </div>
                    
                </div>
                
            </div>
            <div class="child-card" (click)="toggle_student()">
                <div class="child-card-content">
                    <div class="card-img">
                        <img  src="{{urlAsset}}study-group-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text">
                        <p>Les Etudiants non Inscrit</p>
                        <h1>{{studentNumber_noInscrit}}</h1>
                    </div>
                    
                </div>
                
                
            </div>
            <div class="child-card" >
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="{{urlAsset}}money-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Scolarité annuelle versé</p>
                        <p class="small"> PRO : {{sumScolaritePro}}</p>
                        <p class="small">REG : {{sumScolariteReg}}</p>
                        <h5 class="sc-annuel">TOTAL : {{sum_scolarite}}</h5>
                    </div>
                    
                </div>
                
                
            </div>

            <div class="child-card" >
                <div class="child-card-content">
                    <div class="card-img">
                        <img src="{{urlAsset}}money-icon.svg" alt="Logo">
                    </div>
                    <div class="card-text" >
                        <p>Réliquat annuel</p>
                        <p class="small"> PRO : {{reliquatPro}}</p>
                        <p class="small">REG : {{reliquatReg}}</p>
                        <h5 class="sc-annuel">TOTAL : {{reliquat}}</h5>
                    </div>
                    
                </div>
                
                
            </div>
           
        </div>
        <!-- -------------------------------------------------------------- -->
        
    </div>
</main>