
<main id="bulletin__content">
    <div class="header">
        <div (click)="goBack()" class="back-button" title="Retour">
             <fa-icon [icon]="icons.back"></fa-icon>            
        </div>
        <div class="classe-name">
            <p>Classe : {{classe!.idFiliere?.idNiveau?.nom!}}-{{share_methode.abreviateFiliereName(classe!.idFiliere?.idFiliere?.nomFiliere!)}} {{share_methode.extractAnnee(classe?.idAnneeScolaire!)}}-{{share_methode.extractAnnee(classe?.idAnneeScolaire!) + 1}}</p>
        </div>
      </div>
    <div id="head-header">
        
       <div id="btn-contenair" class="btn-contenair">
           <div class="buttons">
            <div class="semestre" >
                <p *ngFor="let item of semestres"><span (click)="onSelect(item.id!)" [ngClass]="{'active': idSemestre && item.id === idSemestre}">{{item.nomSemetre}}</span></p>
              </div>
                <div class="btn-content">
                    <button *ngIf="notes.length > 0" (click)="downloadToPdf()" type="button">
                        Exporter</button>
            
                </div>
            <button *ngIf="students.length" (click)="calculate()">Calculer Moyenne</button>

           </div>

           <!-- <section id="head" class="head" >
            <div class="info">
                <h4>Institut Universitaire de Formation Professionnelle (IUFP)</h4>
                <p>Annee Universitaire {{anneeScolaire}}</p>
                <p>Resultat definitifs  {{semestreSelect?.nomSemetre || undefined}}
    
                </p>
                <p>Filiere : {{classe?.idFiliere?.idNiveau?.nom}} {{classe?.idFiliere?.idFiliere?.nomFiliere}}</p>
            </div>
        </section> -->

           <div class="filter-content" *ngIf="students.length">
            <div class="trie-content">
                <label for="tri"><fa-icon [icon]="icons.filter" ></fa-icon> </label>
                <select id="tri" (change)="onSort($event)">
                    <option disabled selected value="">Trier</option>
                    <option value="nom">Nom</option>
                    <option value="prenom">Prénom</option>
                </select>
            </div>
                <div class="input-search">
                    <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..." class="search-input">
                </div> 
           </div>
          
          
       </div>
      
   </div>
    
    <!-- -------------------------------------------------- -->
    <section class="table-container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom </th>
                        
                        <th scope="col">Date de naissance</th>
                        <th scope="col">Lieu de naissance</th>
                        <th scope="col">Sexe</th>

                        <ng-container *ngFor="let note of notes">
                            <ng-container *ngFor="let module of note.ues.modules">
                                <th  class='vertical-header nom-module'>{{ module.nomModule }}</th>
    
    
                            </ng-container>
                            <th scope="col" class='vertical-header col-noteUe' > UE-{{ note.ues.code }}</th>
    
                        </ng-container>
                        
                        <th scope="col" class='vertical-header'>Moyenne</th>
                        <th scope="col" class='vertical-header'>Observation</th>
                        
                    </tr>
                   
                </thead>
                
    
                <tbody>
                    @if(students.length){
                    <ng-container *ngFor="let student of filterStudents(); let i = index">
                        
                        <!-- <ng-container *ngFor="let item of moyenne"> -->
                            <tr>
                                <td class="numerotation-clumn">{{ i + 1 }}</td>
                                <td>{{ student.prenom }}</td>
                                <td>{{ student.nom }}</td>
                                
                                <td>{{ student.date_naissance }}</td>
                                <td>{{ student.lieuNaissance }}</td>
                                <td>{{ student.sexe}}</td>
                        
                                <!-- Itération sur les notes de l'étudiant -->
                                <ng-container *ngFor="let ue of student.noteDTO">
                                    <!-- Itération sur les modules pour chaque UE de l'étudiant -->
                                    <ng-container *ngFor="let module of ue.ues.modules">
                                        <!-- Affiche le module ici -->
                                        <td>
                                            @if (student.moyenGeneral < 10 && module.noteModule! < 10) {
                                                <span style="font-weight: bold;">X</span>
                                            }
                                        </td>
                                    </ng-container>
                                    <!-- Colonne avec la note de l'UE correspondante -->
                                    <td class="col-noteUe">{{ ue.moyenUe }}</td>
                                </ng-container>
                        
                                <td>
                                        {{ student.moyenGeneral }}
                                    
                                    </td>
                                <td>
                                    @if (student.moyenGeneral >= 10 && student.moyenGeneral <= 20)
                                    {
                                        <span>Admis</span>
                                    }
                                    @else if (student.moyenGeneral >= 3 && student.moyenGeneral < 10)
                                    {
                                        <span>Ajourné</span>
                                    }
                                   
                                    @else
                                    {
                                        <span>--</span> 
                                    }
                                </td>
                                
                            </tr>
                        <!-- </ng-container> -->
                        

                    </ng-container>
                }@else {
                    <tr>
                        <td class="text-center" colspan="9" >Aucun résultat trouvé</td>
                    </tr>
                }
                    
                    
                </tbody>
                
            </table>
           
        </div>
       
    </section>
</main>