main{
    width: 100%;
    padding: 0px 10px;
    height: 80vh;
}
.vertical-header{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}
.classe-name  p{
    color: var(--secondary);
    background-color: var(--primary);
    padding: 5px 8px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
 
 }
table{
    font-size: 12px;
}
.col-noteUe, th{
    background-color: var(--tertiary);
    font-weight: bold;
}

th{
    height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 150px; */
    white-space: nowrap;

}
tr, td, th{
    border: 1px solid black;
    font-size: 12px !important;
    padding: 3px;
}

p{
    margin: 0;
    font-size: 16px;
}
h4{
    font-size: 20px;
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

select{
    border: none;

}
select:focus{
    outline: none;
    box-shadow: none;
}

.table-container{
    position: relative;
    width: 100%;
    height: 88%;
}
.table-responsive{
    width:  100%;
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
}
/* Personnalisation de la barre de défilement */
.table-container::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
  }
  
  .table-container::-webkit-scrollbar-track {
    background: white; /* Couleur de l'arrière-plan de la piste */
    border-radius: 10px; /* Coins arrondis de la piste */
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: var(--tertiary); /* Couleur de la barre de défilement */
    border-radius: 10px; /* Coins arrondis de la barre */
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary); /* Couleur de la barre au survol */
  }

.btn-contenair{
    display: flex;
    justify-content: space-between;
    /* width: 220px; */
    margin-bottom: 10px;
    margin-left: 0;
}
.buttons{
    display: flex;
    gap: 10px;
}


.btn-contenair button {
    height: 30px;
    color: var(--secondary);
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: var(--primary);
        color: var(--secondary);
        border: none;
    }
  }

  .semestre {
    display: flex;
    gap: 10px;
   }
   .semestre p{
     margin: 0;
     font-weight: bold;
     font-size: 16px;
     cursor: pointer;
   }
   .active{
    padding: 5px;
     background-color: var(--secondary);
     color: var(--primary);
   }