<main class="bg-light">
   
    <div class="container-form">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="head-content">
                <div class="head-icon">
                    <fa-icon class="icon" [icon]="icons.envelopeOpen"></fa-icon>
                </div>
            </div>
            
            <h5>Réinitialiser le mot de passe</h5>
            <p *ngIf="email !== ''">Nous avons envoyé le code à <span>{{email}}</span></p>
            
            <div class="form-group">
                <input type="number" class="box" formControlName="box1"  [ngClass]="{'is-invalid': form.controls['box1'].invalid && form.controls['box1'].touched}">
                <input type="number" class="box" formControlName="box2"  [ngClass]="{'is-invalid': form.controls['box2'].invalid && form.controls['box2'].touched}">
                <input type="number" class="box" formControlName="box3"  [ngClass]="{'is-invalid': form.controls['box3'].invalid && form.controls['box3'].touched}">
                <input type="number" class="box" formControlName="box4"  [ngClass]="{'is-invalid': form.controls['box4'].invalid && form.controls['box4'].touched}">
            </div>
            <div class="btn-btn-contenair">
                <button type="submit" class="btn-send">Envoyer</button>
            </div>
            <div class="try-content">
                <a (click)="retry(email)">Re-envoyer le code</a>
            </div>
            <div class="bottom-content">
                <a class="cancel" (click)="goBack()"><fa-icon class="icon" [icon]="icons.arrowLeft"></fa-icon> Annuler</a>
            </div>
            <div class="bottom-bar">
                <div class="bar" ></div>
                <div class="bar" id="second" ></div>
                <div class="bar" ></div>
            </div>
           
        </form>
        
    </div>
</main>