<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>
    <select  (change)="changeGroup($event)">
        <option disabled selected value="">Groupe</option>
        <option *ngFor="let g of groupes" [value]="g.id">{{g.nom}}</option>
    </select>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Groupe</th>
                <th>Emargement</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students; let i = index">
                <td>{{i+1}}</td>
                <td>{{student.nom}}</td>
                <td>{{student.prenom}}</td>
                <td>
                    {{group.nom}}
                </td>
                <td>----</td>
            </tr>
        </tbody>
    </table>
</main>