<main>
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>
    <div class="head">
        <div class="left">
        <select  (change)="changeGroup($event)">
            <option disabled selected value="">Groupe</option>
            <option *ngFor="let g of groupes" [value]="g.id">{{g.nom}}</option>
        </select>
        <button>Imprimer</button>
        </div>
        
        <div class="input-search">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Recherche..." class="search-input">
            
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>N°</th>
                <!-- <th>Matricule</th> -->
                <th>Nom</th>
                <th>Prénom</th>
                <th>Groupe</th>
                <th>Emargement</th>

            </tr>
        </thead>
        <tbody>
           @if(filteredInscription().length){
            <tr *ngFor="let inscrit of filteredInscription(); let i = index">
                <td>{{i+1}}</td>
                <!-- <td>{{inscrit.idEtudiant.matricule}}</td> -->
                <td>{{inscrit.idEtudiant.nom}}</td>
                <td>{{inscrit.idEtudiant.prenom}}</td>
                <td>
                    {{group.nom}}
                </td>
                <td>----</td>
            </tr>
           }@else {
            <tr>
                <td colspan="9" class="text-center">Aucune inscription pour ce groupe.</td>
            </tr>
           }
            
        </tbody>
    </table>
</main>