<main id="idTable">
  <div class="head">
    <div (click)="goBack()" class="back-button">
        <fa-icon [icon]="icons.back"></fa-icon>
    </div>
  <app-der-edit-seance *ngIf="journeeSelect != null" [journee]="journeeSelect" (closeUpdate)="exit()"></app-der-edit-seance>

    <div class="classe-name">
        <p>Classe : {{share_methode.abrevigateNiveauName(emplois!.idClasse.idFiliere?.idNiveau?.nom!)}}-{{share_methode.abreviateFiliereName(emplois!.idClasse.idFiliere?.idFiliere?.nomFiliere!)}} {{share_methode.extractAnnee(emplois!.idClasse.idAnneeScolaire!)}}-{{share_methode.extractAnnee(emplois!.idClasse.idAnneeScolaire!) + 1}}</p>
    </div>

</div>

  <section class="section-head">

    <div class="month-contenaire">
      <!-- <p>{{formattedDate}}</p> -->
      <p> ETD {{emplois?.dateDebut}} au {{emplois?.dateFin}}</p>
    </div>


    <div id="logo" class="logo-masque-content">
      <img src="assets/logounivsegou.png" alt="alt">

    </div>
    <div id="idContent" class="btn-contenaire">
      <div class="child-1">

        <button *ngIf="permission" (click)="exportToExcel()" class="btn btn-valid-emplois" type="button"><fa-icon
            [icon]="icons.download"></fa-icon> Exporter</button>
        <button *ngIf="permission" (click)="to_show_button()" class="btn btn-valid-emplois" type="button"><fa-icon
            [icon]="icons.edit"></fa-icon> Editer</button>

        <button *ngIf="permission" class="btn btn-show-form" type="button"
          (click)="to_groupe(emplois?.idClasse?.id!, emplois?.id!, emplois?.idClasse?.idAnneeScolaire?.id!)"><fa-icon
            [icon]="icons.user"></fa-icon>
          Groupe</button>
        <button class="btn btn-show-form" *ngIf="scolarite || permission || secretaire" type="button"
          (click)="to_configure()"><fa-icon [icon]="icons.setting"></fa-icon> Séance</button>
      </div>


    </div>

  </section>

  <div class="entete-content">
    <div class="children">
      <h4>FILIERE : {{share_methode.abreviateFiliereName(emplois?.idClasse?.idFiliere?.idFiliere?.nomFiliere!)}}
      </h4>
    </div>
    <div class="children">
      <h4>NIVEAU : {{share_methode.abrevigateNiveauName(emplois?.idClasse?.idFiliere?.idNiveau?.nom!)}}-{{emplois?.idSemestre?.nomSemetre}}</h4>
    </div>
    <div class="children">
      <h4>Annee : {{emplois_shared.getMonth()}}</h4>
    </div>
    <!-- <div class="children">
      @for (salle of listSalle; track $index) {
        @for (item of salle.typeSeance; track $index) {
          @if (item.toString().toLocaleUpperCase() == 'CM') {
          <h4>Salle CM :  <span *ngFor="let config of teacherConf let i = index">
            @if (config.seanceType.toLowerCase() === 'cm') {
              {{ salle.salle.nom ? config.salle : ""}}
           
            } @else if(i == 0) {
              {{listSalle[0].salle.nom }}
            }
          </span>
          </h4>
          }
        }

      }
    </div> -->
    <div class="children" *ngIf="teacherConf.length == 0">
      @for (salle of listSalle; track $index) {
        @for (item of salle.typeSeance; track $index) {
          @if (item.toString().toLocaleUpperCase() == 'CM') {
          <h4>Salle CM :  {{salle.salle.nom}}</h4>
          }
        }

      }

    </div>
  </div>

  <section class="content">
    <!-- ------------------------------------------------------ -->
    <div class="section-table">
      <table class="table table-bordered" id="table">
        <thead>
          <tr>
            <th class="horai">Horaires</th>
            <!-- En-tête des jours -->
            <ng-container *ngFor="let dateInfo of datesWithDays">
              <th scope="col">{{ dateInfo.dateDay }}
                <div class="childre-2">

                  <div class="btn-cont" *ngIf="is_show_button">
                    <button (click)="show_comfirme_delete(dateInfo.date)" type="button">
                      <fa-icon [icon]="icons.delete" [ngStyle]="{ color: 'red' }" class="icon"></fa-icon>
                    </button>
                    <button (click)="show_update_seance(dateInfo.date)">
                      <fa-icon [icon]="icons.edit" class="icon"></fa-icon>
                    </button>
                  </div>
                </div>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody *ngIf="journee.length; else notFound">
          <!-- Iterer sur les créneaux horaires -->
          <ng-container *ngFor="let timeSlot of palageHoraires">
            <tr *ngIf="timeSlot !== '12H00 - 14H00'">
              <th scope="row" class="text-left">
                <div class="seance-content">
                  <span>{{ timeSlot }}</span>
                </div>
              </th>
              <!-- Iterer sur les jours -->
              <ng-container *ngFor="let dateInfo of datesWithDays">
                <td>
                  <ng-container *ngFor="let seance of test">
                    <!-- <p *ngIf="dateInfo.day.toLowerCase() == getDayFromDate(seance.date?.toString()!)">{{dateInfo.date}}</p> -->
                    <ng-container
                      *ngIf="dateInfo.day.toLowerCase() === emplois_shared.getDayFromDate(seance.date?.toString()!) && seance.plageHoraire?.includes(timeSlot)">

                      <div class="seance-content">
                        <div class="childre-1">
                          @if(seance.seanceType.toString().toLowerCase() === "examen"){
                          <strong>
                            {{seance.seanceType.toLocaleUpperCase()}}
                          </strong> <br>
                          <!-- {{seance.nomTeacher.charAt(0).toUpperCase()}}. {{seance.prenomTeacher}} -->
                          }@else {

                          <span>
                            <!-- {{seance.idEmplois}} ({{seance.seanceType.toLocaleUpperCase()}}) -->
                            {{seance.module}} ({{seance.seanceType.toLocaleUpperCase()}})
                          </span><br>
                          @if (seance.seanceType.toString() == 'td') {

                            @if(teacherConf.length == 0){
                          {{seance.nomTeacher.charAt(0).toUpperCase()}}. {{seance.prenomTeacher}}

                            }
                          }@else {
                          {{seance.nomTeacher.charAt(0).toUpperCase()}}. {{seance.prenomTeacher}}

                          }
                          }
                        </div>
                       

                      </div>
                    </ng-container>

                  </ng-container>
                </td>
              </ng-container>
            </tr>
            <tr *ngIf="timeSlot === '12H00 - 14H00'">
              <td colspan="9" class="text-center"><b>PAUSE</b></td>
            </tr>
          </ng-container>


        </tbody>
        <ng-template #notFound>
          <tr>
            <td colspan="100%">Aucune séance trouvée</td>
          </tr>
        </ng-template>
      </table>
      <div class="footer-content" *ngIf="permission">
        <div class="f-contenair">
          @for (seance of teacherConf; track $index) {
          <div class="footer">
            <p>{{seance.nom}} {{seance.prenom}} : {{seance.seanceType}}</p>
          </div>

          }
          @for (sal of teacherConf; track $index) {
          <div class="footer salle-footer">
            <!-- @if (sal.seanceType) {} -->
            {{sal.seanceType.includes('TD') ? "Salle TD : " : " Salle CM :"}}

            <div class="salle-row">
              <p class="group" (click)="goToGroupe(sal.idGroupe)">{{ sal.groupe}} : </p>
              <p class="salle"> {{sal.salle}};</p>

            </div>

          </div>
          }
          
          <div class="salle-row" *ngIf="teacherConf.length == 0">
            <p class="group" (click)="goToListStudent(emplois?.idClasse?.id!, emplois?.id!)">Toute la classe</p>
            

          </div>
        </div>
        <div class="signature">
          <p>Ségou le, {{student_shared.getCurrentDate()}}<br>
            Le chéf de Département
          </p>
          <p>Dr {{admin.nom.charAt(0).toLocaleUpperCase()}} {{admin.prenom.toLocaleUpperCase()}}<br>
            Maître assistant
          </p>
        </div>
      </div>


    </div>



  </section>

  <!-- --------------------------------------- -->

  <div class="overlay" *ngIf="is_show_configure"></div>
  <div class="overlay" *ngIf="choisir_group"></div>

  <div class="views delete-modal" *ngIf="deleted_modal">
    <h4>Confirmation de suppression</h4>
    <div class="views-content">
      <div class="content">
        <p>Êtes-vous sûr de vouloir supprimer cette séance pour cette date : {{hasDeleted.date}} ?</p>
      </div>
      <div class="button-cash">
        <a (click)="close_delete_modal()"><span>Annuler</span></a>
        <a class="submit" (click)="deleted(hasDeleted)"><span>Confirmer</span></a>
      </div>
    </div>
    
  </div>
  <div class="overlay" *ngIf="journeeSelect != null"></div>

</main>